---
import '../../styles/subpages.css'

import Header from "../../components/Header.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import ContactSection from "../../components/ContactSection.astro"
import "../../styles/button-ctnr.css";


import { ABOUT_TITLE, ABOUT_DESCRIPTION } from "../../consts";

---

<html lang="en">
    <head>
        <BaseHead title={ABOUT_TITLE} description={ABOUT_DESCRIPTION} />
    </head>

    <body>
        <Header />

        <main>
            <section class="panel">
                <div class="ctnr">
                    <div class="content reveal">
                        <h1>About <strong>The Clean Network</strong></h1>
    
                        <h2>The Clean Network – Our Story, Our Values, Our Commitment</h2>
    
                        <p>We are one of the leading office <strong>cleaning companies in London</strong>.</p>
    
                        <p>The Clean Network is your professional partner for commercial and office cleaning in London. Our story began with a singular mission - to provide businesses with <strong>reliable, high-standard cleaning services, instilling trust through our actions and maintaining a level of quality that speaks for itself.</strong></p>
    
                        <p>Our philosophy is simple yet robust - cleanliness and productivity go hand in hand. A clean working environment not only enhances the well-being of your staff but also promotes efficiency, motivation, and a positive corporate image. <b>We have spent years perfecting our services and processes, continuously investing in our team to meet the evolving needs of businesses in London.</b></p>
    
                        <p>Today, we are proud to be the trusted choice of over <b>500 offices daily, from small offices to corporate office buildings, legal practices to technology companies, and more.</b> Our cleaning specialists understand the unique needs of each sector, delivering tailored services with meticulous attention to detail and the <b>highest standards</b>.</p>
    
                        <p>At The Clean Network, we believe in building strong, long-lasting relationships with our clients. <b>Our 95% contract renewal rate speaks volumes about the trust businesses place in our services and our consistent ability to deliver excellence.</b> We don’t just clean; we care for your workspace as if it were our own, bringing an unwavering commitment to cleanliness and hygiene to your door, every single day.</p>

                        <p>Our team is our strength. Comprising skilled, dedicated professionals passionate about delivering top-tier service, we ensure every member of our team is thoroughly trained and equipped with the latest cleaning technology. As a company, <b>we are committed to providing a positive, supportive work environment where our team can excel</b>, reflecting our commitment to excellence in every task we undertake.</p>

                        <p><strong class="highlight">Partner with us and discover the difference The Clean Network can make.</strong></p>

                        <div class="bt_ctnr flex">
                            <div class="ctas flex">
                                <a href="#contact" class="cta">Get a Quote</a>

                                <a href="/jobs/" class="job_cta">Work with us</a>
                            </div>
                        
                            <div class="flex column">
                                <a href="tel:+44-020-3411-0275"><span>London:</span> 020 3411 0275</a>
                        
                                <!-- <a href="tel:+44-0121-3927529"><span>Birmingham:</span> 0121 3927529</a> -->
                            </div>
                        </div>

                        <ul class="bullets">
                            <li>
                                <span class="icon floor"></span>
                                Specialist Floor & Carpet Cleaning Service
                            </li>

                            <li>
                                <span class="icon cleaning"></span>
                                Cleaning Service
                            </li>

                            <li>
                                <span class="icon pest"></span>
                                Pest Control
                            </li>

                            <li>
                                <span class="icon hygiene"></span>
                                Hygiene Services
                            </li>

                            <li>
                                <span class="icon waste"></span>
                                Waste Management
                            </li>
                        </ul>
                    </div>

                    <div class="image reveal">
                        <!-- <picture>
                            <source srcset="/images/office01.webp">
                            <img src="/images/office01.jpg" alt="The Clean Network logo">
                        </picture> -->
                    </div>
                </div>
            </section>

            <ContactSection />
        </main>

        <Footer />
    </body>
</html>

<style>

    section > .ctnr {
    }

    section .content {
        padding: clamp(3rem,10vmin,8rem) 0 clamp(3rem,12vmin,8rem);
        margin-inline: auto;
        width:var(--base-width);
        display: block;
        font-size: clamp(1.5rem,3.8vmin,1.8rem);
        color: var(--grey);
    }

    h1 {
        font-size: clamp(1rem,9.5vmin,5rem);
        font-weight: 700;
        line-height: 1.2;
        color: var(--dark);
    }

    h1 strong {
        font-weight: inherit;
        color: var(--primary-a);
    }

    h2 {
        font-size: clamp(1rem,5.3vmin,2.3rem);
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 1rem;
        color: var(--dark);
    }

    p {
        line-height: 1.4;
        /* margin-bottom: 0.9rem; */
    }

    .panel .content p b, .panel .content p strong {
        font-weight: 500;
    }

    .panel .content .highlight {
        font-weight: 600;
        color: var(--primary-a);
    }

    .ctas .job_cta {
        background-color: var(--light-a);
        color: var(--primary-a);
        border: 0.1rem solid var(--light-b);
        box-shadow: unset;
        text-shadow: unset;
        font-weight: 600;
    }

    .bullets {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        font-size: 1.2em;
        color: var(--primary-a);
        font-weight: 500;
        line-height: 1.3;
    }

    .bullets li {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 1rem;
    }

    .bullets li .icon {
        width: 3rem;
        height: 3rem;
        display: inline-block;
    }

    .icon.floor {
        background-image: url('/icons/floor.svg');
    }

    .icon.cleaning {
        background-image: url('/icons/bucket.svg');
    }

    .icon.pest {
        background-image: url('/icons/pest.svg');
    }

    .icon.hygiene {
        background-image: url('/icons/broom.svg');
    }

    .icon.waste {
        background-image: url('/icons/waste.svg');
    }

    .ctnr .image {
        width:100%;
        height:clamp(30rem, 38vmin, 50rem);
        background-image: url('/images/office02.jpg');
        background-image: image-set(url('/images/office02.jpg') , url('/images/office02.webp') );
        background-size: cover;
        background-position: center;
    }

    @media screen and (min-width:850px) {
        .ctnr .image picture {
            
        }

        .ctnr .image {
            height: unset;
            max-height: calc(100vh - (clamp(1rem,16vmin,7.5rem) * 2));
            border-radius: 0 0 0 20vmin;
        }

        .bullets {
            font-size: 1em;
        }
    }

</style>