---
import { CollectionEntry, getCollection } from "astro:content";
import SubpageLayout from "../../layouts/SubpageLayout.astro";

export async function getStaticPaths() {
    const services = await getCollection("services");
    return services.map((services) => ({
        params: { slug: services.slug },
        props: services,
    }));
}
type Props = CollectionEntry<"services">;

const services = Astro.props;
const { Content } = await services.render();
---

<SubpageLayout {...services.data}>
    <h1>{services.data.title}</h1>
    
    <Content />

    <img src={services.data.image} alt="">
</SubpageLayout>
