---
type Props = CollectionEntry<"services">["data"];

const { title, description } = Astro.props;

import type { CollectionEntry } from "astro:content";
import Header from "../../components/Header.astro";
import BaseHead from "../../components/BaseHead.astro";
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body>
        <Header />

        <h1>{title}</h1>
    </body>
</html>
