---

import PitchLayout from "../../../layouts/PitchLayout.astro";

import { SITE_TITLE, SITE_DESCRIPTION, SITE_KEYWORDS } from "../../../consts";

import "../../../styles/pitch.css"

---

<script>
    ScrollReveal().reveal('.reveal_delay1', {
        distance: '1rem',
        origin: 'bottom',
        opacity: 0,
        duration:900,
        easing: 'ease',
        interval: 100,
    });
    ScrollReveal().reveal('.reveal_delay2', {
        distance: '1rem',
        origin: 'bottom',
        opacity: 0,
        duration:900,
        easing: 'ease',
        interval: 100,
    });
    ScrollReveal().reveal('.reveal_delay3', {
        distance: '1rem',
        origin: 'bottom',
        opacity: 0,
        duration:900,
        easing: 'ease',
        interval: 100,
    });
</script>

<PitchLayout title="Pitch Deck TCN Title" description="Pitch Deck TCN Description" keywords="Pitch Deck TCN Keywords">

    <!-- <header>
        <div class="ctnr">
            <a href="/" class="logo_anchor">
            </a>
        </div>
    </header> -->

    <main>
        <section class="intro">
            <div class="ctnr reveal">
                <picture class="logo">
                    <source srcset="/logo/logo.webp">
                    <img src="/logo/logo.png" alt="The Clean Network logo" width="160" height="160">
                </picture>

                <h1 class="reveal">The Clean Network<sup>©</sup></h1>

                <h2 class="reveal_delay1">Subheading goes here</h2>
                <!-- <p class="url">cleannetwork.co.uk</p> -->
            </div>
        </section>

        <a href="#see-more" class="down reveal_delay1">
            <span>
                <?xml version="1.0" encoding="UTF-8"?><svg id="Camada_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 157.58 100.01"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:40px;}</style></defs><polyline class="cls-1" points="146.98 10.61 78.79 78.79 10.61 10.61"/></svg>
            </span>
        </a>

        <section class="key_facts" id="see-more">
            <div class="ctnr">
                <div class="minor_subheader">
                    <h2 class="reveal_delay1">Key Facts</h2>
                </div>

                <div class="content">
                    <ul>
                        <li class="reveal_delay1">London based Commercial Cleaning Company focused on <b>SMEs</b>.</li>

                        <li class="reveal_delay1"><b>75 Clients.</b> From 2 hours a day shifts to multi site 50 hours a day shifts.</li>

                        <li class="reveal_delay1">Key Clients include <b>Spire Healthcare</b>, <b>The Wallace Space</b>, and <b>Robert Mcalpine</b>.</li>

                        <li class="reveal_delay1">Current Turnover in excess of <b>£680,000 p.a</b> with an adjusted EBITDA of over <b>£165,000</b>. Projected turnover by end of 2023 <b>£750k p.a.</b></li>

                        <li class="reveal_delay1">Coming out of the pandemic, we have this /experienced strong year on year growth. <b>In the last 12 months, our revenue has grown by 80%.</b></li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="operations">
            <div class="subheader">
                <div class="ctnr">
                    <h2 class="reveal_delay2 smaller"><span class="small reveal_delay1">Our</span> Operations</h2>
    
                    <p class="reveal_delay2">Our operational philosophy in a low margin sector is to <b>operate as efficiently as possible</b>.</p>

                    <p class="reveal_delay2">For a larger operator, looking for <b>M&A</b>, TCN offers a successful and mature business to plug into.</p>
                </div>
            </div>

            <div class="ctnr">
                <div class="content">
                    <h3 class="reveal">Digitally-Focused</h3>

                    <ul class="boxes">
                        <li class="reveal_delay3"><p>We use technology wherever it provides a <b>streamlining and time-saving impact</b>.</p></li>
    
                        <li class="reveal_delay3"><p>We use <b>digital scheduling platform</b> so all our staff know what’s required of them and when.</p></li>
    
                        <li class="reveal_delay3"><p>We use specialist Time & Attendance (T&A) Software to <b>track attendance and productivity of cleaners</b>.</p></li>
    
                        <li class="reveal_delay3"><p>We use <b>task scheduling software</b> so our cleaners can record key tasks are completed on client sites.</p></li>
    
                        <li class="reveal_delay3"><p>All cleaners have <b>digital sheets</b> for all their shifts.</p></li>
    
                        <li class="reveal_delay3"><p>Our Applicant tracking system (ATS) can <b>rapidly find and recruit new cleaners</b>.</p></li>
    
                        <li class="reveal_delay3"><p>We use <b>Hub Spot</b>, the CRM cloud database that runs all our client engagement alongside running all our marketing efforts.</p></li>
    
                        <li class="reveal_delay3"><p><b>WhatsApp Groups for all key clients</b>- set up between TCN, Cleaners and Client.</p></li>
                    </ul>


                    <hr>

                    <h3 class="reveal">Client Management</h3>

                    <ul class="boxes">
                        <li class="reveal_delay1"><p><b>Clients 20 hours a week+</b>: managed by directors Ben Leary and Charlie Harris with twice monthly sites visits alongside weekly supervisory from our supervisors.</p></li>
    
                        <li class="reveal_delay1"><p><b>Clients 10 hours-20 hours a week</b>:  Monthly Supervisory visits from our supervisory team.</p></li>
    
                        <li class="reveal_delay1"><p><b>10 hours and under are self service:</b>  What’s App Group communication if required.</p></li>
    
                        <li class="reveal_delay1"><p><b>Total Monthly Supervisory Hours:</b> 80 hours at a cost of £1000 a month.</p></li>
                    </ul>


                    <hr>

                    <h3 class="reveal">Day to Day Operations</h3>

                    <p class="reveal">We use a bi-lingual, cost-effective customer service team in <b>Bosnia</b> to deal with day to day operations.</p>

                    <ul class="boxes">
                        <li class="reveal_delay2"><p>Managing all client WhatsApp Groups</p></li>
    
                        <li class="reveal_delay2"><p>Managing all cleaning staff queries and well being</p></li>
    
                        <li class="reveal_delay2"><p>Internal ops - ensuring staff attendance and performance at client sites.</p></li>
                    </ul>


                    <hr>

                    <h3 class="reveal">Finances</h3>

                    <p class="reveal">All accounting tasks outsourced at a cost-effective fee.</p>


                    <hr>

                    <h3 class="reveal">Sales & Marketing</h3>

                    <p class="reveal">Directors backgrounds, we are both trained sales and marketing professionals which we bring to bear in <b>TCN</b> to ensure most efficient and effective use of marketing resource and spend.</p>

                    <div class="team_structure">
                        <div class="layer">
                            <div class="positions">
                                <p>Simon MD</p>
                            </div>
                        </div>

                        <hr>

                        <div class="layer">
                            <div class="sector">Operations</div>

                            <hr>

                            <div class="positions">
                                <p>Delivery Manager</p>
                                <p>Account Manager</p>
                                <p>Account Manager 2</p>
                                <p>Account Manager 3</p>
                                <p>Account Manager 4</p>
                            </div>
                        </div>

                        <hr>

                        <div class="layer">
                            <div class="sector">Recruitment</div>

                            <hr>

                            <div class="positions">
                                <p>Recruiter 1</p>
                                <p>Recruiter 2</p>
                            </div>
                        </div>

                        <hr>

                        <div class="layer">
                            <div class="sector">Accounts</div>

                            <hr>

                            <div class="positions">
                                <p>Accounts / Payroll</p>
                                <p>Accounts / Payroll</p>
                                <p>HR Contractor</p>
                                <p>Social Media Contractor</p>
                            </div>
                        </div>
                        
                        <hr>

                        <div class="layer">
                            <div class="sector">On the Ground Supervisors & Covers</div>

                            <hr>

                            <div class="positions">
                                <p>Supervisor 1</p>
                                <p>Supervisor 2</p>
                                <p>Supervisor 3</p>
                                <p>+8 Cover Cleaners</p>
                            </div>
                        </div>

                        <hr>

                        <div class="layer">
                            <div class="sector">On the Ground</div>

                            <hr>

                            <div class="positions">
                                <p>Employed Cleaners x40+</p>
                                <p>Contractor Window Cleaner</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="subheader">
                <div class="ctnr">
                    <h2 class="reveal_delay3">Cleaners</h2>
    
                    <p class="reveal_delay3"><b>Our staff are our lifeblood.</b> It’s vital we have a happy, motivated team.</p>
                </div>
            </div>

            <div class="ctnr">
                <ul class="boxes">
                    <li>
                        <p class="reveal_delay3">All our staff are paid well;</p>
                    </li>

                    <li>
                        <p class="reveal_delay3">We provide ongoing training and a clear path from cleaner to supervisor through to management team.</p>
                    </li>

                    <li>
                        <p class="reveal_delay3">We financially reward our teams with performance based bonuses and hold quarterly appraisals.</p>
                    </li>

                    <li>
                        <p class="reveal_delay3"><b>Our cleaner retention is above industry average of 4 years.</b></p>
                    </li>
                </ul>
            </div>
        </section>

        <section>
            <div class="ctnr">
                <div class="minor_subheader">
                    <h2 class="reveal_delay1">Force For Good</h2>
                </div>

                <div class="content">
                    <h3 class="reveal">Environmental Impact</h3>

                        <p class="reveal">The Clean Network holds itself responsible for its impact on the environment</p>
    
                        <p class="reveal">We do our utmost to be authentically sustainable without greenwashing and in the process of achieving our B Corp Certification.</p>


                    <hr>
                    
                    <h3 class="reveal">Social Impact</h3>

                    <div class="flex">
                        <div class="box reveal">
                            <h4>Living Wage Service Provider</h4>
        
                            <p>We believe that everybody should be able to improve their living standards through work. We also know from experience that people who are treated well and paid fairly are more committed, loyal and professional.</p>
                        </div>

                        <div class="box reveal">
                            <h4>Procurement</h4>
        
                            <p>We are very careful about where we source all our supplies and aim to use recycled products wherever possible. For example, we purchase our managers’ shirts from Royal Trinity Charity charity shops, a decision that benefits the environment and Londoners in end-of-life palliative care.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="why_tcn">
            <div class="subheader">
                <div class="ctnr">
                    <h2 class="reveal_delay1"><span class="small reveal_delay1">Why</span>The Clean Network<sup>©</sup></h2>
                </div>
            </div>

            <div class="ctnr">
                <div class="content">

                    <ul class="boxes">
                        <li class="reveal_delay3"><p>We’re a mature business with <b>10 years trading</b>.</p></li>
    
                        <li class="reveal_delay3"><p><b>Low Cost Operational Team</b> with established processes in place.</p></li>
    
                        <li class="reveal_delay3"><p>Big name clients with <b>scaleability to increase contract value</b>.</p></li>
    
                        <li class="reveal_delay3"><p>Strong Client retention - average <b>4 years</b>.</p></li>
    
                        <li class="reveal_delay3"><p>Strong Cleaner retention - average <b>4 years</b>.</p></li>
    
                        <li class="reveal_delay3"><p>Efficient <b>cleaner recruitment</b> with our ATS software.</p></li>
    
                        <li class="reveal_delay3"><p><b>Sustainability Focused</b></p></li>
    
                        <li class="reveal_delay3"><p>Strong Marketing performance. <b>ROAS 4:1</b></p></li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="clients">
            <div class="ctnr">
                <div class="minor_subheader">
                    <h2 class="reveal_delay1">Our Clients</h2>
                </div>
            </div>

            <div class="gallery">
                <img class="reveal_delay1" src="/client-logos/apptio.png" width="200" height="100" draggable="false" alt="client logo">
                
                <img class="reveal_delay1" src="/client-logos/sir-robert-mcalpine.jpg" width="200" height="100" draggable="false" alt="client logo">
                
                <img class="reveal_delay1" src="/client-logos/the-salvation-army.png" width="200" height="100" draggable="false" alt="client logo">
                
                <img class="reveal_delay1" src="/client-logos/spire-healthcare.png" width="200" height="100" draggable="false" alt="client logo">
                
                <img class="reveal_delay1" src="/client-logos/british-lung-foundation.png" width="200" height="100" draggable="false" alt="client logo">
            </div>
        </section>

        <section class="growth_plans">
            <div class="subheader">
                <div class="ctnr">
                    <h2 class="reveal_delay1">Our growth plans</h2>

                    <p class="reveal_delay1">With a growth rate of <b>4-6 customers per month</b>, factoring in year on year client attrition, <b>we forecast to double our turnover in 18 months</b>.</p>
                </div>
            </div>
        </section>
    </main>
</PitchLayout>