

section > .ctnr {
}

section .content {
    padding: clamp(3rem,10vmin,8rem) 0 clamp(3rem,12vmin,8rem);
    margin-inline: auto;
    width:var(--base-width);
    display: block;
    font-size: clamp(1.5rem,3.8vmin,1.8rem);
    color: var(--grey);
}

section .content .body {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem,2vmin,1.2rem);
}

h1 {
    font-size: clamp(1rem,9.5vmin,5rem);
    font-weight: 700;
    line-height: 1.2;
    color: var(--dark);
}

h1 strong {
    font-weight: inherit;
    color: var(--primary-a);
}

h2 {
    font-size: clamp(1rem,5.3vmin,2.3rem);
    line-height: 1.2;
    margin-bottom: 1rem;
    color: var(--dark);
}

p {
    line-height: 1.4;
    /* margin-bottom: 0.9rem; */
}

.panel .content p b, .panel .content p strong {
    font-weight: 500;
}

.panel .content .highlight {
    font-weight: 600;
    color: var(--primary-a);
}

.ctas .job_cta {
    background-color: var(--light-a);
    color: var(--primary-a);
    border: 0.1rem solid var(--light-b);
    box-shadow: unset;
    text-shadow: unset;
    font-weight: 600;
    box-shadow: inset 0 -1.2rem 1.5rem -1.5rem var(--light-b), 0 0.8rem 1rem -0.6rem var(--light-b);
}

.bullets {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: 1.2em;
    color: var(--primary-a);
    font-weight: 500;
    line-height: 1.3;
}

.bullets li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.bullets li .icon {
    width: 3rem;
    height: 3rem;
    display: inline-block;
}

.icon.floor {
    background-image: url('/icons/floor.svg');
}

.icon.cleaning {
    background-image: url('/icons/bucket.svg');
}

.icon.pest {
    background-image: url('/icons/pest.svg');
}

.icon.hygiene {
    background-image: url('/icons/broom.svg');
}

.icon.waste {
    background-image: url('/icons/waste.svg');
}

.ctnr .image {
    width:100%;
    height:clamp(30rem, 38vmin, 50rem);
    background-image: url('/images/office02.jpg');
    background-image: image-set(url('/images/office02.jpg') , url('/images/office02.webp') );
    background-size: cover;
    background-position: center;
}

@media screen and (min-width:850px) {
    .ctnr .image picture {
        
    }

    .ctnr .image {
        height: unset;
        max-height: calc(100vh - (clamp(1rem,16vmin,7.5rem) * 2));
        border-radius: 0 0 0 20vmin;
    }

    .bullets {
        font-size: 1em;
    }
}
