.form_ctnr {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-45%);
    background-color: #111;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 0.6rem;
    width: clamp(15rem, 85vw, 30rem);
    margin: 0 auto;
    padding: clamp(2.5rem, 5vw, 4rem) 0 3rem 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s 0.1s ease, visibility 0.2s 0.1s ease, transform 0.2s 0.1s ease;
    max-height: 91vh;
    overflow-y: auto;
    box-sizing: border-box;
    gap: 2rem;
} .show_out_area, .show_contact_sec {
    visibility: visible !important;
    opacity: 1 !important;
} .show_contact_sec {
    transform:translateY(-50%);
} .form_ctnr form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    letter-spacing: 0.2rem;
} .form_ctnr form p {

} .form_ctnr form label {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
} .form_ctnr input, .form_ctnr textarea {
    border-radius: 0.3rem;
    border: unset;
    padding: 0.6rem 0.4rem 0.6rem 0.8rem;
    margin-top: 0.3rem;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: inherit, sans-serif;
} .form_ctnr input {
    
} .form_ctnr textarea {
    min-height: 6rem;
    max-height: 20rem;
    min-width: 100%;
    max-width: 100%;
} .form_ctnr form button {
    width: 100%;
    display: block;
    font-family: 'Tablon', sans-serif;
    font-weight: 600;
    font-size: 0.75em;
    letter-spacing: 0.2rem;
    padding: 0.5rem 0;
    background-color: var(--c2);
    border: 0.1rem solid var(--c1);
    border-radius: 0.3rem;
    color: var(--c1);
    cursor: pointer;
    text-align: center;
    text-decoration: unset;
} .form_ctnr a {
    font-size: 1.2rem;
}

.out_area {
    position: fixed;
    inset:0;
    z-index: 10;
    background:#fff5;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s ease, visibility 0.6s ease;
}
