
html.sr .reveal, html.sr .reveal_interval01, html.sr .reveal_delay, html.sr .reveal_tag {
    visibility: hidden;
}

@media (min-width:850px) {
    header .subsets {
        opacity: 0;
        visibility: hidden;
        transform: translate(0%,calc(100% - 2rem));
        -webkit-transform: translate(0%,calc(100% - 2rem));
        -moz-transform: translate(0%,calc(100% - 2rem));
        -ms-transform: translate(0%,calc(100% - 2rem));
        -o-transform: translate(0%,calc(100% - 2rem));
    }
}

:root {
    --light: #f8f8ff;
    --light-a: #E9E9FF;
    --light-b: #bfbfd8;
    --light-c: #ffe3dc;
    --light-d: #E6EEFF;

    --grey: #667687;
    --grey-a: #4d637b;
    --grey-b: #4a5867;
    --grey-c: #566f8b;

    --dark: #2f363c;
    --dark-a:#394046;

    --primary: #2ea3f2;
    --primary-a: #106aa6;
    --primary-b: #48acff;
    --primary-c: #94c5dd;
    --primary-d:#4f8ec1;
    --primary-e: #0974bc;

    --highlight: #f2713a;
    --highlight-a:#fd601d;

    --max-width: 170rem;
    --base-width: clamp(9rem, 86vw, var(--max-width));
    --base-width-overflow: calc((100vw - var(--base-width)) / 2);

    --exceeded-width:clamp(10rem, 96vw, 190rem);

    --header-height: clamp(1rem,17vmin,7.5rem);
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.squares_bg {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Camada_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.5 25.5'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23fff;stroke-miterlimit:10;%7D%3C/style%3E%3C/defs%3E%3Cpolyline class='cls-1' points='25 0 25 25 0 25'/%3E%3C/svg%3E");
    background-size: clamp(1.2rem, 2vw, 2rem);
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    cursor: default;
}

h1, h2, h3, h4, h5, h6 {
    width: fit-content;
    font-weight: 600;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--light);
    color: var(--dark);
    position: relative;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: unset;
    cursor: pointer;
}

p a {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.2rem;
    background-color: var(--light-d);
    text-decoration-color: var(--primary-c);
    -moz-text-decoration-color: var(--primary-c);
}

p a:hover {
    background-color: transparent;
    text-decoration-color: var(--primary);
    -moz-text-decoration-color: var(--primary);
}

a h1, a h2, a h3, a h4, a h5, h5 {
    cursor: pointer;
}

img {
    user-select: none;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    object-position: center;
}

video {
    background-size: cover;
    background-position: center;
}

.mobile_hidden {
    display: none;
}

::selection {
    color: var(--light);
    background-color: var(--primary-e);
}

::-webkit-scrollbar {
    width: 2.2rem;
    height: 2rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--c3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 1.3rem;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
    border:0.7rem solid var(--light);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-d);
}

main {
    position: relative;
    z-index: 1;
    flex: 1;
}

.center_base_width {
    width: var(--base-width);
    margin-inline: auto;
}

button {
    background-color: transparent;
    outline-color: transparent;
    border: unset;
    padding: unset;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

button:focus-visible {
    outline: 0.1rem solid transparent;
}

button:not([type="submit"]):focus-visible {
    outline: 0.1rem solid transparent;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.center {
    align-items: center;
    justify-content: center;
}

.icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

ul, li {
    padding: 0;
    list-style: none;
    margin-block: 0;
}

.tangent_content_heading {
    text-align: center;
    display: block;
    font-weight: 500;
    color: var(--primary-e);
    font-size: clamp(2rem, 6vw, 2.8rem);
    margin-bottom: 2rem;
}

hr {
    border:unset;
    margin: unset;
}

noscript {
    font-size: 2rem;
    text-align: center;
    display: block;
    position: absolute;
    background-color: var(--light);
    z-index: 10;
    color: var(--dark-a);
    margin-inline: auto;
    padding: 1rem;
    border-radius: 0.3rem;
    border: 0.2rem solid var(--highlight);
    max-width: 80%;
    box-sizing: border-box;
    inset: 0;
    height: fit-content;
    margin: auto;
}

.scroll_margin_top {
    scroll-margin-top: calc(var(--header-height) + 4rem);
}

picture img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.default_bg {
    background-image: url("/images/office-bg01.jpg");
    background-image: image-set("/images/office-bg01.webp", "/images/office-bg01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.social .icon {
    width: 2rem;
    height: 2rem;
}

.instagram.icon {
    background-image: url('/icons/instagram.svg');
}

.facebook.icon {
    background-image: url('/icons/facebook.svg');
}

.linkedin.icon {
    background-image: url('/icons/linkedin.svg');
}


.panel > .ctnr {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}
.panel .cta span:first-of-type {
    display: inline-block;
    border-bottom: 0.5rem solid var(--highlight);
    border-right: 0.5rem solid var(--highlight);
    border-top: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    transform: translateX(calc(50% + -0.4rem)) rotate(-45deg) translateY(-50%);
    width: 0;
    height: 0;
    margin-right: 0.6rem;
}

.main.cta {
    font-size: clamp(1.5rem,4.2vmin,1.8rem);
    background-color: var(--highlight);
    color: var(--light);
    font-weight: 500;
    border: 0.1rem solid var(--light-d);
    border: 0.2rem solid var(--highlight);
    box-shadow: inset 0 -1.2rem 2rem -1.8rem #fff;
    text-shadow: 0 0.2rem 0rem rgb(47 54 60 / 38%);
    border-radius: 0.4rem;
    padding: clamp(1rem, 4vw, 1.5rem) clamp(1rem, 5vw, 2.5rem);
    transition: filter 0.3s ease;
    -webkit-transition: filter 0.3s ease;
    -moz-transition: filter 0.3s ease;
    -ms-transition: filter 0.3s ease;
    -o-transition: filter 0.3s ease;
    text-align: center;
}


.main.cta:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
    transition: filter 0.1s ease;
    -webkit-transition: filter 0.1s ease;
    -moz-transition: filter 0.1s ease;
    -ms-transition: filter 0.1s ease;
    -o-transition: filter 0.1s ease;
}

a.cta, button.cta {
    display: block;
    padding: clamp(1rem, 4vw, 1.5rem) clamp(1rem, 5vw, 2.5rem);
    border: 0.2rem solid;
    transition: filter 0.5s ease;
    text-shadow: 0 0.2rem 0rem rgb(47 54 60 / 38%);
    text-align: center;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

a.cta:hover, button.cta:hover {
    filter:brightness(1.1);
    transition: filter 0.1s ease;
}

a.cta.light, button.cta.light {
    text-shadow: unset;
}

.quote.cta {
    background-color: var(--highlight);
    border: 0.2rem solid var(--highlight);
    color: var(--light);
    font-weight: 500;
    box-shadow: inset 0 -1.2rem 1.5rem -1.5rem, 0 0.8rem 1rem -0.6rem var(--light-b);
}


.panel a.image {
    transition: filter 0.2s ease;
    -webkit-transition: filter 0.2s ease;
    -moz-transition: filter 0.2s ease;
    -ms-transition: filter 0.2s ease;
    -o-transition: filter 0.2s ease;
}

.panel a.image:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
    transition: filter 0.2s ease;
    -webkit-transition: filter 0.2s ease;
    -moz-transition: filter 0.2s ease;
    -ms-transition: filter 0.2s ease;
    -o-transition: filter 0.2s ease;
}

.panel .subsets {
    display: flex;
    gap: clamp(1rem, 2vw, 2rem) 0;
    flex-flow: row wrap;
}

.panel .subsets .heading {
    display: block;
    width: fit-content;
    font-size: 1em;
    margin-bottom: 1rem;
    font-weight: 500;
}

.panel .subsets a {
    font-size: 0.75em;
    color: var(--light-d);
}

.panel .subsets a:not(.heading) {
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0 0.6rem;
    transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    display: inline-block;
}

.panel .subsets a:not(.heading):hover {
    background-color:transparent;
    transition: background-color 0s ease;
    -webkit-transition: background-color 0s ease;
    -moz-transition: background-color 0s ease;
    -ms-transition: background-color 0s ease;
    -o-transition: background-color 0s ease;
}






@media (min-width:850px) {

    .intro.squares_bg {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Camada_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.5 25.5'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23fff;stroke-miterlimit:10;%7D%3C/style%3E%3C/defs%3E%3Cpolyline class='cls-1' points='25 0 25 25 0 25'/%3E%3C/svg%3E"), linear-gradient(175deg, transparent 60%, var(--light));
        background-size: clamp(1.2rem, 2vw, 2rem), cover;
    }    

    .panel > .ctnr {
        flex-direction: row;
        width: calc(100% - (100% - var(--base-width)) / 2);
        margin-left: auto;
    }

    .panel .image {
        flex: 1;
        position: relative;
    }

    .panel .subsets hr {
        width: 0.1rem;
        height: auto;
        margin: 0 clamp(1rem, 3vw, 5rem) 0 clamp(1rem, 2vw, 2rem);
    }
}





@media (min-width:1920px) {
    html {
        font-size: 11px;
    }
}

@media (min-width:2440px) {
    html {
        font-size: 12px;
    }
}

@media (min-width:3000px) {
    html {
        font-size: 14px;
    }
}

@media (min-width:4000px) {
    html {
        font-size: 16px;
    }
}

@media (min-width:5000px) {
    html {
        font-size: 19px;
    }
}