html.sr .reveal, html.sr .reveal_in_steps, html.sr .reveal_in_fast_steps {
    visibility: hidden;
}

:root {
    --light: #ffffff;
    --light-a: #B3B3B3;

    --dark: #1d1d1c;
    --dark-a: #30302d;
    --dark-b: #212121;
    --dark-c: #0E0E0E;
    --c1: #d1cb03;

    --width1: clamp(13rem, 85vw, 60rem);
    --width2: clamp(13rem, 85vw, 80rem);
    --width3: clamp(13rem, 85vw, 300rem);

    --mask-distance: 4rem;
}

html, body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    cursor: default;
    font-weight: inherit;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

button {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    border: unset;
    font-family: inherit;
    cursor: pointer;
    background-color: inherit;
    width: inherit;
    text-align: inherit;
    padding:0;
    max-width: 100%;
}

.flex {
    display: flex;
}

p button {
    text-decoration: underline;
}

img, svg, picture, video {
    user-select: none;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;
    object-fit: contain;
    object-position: center;
    display: block;
}

picture img {
    width: 100%;
    height: 100%;
}

.mobile_hidden {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

::selection {
    background-color: #363635;
    color: var(--light);
    -webkit-background-clip: unset;
    background-clip: unset;
    -webkit-text-fill-color: var(--light);
    background-image: unset;
}

.icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon.instagram {
    background-image: url(/icons/instagram.svg);
}

.icon.facebook {
    background-image: url(/icons/facebook.svg);
}

.icon.linkedin {
    background-image: url(/icons/linkedin.svg);
}

ul {
    padding:unset;
    list-style: none;
}

@font-face {
    font-family: Tablon;
    src: url("/fonts/Tablon-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Tablon;
    src: url("/fonts/Tablon-Medium.ttf");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: Tablon;
    src: url("/fonts/Tablon-Black.ttf");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: Tablon-Round;
    src: url("/fonts/Tablon-Round-Black.ttf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: BrilkSans;
    src: url("/fonts/BrilkSans-Light.otf");
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: BrilkSans;
    src: url("/fonts/BrilkSans-Medium.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: BrilkSans;
    src: url("/fonts/BrilkSans-Medium.ttf");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url("/fonts/Roboto-Regular.ttf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url("/fonts/Roboto-Light.ttf");
    font-weight: 400;
    font-display: swap;
}













@media (min-width:1920px) {
    html {
        font-size: 18px;
    }
}

@media (min-width:2440px) {
    html {
        font-size: 20px;
    }
}

@media (min-width:3000px) {
    html {
        font-size: 24px;
    }
}

@media (min-width:4000px) {
    html {
        font-size: 27px;
    }
}

@media (min-width:5000px) {
    html {
        font-size: 30px;
    }
}