
html.sr .reveal {
    visibility: hidden;
}

@media (min-width:850px) {
    header .subsets {
        opacity: 0;
        visibility: hidden;
        transform: translate(0%,calc(100% - 2rem));
        -webkit-transform: translate(0%,calc(100% - 2rem));
        -moz-transform: translate(0%,calc(100% - 2rem));
        -ms-transform: translate(0%,calc(100% - 2rem));
        -o-transform: translate(0%,calc(100% - 2rem));
    }
}

:root {
    --light: #f8f8ff;
    --light-a: #E9E9FF;
    --light-b: #bfbfd8;
    --light-c: #ffe3dc;
    --light-d: #E6EEFF;

    --grey: #667687;
    --grey-a: #4d637b;
    --grey-b: #4a5867;
    --grey-c: #566f8b;

    --dark: #2f363c;
    --dark-a:#394046;

    --primary: #2ea3f2;
    --primary-a: #106aa6;
    --primary-b: #48acff;
    --primary-c: #94c5dd;
    --primary-d:#4f8ec1;
    --primary-e: #0974bc;

    --highlight: #f2713a;
    --highlight-a:#fd601d;

    --max-width: 170rem;
    --base-width: clamp(9rem, 89vw, var(--max-width));
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    cursor: default;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--light);
    color: var(--dark);
    position: relative;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: unset;
}

img {
    user-select: none;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    object-position: center;
}

video {
    background-size: cover;
    background-position: center;
}

.mobile_hidden {
    display: none;
}

::selection {
    color: var(--light);
    background-color: var(--primary-e);
}

::-webkit-scrollbar {
    width: 2rem;
    height: 2rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--c3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    border:0.6rem solid var(--light);
}

main {
    position: relative;
    z-index: 1;
    flex: 1;
}


button {
    background-color: transparent;
    outline-color: transparent;
    border: unset;
    padding: unset;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

button:focus-visible {
    outline: 0.1rem solid transparent;
}

button:not([type="submit"]):focus-visible {
    outline: 0.1rem solid transparent;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.center {
    align-items: center;
    justify-content: center;
}

.icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

hr {
    border:unset;
}

noscript {
    font-size: 2rem;
    text-align: center;
    display: block;
    position: absolute;
    background-color: var(--light);
    z-index: 10;
    color: var(--dark-a);
    margin-inline: auto;
    padding: 1rem;
    border-radius: 0.3rem;
    border: 0.2rem solid var(--highlight);
    max-width: 80%;
    box-sizing: border-box;
    inset: 0;
    height: fit-content;
    margin: auto;
}



.default_bg {
    background-image: url("/images/office-bg01.jpg");
    background-image: image-set("/images/office-bg01.webp", "/images/office-bg01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.social .icon {
    width: 2rem;
    height: 2rem;
}

.instagram.icon {
    background-image: url('/icons/instagram.svg');
}

.facebook.icon {
    background-image: url('/icons/facebook.svg');
}

.linkedin.icon {
    background-image: url('/icons/linkedin.svg');
}


.panel > .ctnr {
    display: flex;
    flex-direction: column-reverse;
}

.panel .content {
    margin-inline: auto;
    padding: clamp(3rem,7vmin,6rem) 0 clamp(3rem,9vmin,6rem);
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 1.2vmin, 1.2rem);
}

.panel h3 {
    font-size: clamp(2rem, 11vw, 6rem);
}

.panel .content p {
    line-height: 1.5;
    font-size: clamp(1.5rem,4vmin,1.8rem);
}

/* .panel .content p, .panel .description {
    max-width: 65rem;
} */

.panel .content > hr, .panel .subsets hr {
    width: 2rem;
    margin: 1rem 0;
    height:0.1rem;
    background-color: rgb(248 248 255 / 20%);
}
.panel .cta span:first-of-type {
    display: inline-block;
    border-bottom: 0.5rem solid var(--highlight);
    border-right: 0.5rem solid var(--highlight);
    border-top: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    transform: translateX(calc(50% + -0.4rem)) rotate(-45deg) translateY(-50%);
    width: 0;
    height: 0;
    margin-right: 0.6rem;
}

.main.cta {
    font-size: clamp(1.5rem,4.2vmin,1.8rem);
    background-color: var(--highlight);
    color: var(--light);
    font-weight: 500;
    border: 0.1rem solid var(--light-d);
    border: 0.2rem solid var(--highlight);
    box-shadow: inset 0 -1.2rem 2rem -1.8rem #fff;
    text-shadow: 0 0.2rem 0rem rgb(47 54 60 / 38%);
    transition: filter 0.3s ease;
    -webkit-transition: filter 0.3s ease;
    -moz-transition: filter 0.3s ease;
    -ms-transition: filter 0.3s ease;
    -o-transition: filter 0.3s ease;
    text-align: center;
}


.main.cta:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
    transition: filter 0.1s ease;
    -webkit-transition: filter 0.1s ease;
    -moz-transition: filter 0.1s ease;
    -ms-transition: filter 0.1s ease;
    -o-transition: filter 0.1s ease;
}

.cta {
    border-radius: 0.3rem;
}

.panel .image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: flex;
    height: clamp(24rem,50vw,62rem);
    background-color: rgba(255,255,255,0.2);
    max-height: calc(100dvh - clamp(1rem,16vmin,7.5rem));
    font-size: 2rem;
}

.panel .subsets {
    display: flex;
    gap: clamp(1rem, 2vw, 2rem) 0;
    flex-flow: row wrap;
}

.panel .subsets .heading {
    display: block;
    width: fit-content;
    font-size: 1em;
    margin-bottom: 1rem;
    font-weight: 500;
}

.panel .subsets a {
    font-size: 0.75em;
    color: var(--light-d);
}

.panel .subsets a:not(.heading) {
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0 0.6rem;
    transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    display: inline-block;
}

.panel .subsets a:not(.heading):hover {
    background-color:transparent;
    transition: background-color 0s ease;
    -webkit-transition: background-color 0s ease;
    -moz-transition: background-color 0s ease;
    -ms-transition: background-color 0s ease;
    -o-transition: background-color 0s ease;
}


/* Map switcher fix */

.find_us .map iframe {
    width: clamp(10rem,85vmin,160rem);
    height: clamp(10rem,85vmin,48rem);
    display: flex;
    border-radius: 2rem;
    /* border: 0.2rem solid var(--primary); */
    background-color: var(--primary);
    background-image: url(/textures/dot-grid.jpg);
    background-image: image-set(url(/textures/dot-grid.jpg), url(/textures/dot-grid.webp));
    background-size: 40rem;
    border: 0.2rem solid var(--light-b);
}






@media (min-width:850px) {

    .panel > .ctnr {
        flex-direction: row;
        width: calc(100% - (100% - var(--base-width)) / 2);
        margin-left: auto;
    }

    .panel .content {
        margin-right: 5vw;
        width: unset;
        max-width: clamp(40rem,50vw,95rem);
        flex: 1;
    }

    .locations.panel > .ctnr .content {
        max-width: clamp(40rem,30vw,95rem);
    }

    .panel .image {
        flex: 1;
        position: relative;
    }

    .panel .image picture {
        position: sticky;
        top: clamp(1rem,16vmin,7.5rem);
        display: block;
    }

    .panel .image img {
        height: 100%;
        border-radius: 0 1.2rem 1.2rem 0;
        -webkit-border-radius: 0 1.2rem 1.2rem 0;
        -moz-border-radius: 0 1.2rem 1.2rem 0;
        -ms-border-radius: 0 1.2rem 1.2rem 0;
        -o-border-radius: 0 1.2rem 1.2rem 0;
    }

    .panel .image picture, .panel .image img {
        position: absolute;
        inset: 0;
        max-height: unset;
    }

    .panel .subsets hr {
        width: 0.1rem;
        height: auto;
        margin: 0 clamp(1rem, 3vw, 5rem) 0 clamp(1rem, 2vw, 2rem);
    }
}





@media (min-width:1920px) {
    html {
        font-size: 11px;
    }
}

@media (min-width:2440px) {
    html {
        font-size: 12px;
    }
}

@media (min-width:3000px) {
    html {
        font-size: 14px;
    }
}

@media (min-width:4000px) {
    html {
        font-size: 16px;
    }
}

@media (min-width:5000px) {
    html {
        font-size: 19px;
    }
}