:root {
    --sectors-services-padding: 1rem;
}

main {}

.intro {
    background-color: var(--light-d);
}

.intro>.ctnr {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 7vw, 7rem);
    position: relative;
}

.intro>.ctnr .content {
    width: var(--base-width);
    margin: clamp(2rem, 8vw, 6rem) auto 0;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 4vmin, 1.8rem);
}

.intro h1 {
    font-size: clamp(1rem, 10vmin, 6.2rem);
    font-weight: 700;
    line-height: 1.15;
}

.intro h1 span {
    color: var(--primary-a);
}

.intro h2 {
    font-size: clamp(1rem, 4.4vmin, 2.2rem);
    font-weight: 400;
    line-height: 1.5;
    max-width: 95%;
    color: var(--dark);
}

.intro h2 b, .intro h2 strong {
    font-weight: 500;
    color: var(--dark);
}

.intro h2 .highlight {
    color: var(--highlight-a);
}

.showcase {
    /* clip-path: polygon(0% 9%, 100% 0%, 100% 100%, 0% 100%); */
}

.showcase img {
    height: clamp(20rem, 60vmin, 62rem);
    max-height: 35vh;
    width: var(--base-width);
    object-fit: cover;
    object-position: center;
    display: flex;
    margin-inline: auto;
    border-radius: 0.8rem;
    border: 0.2rem solid var(--light-a);
    margin-bottom: 4rem;
}

.scroll_bt {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: clamp(4rem, 11vw, 5rem);
    height: clamp(4rem, 11vw, 5rem);
    box-sizing: border-box;
    border: 0.3rem solid var(--light);
    z-index: 3;
    background-color: var(--light-d);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    transform: translateY(50%);
    transition: background-color 0.3s ease, border-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
    -moz-transition: background-color 0.3s ease, border-color 0.3s ease;
    -ms-transition: background-color 0.3s ease, border-color 0.3s ease;
    -o-transition: background-color 0.3s ease, border-color 0.3s ease;
}

.scroll_bt:hover {
    border-color: var(--light-a);
    background-color: var(--light);
    transition: background-color 0s ease, border-color 0.3s ease;
    -webkit-transition: background-color 0s ease, border-color 0.3s ease;
    -moz-transition: background-color 0s ease, border-color 0.3s ease;
    -ms-transition: background-color 0s ease, border-color 0.3s ease;
    -o-transition: background-color 0s ease, border-color 0.3s ease;
}

.scroll_bt span {
    display: inline-block;
    border-bottom: 0.5rem solid var(--primary-a);
    border-right: 0.5rem solid var(--primary-a);
    border-top: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    transform: translateY(-0.25rem) rotate(45deg);
    width: 0;
    height: 0;
}

.services_and_sectors h3, .locations h3 {
    font-size: clamp(2rem, 11vw, 5.5rem);
}

.services_and_sectors h3::after {
    content: '';
    width: 2rem;
    height: 2.5rem;
    display: inline-block;
    margin-left: 1rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.services_and_sectors {
    display: flex;
    flex-flow: row wrap;
}

.services_and_sectors section {
    min-width: clamp(20rem, 58vw, 50rem);
    flex: 1;
    padding-top: clamp(4rem, 25vw, 10rem);
}

.services_and_sectors .services {
    background-color: var(--light-d);
    color: var(--primary-a);
}

.services_and_sectors .sectors {
    background-color: var(--primary-a);
    color: var(--light);
}

.services_and_sectors section > .ctnr {
    width: var(--base-width);
    max-width: 100%;
    margin-inline: auto;
}

.services_and_sectors .cta, .locations .cta {
    font-size: clamp(1.3rem,4.5vmin,1.8rem);
    font-weight: 500;
    width: fit-content;
    text-underline-offset: 0.7rem;
    line-height: 1.3;
    padding: 0.9rem 1.5rem 0.9rem clamp(1rem, 4vw, 1.8rem);
    transition: filter .3s ease;
    -webkit-transition: filter .3s ease;
    -moz-transition: filter .3s ease;
    -ms-transition: filter .3s ease;
    -o-transition: filter .3s ease;
    position: sticky;
    bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background-color: var(--light);
    color: var(--primary-a);
}

.services_and_sectors .cta:hover, .locations .cta:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
    transition: filter .1s ease;
    -webkit-transition: filter .1s ease;
    -moz-transition: filter .1s ease;
    -ms-transition: filter .1s ease;
    -o-transition: filter .1s ease;
}

/* .services_and_sectors .services .cta {
    background-color: var(--light);
}

.services_and_sectors .sectors .cta {
    background-color: var(--primary-e);
} */

.services_and_sectors .cta span:first-of-type {
    border-bottom: 0.5rem solid var(--highlight);
    border-right: 0.5rem solid var(--highlight);
}

.locations .cta span:first-of-type {
    border-bottom: 0.5rem solid var(--highlight);
    border-right: 0.5rem solid var(--highlight);
}

.services_and_sectors .cta span:first-of-type, .locations .cta span:first-of-type {
    display: inline-block;
    border-top: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    width: 0;
    height: 0;
    transform: translate(-50%) rotate(-45deg);
    -webkit-transform: translate(-50%) rotate(-45deg);
    -moz-transform: translate(-50%) rotate(-45deg);
    -ms-transform: translate(-50%) rotate(-45deg);
    -o-transform: translate(-50%) rotate(-45deg);
}

.services_and_sectors .content {
    margin-bottom: 3rem;
    z-index: 2;
}

.services_and_sectors .content a {
    width: fit-content;
    border-color: var(--light-a);
}

.services_and_sectors .content p {
    line-height: 1.5;
    font-size: clamp(1rem,4vmin,1.8rem);
    max-width: 66rem;
    margin-block: 1rem 1.6rem;
}

.services_and_sectors .content p b, .services_and_sectors .content strong {
    font-weight: 400;
}

.services_and_sectors img {
    width: 100%;
    display: block;
    height: clamp(30rem, 100vw, 75rem);
    margin-bottom: -5rem;
    position: relative;
    z-index: 1;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.benefits {
    background-color: var(--light);
    padding: clamp(3rem, 11vmin, 11rem) 0 clamp(3rem, 11vmin, 7rem);
    color: var(--grey-a);
    font-size: clamp(1.5rem, 4vmin, 2.2rem);
}

.benefits>.ctnr {
    width: var(--base-width);
    margin-inline: auto;
    max-width: 100%;
}

.benefits h3 {
    margin-inline: auto;
    font-size: clamp(2rem, 7vmin, 4rem);
    text-align: center;
    font-weight: 500;
    width: fit-content;
    padding: 0.4rem 1rem;
    margin-bottom: 1rem;
    color: var(--primary-a);
}

.benefits h3 + p {
    padding: 0 1rem;
    text-align: center;
    width: var(--base-width);
    margin-inline: auto;
    font-size: 2rem;
}

.benefits .bullets {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    gap: 3.5rem clamp(1.8rem, 3vw, 4rem);
    margin-block: clamp(3rem, 11vw, 6rem) clamp(3rem, 4vw, 3.5rem);
}

.benefits .box {
    width: clamp(27rem, 69vw, 33rem);
    text-align: center;
    padding: 3rem 2.5rem 2.5rem;
    border-radius: 1.2rem;
    background-color: var(--light-d);
    border:0.2rem solid var(--light-d);
    position: relative;
    box-sizing: border-box;
    transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
}

/* .benefits .box:nth-child(odd) {
    right: 0.5rem;
}

.benefits .box:nth-child(even) {
    left: 0.5rem;
} */

.benefits .box:hover {
    background-color: var(--light);
    transition: background-color 0.06s ease;
    -webkit-transition: background-color 0.06s ease;
    -moz-transition: background-color 0.06s ease;
    -ms-transition: background-color 0.06s ease;
    -o-transition: background-color 0.06s ease;
}

.benefits .box .icon {
    width: clamp(2rem, 11vw, 4.2rem);
    height: clamp(2rem, 8vw, 3rem);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    transform: translateY(-50%);
}

.benefits .box .title {
    font-size: clamp(1.6rem, 4vw, 1.8rem);
    font-weight: 400;
    line-height: 1.4;
}

.benefits .box .title b, .benefits .box .title strong {
    font-weight: 500;
    color: var(--primary-a);
}

.benefits .box p {
    font-size: clamp(1.2rem, 3.8vmin, 1.6rem);
    margin-bottom: 1rem;
    line-height: 1.4;
}

.benefits .box > .ctnr {
    margin-inline: clamp(2rem, 5vw, 4rem);
    background-color: var(--light-a);
    position: relative;
    padding: 3rem;
    border-radius: 1.2rem;
    color: var(--dark-a);
}

.benefits .main.cta {
    display: block;
    margin-inline: auto;
    width: fit-content;
    margin-top: 3rem;
    background-color: var(--primary-a);
    color: var(--light);
    text-shadow: unset;
    border: 0.2rem solid var(--primary-d);
    width: clamp(9rem, 89vw, 37rem);
    box-sizing: border-box;
    position: sticky;
    bottom: 2rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.benefits h3 + p b, .benefits h3 + p strong {
    font-weight: 500;
    background-color: var(--light-a);
    color: var(--primary-e);
}

section.clients {
    background-color: var(--primary-e);
    margin-top: clamp(2rem, 9vw, 5rem);
    background-image: url(/images/blur01.jpg);
    background-image: image-set(url(/images/blur01.webp) , url(/images/blur01.jpg) );
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding-top: 5rem;
}

.clients>.ctnr {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(1rem, 2vw, 1.2rem);
    max-width: var(--base-width);
    width: fit-content;
    box-sizing: border-box;
    transform: translateY(17%);
}

.clients h3 {
    font-size: clamp(1.8rem, 4.5vw, 2rem);
    color: var(--light);
    font-weight: 500;
}

.clients .content {
    background-color: var(--light);
    display: flex;
    flex-direction: row;
    gap: clamp(2rem, 9vw, 6rem);
    overflow: auto;
    padding: clamp(2rem, 4vw, 3rem) calc((100% - var(--base-width)) / 2);
    padding-inline: clamp(2rem, 8vw, 5rem);
    box-sizing: border-box;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
    border: 0.1rem solid var(--light-a);
    box-shadow: 0 1rem 2rem -1rem var(--light-b);
}

.clients .content img, .clients .content picture {
    height: clamp(8rem, 10vw, 9rem);
    min-width: fit-content;
    object-fit: contain;
}

.services h3::after {
    background-image: url('/icons/services.svg');
}

.services .content p {
    color: var(--dark);
}

.services .content p .small {
    font-size: clamp(1rem,3.8vmin,1.65rem);
    line-height: 1.4;
    display: block;
    margin-top: 1.2rem;
    font-weight: 450;
    color: var(--primary-e);
}

.services .content p b, .services .content p strong {
    font-weight: 500;
    color: var(--primary-a);
}

.sectors h3::after {
    background-image: url('/icons/sectors.svg');
}

.locations.panel .cta span:first-of-type {
    border-bottom: 0.5rem solid var(--dark);
    border-right: 0.5rem solid var(--dark);
}

.services .subsets .heading {
    color: var(--primary-a);
}

.services .subsets a:not(.heading) {
    color: var(--primary-a);
    font-weight: 500;
    background-color: var(--light-d);
    border: 0.2rem solid var(--light-d);
}

.sectors .subsets a:not(.heading) {
    background-color: var(--primary-e);
    border: 0.2rem solid var(--primary-e);
}

.services .content>hr, .services .subsets hr {
    background-color: rgb(16 106 166 / 15%);
}

.sectors h3 {
    font-weight: 500;
}

.sectors .subsets .heading {
    color: var(--light);
}

.services .subsets .heading .icon {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 0.5rem;
    background-color: var(--light);
    border-radius: 0.3rem;
}

.services .subsets .indoor .icon {
    background-image: url(/icons/indoor.svg);
}

.services .subsets .outdoor .icon {
    background-image: url(/icons/outdoor.svg);
}

section.text {
    width: clamp(9rem, 84vw, 106rem);
    margin-inline: auto;
    text-align: center;
    margin-block: clamp(2rem, 30vw, 12rem) clamp(2rem, 20vw, 15rem);
}

section.text>.ctnr {
    
}

section.text h3 {
    margin-inline: auto;
    margin-bottom: clamp(1.5rem, 4vw, 3rem);
    font-size: clamp(2rem, 7vmin, 4.4rem);
    color: var(--primary-e);
}

section.text p {
    margin-bottom: 1.6rem;
    line-height: 1.5;
    font-size: clamp(1.5rem, 4.4vmin, 2rem);
    color: var(--grey-b);
}

section.text .big {

}

section.text p b, section.text p strong {
    font-weight: 500;
    color: var(--primary-a);
}

section.text .cta {
    display: block;
    margin-top: 2rem;
    max-width: 20rem;
    margin-inline: auto;
}

section.locations {
    background-color: var(--light-d);
    color: var(--dark-a);
}

.locations > .ctnr {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.locations .contact_ctnr {
    background-color: var(--grey-c);
    color: var(--light);
    padding: 1.5rem 2.5rem;
    width: fit-content;
    margin-top: 2rem;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.locations .content {
    padding: clamp(1rem, 4vw, 9rem) 0 0;
    width: var(--base-width);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-bottom: 4rem;
}

.locations h3 {
    color: var(--highlight);
}

.locations .content p {
    line-height: 1.6;
    font-size: clamp(1rem,4vmin,1.8rem);
    max-width: 66rem;
}

.locations .content p b, .locations .content p strong {
    font-weight: 500;
}

.locations address {
    font-size: clamp(1rem,4vmin,1.8rem);
    font-style: unset;
    margin-bottom: 1rem;
}

.locations .flex.column {
    gap: 1rem;
}

.locations strong {
    font-weight: 500;
}

.locations .map {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.locations .map iframe {
    width: clamp(10rem,85vmin,50rem);
    height: clamp(10rem,85vmin,50rem);
    max-width: 100%;
    display: flex;
    border-radius: 2rem;
    background-color: var(--primary);
    background-image: url(/textures/dot-grid.jpg);
    background-image: image-set(url(/textures/dot-grid.jpg) , url(/textures/dot-grid.webp) );
    background-size: 40rem;
    border: 0.3rem solid var(--light);
    box-shadow: 0 1.5rem 2rem -1rem var(--light-b);
}

.locations .iframe_ctnr {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locations > .ctnr img {
    border-radius: 1rem 1rem 14rem 1rem;
    max-height: calc(100vh - var(--header-height));
    border-bottom: 1.2rem solid var(--highlight);
    width: var(--base-width);
    margin-inline: auto;
    display: block;
}

.locations .cta {
    background-color: var(--light);
    color: var(--dark-a);
    margin-block: 1rem 2rem;
    border: 0.2rem solid var(--light-c);
    box-shadow: 0 1rem 1rem -1rem var(--light-b);
}

section.testimonials {
    color: var(--dark-a);
    position: relative;
    /* margin-block: 10rem; */
}

/* .testimonials::before, .testimonials::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: clamp(2rem, 12vw, calc((100vw - var(--base-width)) / 2));
    opacity: 0.8;
    z-index: 1;
}

.testimonials::before {
    left: 0;
    background-image: linear-gradient(90deg, var(--light), transparent);
}

.testimonials::after {
    right: 0;
    background-image: linear-gradient(-90deg, var(--light), transparent);
} */

.testimonials>.ctnr {
    max-width: 100%;
    margin-inline: auto;
    overflow: hidden;
    background-color: var(--light);
    padding: clamp(3rem, 30vw, 15rem) 0 clamp(3rem, 25vw, 10rem);
}

.testimonials .box_ctnr {
    position: relative;
}

.testimonials sup {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    display: block;
    color: var(--light-b);
    font-weight: 400;
    width: fit-content;
    border-radius: 2rem;
    font-style: italic;
    position: absolute;
    bottom: 100%;
}

/* .testimonials h3 {
    margin-inline: auto;
    font-size: clamp(1rem, 6vmin, 2.2rem);
    font-weight: 400;
    width: 100%;
    text-align: center;
    z-index: 4;
    color: var(--light);
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-a);
    padding: 3rem 1.7rem;
    box-sizing: border-box;
    background-image: url(/images/blur01.jpg);
    background-image: image-set(url(/images/blur01.webp) , url(/images/blur01.jpg) );
    background-size: cover;
    background-position: center;
} */

.tns-nav {
    display: none;
}

.slider {
    display: block;
    gap: 1rem;
    max-width: var(--base-width);
}

.testimonials .box {
    width: clamp(9rem, 92vw, 120rem);
    box-sizing: border-box;
    margin-inline: auto;
    line-height: 1.3;
}

.testimonials .box>.ctnr {
    margin-inline: clamp(2rem, 10vw, 15rem);
    position: relative;
}

.testimonials .box>.ctnr::before {
    bottom: -1.3rem;
    right: -1.3rem;
    width: 11rem;
    height: 5rem;
    border-bottom: 0.4rem solid var(--primary);
    border-right: 0.4rem solid var(--primary);
    border-radius: 0 0 4rem 0;
}

.testimonials .profile {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    font-size: 2.3rem;
    gap: clamp(1rem, 3vw, 1.5rem);
    position: relative;
    left: 0;
    z-index: 3;
    padding: clamp(1rem, 4vw, 3rem);
    background-color: var(--light-d);
    border-radius: 0.8rem;
}

.testimonials .name {
    font-size: 1em;
    font-weight: 600;
    color: var(--primary-a);
    line-height: 1.2;
}

.testimonials .description {
    font-size: clamp(1rem, 4vw, 1.5rem);
    color: var(--grey);
    max-width: 50vw;
}

.testimonials .profile img {
    width: clamp(6rem, 7vw, 8rem);
    height: clamp(6rem, 7vw, 8rem);
    border-radius: 50%;
    border: 0.3rem solid var(--light-a);
    object-fit: contain;
}

.testimonials .profile .flex {
    flex-direction: column;
    gap: clamp(0.2rem, 0.3vw, 0.8rem);
}

.testimonials .box .content {
    position: relative;
    max-height: clamp(10rem, 55vh, 50rem);
    max-height: clamp(10rem, 55svh, 50rem);
    overflow-y: auto;
    display: block;
    /* padding-right: clamp(1rem, 2vmin, 3rem); */
}

.testimonials .box .content::-webkit-scrollbar {
    width: 0.9rem;
}

.testimonials .box .content::-webkit-scrollbar-thumb {
    background-color: var(--light-a);
    border-radius: 1rem;
}

.testimonials .box .ctnr:hover .content::-webkit-scrollbar-thumb, .testimonials .box .content::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-b);
}

.testimonials .box .gradient {
    display: none;
    position: sticky;
    bottom: -0.2rem;
    width: 100%;
    height: 3rem;
    background-image: linear-gradient(0deg, var(--light-d) 15%, transparent);
}

.testimonials q::before, .testimonials q::after {
    font-size: clamp(7rem, 50vmin, 25rem);
    line-height: 1;
    position: absolute;
    color: var(--light-a);
    z-index: 1;
}

.testimonials q::before {
    left: -5rem;
    transform: translateY(-5rem);
}

.testimonials q::after {
    right: 0;
    transform: translateY(-1rem);
}

.testimonials .heading {
    font-size: clamp(1.8rem, 5.4vmin, 2.5rem);
    margin-bottom: 1rem;
    color: var(--primary-a);
    font-weight: 550;
    line-height: 1.4;
}

.testimonials .heading, .testimonials .description {
    position: relative;
    z-index: 3;
}

.testimonials blockquote {
    margin: unset;
    font-size: clamp(1.5rem, 3.6vmin, 1.7rem);
    color: var(--grey-c);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.5;
}













section.faq {
    background-color: var(--light-d);
}

.faq > .ctnr {
    width: clamp(9rem, 86vw, 90rem);
    margin-inline: auto;
    padding-block: clamp(2rem, 9vw, 6rem) clamp(2rem, 15vw, 12rem);
}

.faq_list li {
    box-shadow: 0 1rem 1rem -0.5rem var(--light-a);
    border-color: var(--light);
}

.faq h3 {
    margin-inline: auto;
    margin-bottom: clamp(1.5rem, 4vw, 3rem);
    font-size: clamp(2rem, 7vmin, 4.4rem);
    color: var(--primary-e);
    text-align: center;
}

.faq .check_all {
    text-align: center;
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-a);
    padding: 1.3rem 3rem;
    margin-top: 3rem;
    border-radius: 0.4rem;
    border: 0.2rem solid var(--light);
    margin-inline: auto;
    background-color: var(--light);
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.faq .check_all:hover {
    background-color: var(--light-d);
    transition: background-color 0s ease;
    -webkit-transition: background-color 0s ease;
    -moz-transition: background-color 0s ease;
    -ms-transition: background-color 0s ease;
    -o-transition: background-color 0s ease;
}














/* .testimonials .slider img {
    width: clamp(26rem, 80vw, 32rem);
    border-radius: 0.9rem;
} */

.slider .tns-controls {
    display: flex;
    justify-content: center;
}

.slider .tns-controls button {}

section.find_us {
    background-color: var(--primary-a);
    color: var(--light);
    padding-top: 2rem;
}

.find_us>.ctnr {
    flex-direction: column;
}

.find_us .content {}

.redir_warning {
    position: fixed;
    bottom: 3rem;
    left: 1rem;
    right: 1rem;
    width: clamp(10rem, 82vw, 55rem);
    margin-inline: auto;
    background-color: var(--light-a);
    z-index: 4;
    color: var(--dark-a);
    text-align: center;
    padding: 1.3rem 2rem;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    border: 0.3rem solid red;
    box-shadow: 0 1.5rem 1rem -1rem rgb(0 0 0 / 62%);
    line-height: 1.3;
    animation: appear 1.4s ease 1;
    -webkit-animation: appear 1.4s ease 1;
    opacity: 0;
    transform: translateY(5rem);
    -webkit-transform: translateY(5rem);
    -moz-transform: translateY(5rem);
    -ms-transform: translateY(5rem);
    -o-transform: translateY(5rem);
    transition: opacity 0.6s ease, transform 0.6s ease;
    -webkit-transition: opacity 0.6s ease, transform 0.6s ease;
    -moz-transition: opacity 0.6s ease, transform 0.6s ease;
    -ms-transition: opacity 0.6s ease, transform 0.6s ease;
    -o-transition: opacity 0.6s ease, transform 0.6s ease;
}

.redir_warning.show {
    opacity: 1;
    transform: translateY(0rem);
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    -o-transform: translateY(0rem);
}

.redir_warning span {
    color:crimson;
}

.redir_warning button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.4rem;
    height: 1.4rem;
}







@media screen and (min-width: 850px) {
    .intro>.ctnr {
        flex-direction: row;
        width: calc(100% - (100% - var(--base-width)) / 2);
        margin-left: auto;
        gap: 0;
        align-items: center;
    }

    .intro>.ctnr .content {
        margin: clamp(3rem, 9vmin, 9rem) auto clamp(3rem, 9vmin, 9rem) 0;
        width: unset;
        max-width: clamp(40rem, 50vw, 84rem);
    }

    .intro h1 {
        font-size: clamp(3.8rem, calc(5.2vw - 1rem), 7rem);
        max-width: unset;
        line-height: 1.15;
    }

    .intro h2 {
        font-size: clamp(1.8rem, calc(4.8vw - 3.8rem), 2rem);
        max-width: clamp(10rem, 88%, 68rem);
        line-height: 1.6;
    }

    .showcase {
        flex: 1;
        /* clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%); */
        max-width: 150rem;
    }

    .showcase img {
        max-height: unset;
        display: flex;
        margin-bottom: -3rem;
        height: clamp(20rem, 77vmin, 62rem);
        border-radius: 0 0 0 10rem;
        border: unset;
    }
    
    .scroll_bt {
        right: calc((100VW - var(--base-width)) / 2);
    }

    .services_and_sectors section {
        padding-block: unset;
        border: 2rem solid var(--light);
    }

    .services_and_sectors section > .ctnr {
        width: unset;
        display: flex;
        flex-direction: column-reverse;
    }

    .services_and_sectors .content {
        position: sticky;
        bottom: 4rem;
        padding: 4rem calc(11rem - (var(--sectors-services-padding) * 4)) 6rem;
        display: flex;
        flex-direction: column;
        /* min-height: clamp(10rem, 40vw, 41rem); */
        box-sizing: border-box;
        border-radius: 0.6rem;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        -ms-border-radius: 0.6rem;
        -o-border-radius: 0.6rem;
        margin: -2rem calc(var(--sectors-services-padding) * 2) 0;
        transform: translateY(calc(var(--sectors-services-padding) * 2));
        -webkit-transform: translateY(calc(var(--sectors-services-padding) * 2));
        -moz-transform: translateY(calc(var(--sectors-services-padding) * 2));
        -ms-transform: translateY(calc(var(--sectors-services-padding) * 2));
        -o-transform: translateY(calc(var(--sectors-services-padding) * 2));
        backdrop-filter: blur(1rem);
}

    .services_and_sectors img {
        border-radius: 1.6rem;
        -webkit-border-radius: 1.6rem;
        -moz-border-radius: 1.6rem;
        -ms-border-radius: 1.6rem;
        -o-border-radius: 1.6rem;
}

    .services_and_sectors {
        max-width: var(--max-width);
        margin-inline: auto;
    }

    section.clients {
        margin-bottom: 12rem;
    }

    .services_and_sectors .sectors {
        border-left-width: var(--sectors-services-padding);
        border-right-width: calc(var(--sectors-services-padding) * 2);
    }

    .services_and_sectors section.services, .services_and_sectors section.sectors {
        background-color: transparent;
    }

    .services_and_sectors .services {
        border-right-width: var(--sectors-services-padding);
        border-left-width: calc(var(--sectors-services-padding) * 2);
    }

    .services_and_sectors .services .content {
        background-color: rgb(230 238 255 / 90%);
    }

    .services_and_sectors .sectors .content {
        background-color: rgb(16 106 166 / 90%);
    }

    .benefits .bullets {
        gap: 2rem;
    }

    .benefits .box {
        flex: 1;
        width: unset;
        min-width: clamp(22rem, 16vw, 30rem);
        max-width: 33rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-block: clamp(1rem, 1.8vw, 3rem);
    }

    .benefits .main.cta {
        position: static;
    }

    .testimonials .box>.ctnr {
        display: flex;
        gap: clamp(2rem, 5vw, 4rem);
        align-items: center;
    }

    .testimonials .profile {
        flex-direction: column;
        text-align: right;
        min-width: clamp(10rem, 10vw, 16rem);
        align-items: flex-end;
        margin-bottom: 0;
    }

    .testimonials sup {
        width: 15rem;
    }

    /* .testimonials::before, .testimonials::after {
        z-index: 3;
    }

    .testimonials .box {
        
    } */

    .locations .map {
        align-items: flex-start;
    }

    /* Map switcher fix */
    
    .locations .map iframe {
        
    }

    .locations > .ctnr {
        flex-direction: row;
        width: calc(100% - (100% - var(--base-width)) / 2);
        margin-left: auto;
        gap: clamp(10rem, var(--base-width-overflow), 25rem);
    }

    .locations > .ctnr .content {
        max-width: clamp(40rem,35vw,95rem);
    }

    .locations > .ctnr img {
        border-radius: clamp(14rem, 13vw, 24rem) 0 0 0;
        position: sticky;
        top: calc(var(--header-height) + 3rem);
        border-bottom: unset;
        border-top: 1.2rem solid var(--highlight);
        margin-top: -5rem;
    }

    .find_us>.ctnr {
        flex-direction: row;
    }

    .panel.find_us .content {
        margin: unset;
        max-width: clamp(40rem, 33vw, 95rem);
        /* padding: clamp(3rem,10vmin,6rem) 0 clamp(3rem,12vmin,6rem); */
    }

    section.find_us {
        padding-top: unset;
    }

    .find_us .iframe_ctnr {
        margin-bottom: unset;
    }

}