main {}

.intro>.ctnr {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 7vw, 7rem);
    position: relative;
}

.intro>.ctnr .content {
    width: var(--base-width);
    margin: clamp(2rem, 10vw, 6rem) auto 0;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 3vmin, 1.8rem);
}

.intro h1 {
    font-size: clamp(1rem, 8.5vmin, 6.2rem);
    font-weight: 700;
    line-height: 1.2;
    color: var(--primary-a);
}

.intro h2 {
    font-size: clamp(1rem, 4.2vmin, 2.2rem);
    font-weight: 500;
    line-height: 1.5;
    max-width: 95%;
    color: var(--grey-b);
}

.intro h2 b, .intro h2 strong {
    font-weight: inherit;
    color: var(--dark);
}

.intro h2 .highlight {
    color: var(--highlight-a);
}

.showcase {
    clip-path: polygon(0% 9%, 100% 0%, 100% 100%, 0% 100%);
}

.showcase img {
    height: clamp(30rem, 110vmin, 66rem);
    max-height: 35vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: flex;
}

.scroll_bt {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 4rem;
    height: 4rem;
    box-sizing: border-box;
    border: 0.2rem solid var(--light-a);
    z-index: 3;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0 0.8rem 1.5rem -1.1rem var(--dark); */
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.scroll_bt span {
    display: inline-block;
    border-bottom: 0.5rem solid var(--primary-a);
    border-right: 0.5rem solid var(--primary-a);
    border-top: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    transform: translateY(-0.25rem) rotate(45deg);
    width: 0;
    height: 0;
}

.panel_ctnr {
    background-color: var(--light-d);
    padding-block: clamp(2rem, 8vw, 5rem) clamp(2rem, 14vw, 6rem);
    display: flex;
    flex-direction: column;
    gap: clamp(4rem, 5vw, 5rem);
}

.panel.services, .panel.sectors {
    width: clamp(9rem, 91vw, 185rem);
    margin-inline: auto;
    border-radius: 1.2rem;
}

.panel h3 {
    font-size: clamp(2rem, 11vw, 6.5rem);
}

.panel h3::after {
    content: '';
    width: 2rem;
    height: 2.5rem;
    display: inline-block;
    margin-left: 1rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.panel.services .image img, .panel.sectors .image img {
    border-radius: 1.2rem 1.2rem 0 0;
    -webkit-border-radius: 1.2rem 1.2rem 0 0;
    -moz-border-radius: 1.2rem 1.2rem 0 0;
    -ms-border-radius: 1.2rem 1.2rem 0 0;
    -o-border-radius: 1.2rem 1.2rem 0 0;
}

.panel .cta {
    font-size: clamp(1.3rem, 5vmin, 2rem);
    font-weight: 500;
    width: fit-content;
    text-underline-offset: 0.7rem;
    line-height: 1.3;
    padding: 0.9rem 1.2rem;
    transition: filter 0.3s ease;
    -webkit-transition: filter 0.3s ease;
    -moz-transition: filter 0.3s ease;
    -ms-transition: filter 0.3s ease;
    -o-transition: filter 0.3s ease;
}

.services.panel .cta {
    background-color: var(--light-d);
}

.sectors.panel .cta {
    background-color: var(--primary-e);
}

.locations.panel .cta {
    background-color: var(--highlight-a);
}

.panel .content {
    margin-bottom: -2rem;
}

.panel .content, .panel .cta_ctnr {
    width: clamp(9rem, 75vw, 170rem);
}

.panel .cta_ctnr {
    margin-inline: auto;
    position: sticky;
    bottom: 3rem;
    margin-block: 4rem;
}

.panel .cta:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
    transition: filter 0.1s ease;
    -webkit-transition: filter 0.1s ease;
    -moz-transition: filter 0.1s ease;
    -ms-transition: filter 0.1s ease;
    -o-transition: filter 0.1s ease;
}

.panel .subsets > div {
    font-size: clamp(1.3rem,4.8vmin,2rem);
}


.benefits {
    background-color: var(--highlight);
    padding: clamp(3rem, 10vmin, 7rem) 0 clamp(3rem, 10vmin, 8rem);
    color: var(--light);
    font-size: clamp(1.5rem, 4vmin, 2.2rem);
    /* overflow: hidden;
    position: relative; */
}

.benefits>.ctnr {
    width: var(--base-width);
    margin-inline: auto;
    max-width: 100%;
}

.benefits h3 {
    margin-inline: auto;
    font-size: clamp(2rem, 7vmin, 3.5rem);
    text-align: center;
    font-weight: 500;
    width: fit-content;
    padding: 0.4rem 1rem;
    margin-bottom: 1rem;
}

.benefits h3 + p {
    padding: 0 1rem;
    text-align: center;
    width: var(--base-width);
    margin-inline: auto;
    font-size: 2rem;
}

.benefits .bullets {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    gap:3.5rem;
    margin-block: clamp(3rem, 4vw, 5rem) clamp(3rem, 4vw, 4rem);
}

.benefits .box {
    width: clamp(9rem, 85vw, 33rem);
    text-align: center;
    padding: 3rem 2.5rem 2.5rem;
    border-radius: 1.2rem;
    background-color: #ff7e47;
    position: relative;
    /*border: 0.1rem solid #FF8E57;
    */box-sizing: border-box;
    background-image: linear-gradient(340deg, #ff9162, transparent 38%);
    transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
}

.benefits .box:hover {
    background-color: #FF864F;
    transition: background-color 0.06s ease;
    -webkit-transition: background-color 0.06s ease;
    -moz-transition: background-color 0.06s ease;
    -ms-transition: background-color 0.06s ease;
    -o-transition: background-color 0.06s ease;
}

.benefits .box .icon {
    width: clamp(2rem, 11vw, 4.2rem);
    height: clamp(2rem, 8vw, 3rem);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    transform: translateY(-50%);
}

.benefits .box .title {
    font-size: clamp(1.8rem, 5vw, 2rem);
    font-weight: 400;
    line-height: 1.4;
}

.benefits .box .title b, .benefits .box .title strong {
    font-weight: 500;
}

.benefits .box p {
    font-size: clamp(1.2rem, 3.8vmin, 1.6rem);
    margin-bottom: 1rem;
    line-height: 1.4;
}

.benefits .box > .ctnr {
    margin-inline: clamp(2rem, 5vw, 4rem);
    background-color: var(--light-a);
    position: relative;
    padding: 3rem;
    border-radius: 1.2rem;
    color: var(--dark-a);
}

.benefits .main.cta {
    display: block;
    margin-inline: auto;
    width: fit-content;
    margin-top: 3rem;
    background-color: var(--light-a);
    color: var(--highlight);
    text-shadow: unset;
    border: 0.2rem solid var(--light-b);
    width: clamp(9rem, 89vw, 37rem);
    box-sizing: border-box;
    position: sticky;
    bottom: 2rem;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.benefits h3 + p b, .benefits h3 + p strong {
    font-weight: 500;
    background-color: var(--highlight-a);
}

section.clients {
    
}

.clients>.ctnr {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(1rem, 3vw, 2.5rem);
    align-items: center;
    padding: clamp(3rem, 5vw, 4.5rem) 0 0;
}

.clients h3 {
    font-size: clamp(2rem, 6.5vw, 2.8rem);
    color: var(--primary-a);
}

.clients .content {
    display: flex;
    flex-direction: row;
    gap: clamp(2rem, 9vw, 5rem);
    overflow: auto;
    padding: 0 calc((100% - var(--base-width)) / 2) clamp(2rem, 4vw, 4.5rem);
}

.clients .content img, .clients .content picture {
    height: clamp(8rem, 10vw, 9rem);
    min-width: fit-content;
}

section.services {
    background-color: var(--light);
    color: var(--primary-a);
}

section.sectors {
    background-color: var(--primary-a);
    color: var(--light);
}

.services h3::after {
    background-image: url('/icons/services.svg');
}

.panel .content p {
    font-weight: 400;
}

.services .content p {
    color: var(--grey-b);
}

.services .content p b, .services .content p strong {
    font-weight: 500;
    color: var(--primary-a);
}

.sectors h3::after {
    background-image: url('/icons/sectors.svg');
}

.locations.panel .cta span:first-of-type {
    border-bottom: 0.5rem solid var(--dark);
    border-right: 0.5rem solid var(--dark);
}

.services .subsets .heading {
    color: var(--primary-a);
}

.services .subsets a:not(.heading) {
    color: var(--primary-a);
    font-weight: 500;
    background-color: var(--light-d);
    border: 0.2rem solid var(--light-d);
}

.sectors .subsets a:not(.heading) {
    background-color: var(--primary-e);
    border: 0.2rem solid var(--primary-e);
}

.services .content>hr, .services .subsets hr {
    background-color: rgb(16 106 166 / 15%);
}

.sectors h3 {
    font-weight: 500;
}

.sectors .subsets .heading {
    color: var(--light);
}

.services .subsets .heading .icon {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 0.5rem;
    background-color: var(--light);
    border-radius: 0.3rem;
}

.services .subsets .indoor .icon {
    background-image: url(/icons/indoor.svg);
}

.services .subsets .outdoor .icon {
    background-image: url(/icons/outdoor.svg);
}

section.text {
    width: clamp(9rem, 84vw, 133rem);
    margin-inline: auto;
    text-align: center;
    margin-block: 2rem;
}

section.text>.ctnr {
    
}

section.text h3 {
    margin-inline: auto;
    margin-bottom: 2rem;
    font-size: clamp(2rem, 7vmin, 3.8rem);
    color: var(--primary-e);
}

section.text p {
    margin-bottom: 1.4rem;
    line-height: 1.4;
    font-size: clamp(1.5rem, 3.8vmin, 1.8rem);
    color: var(--grey-b);
}

section.text p b, section.text p strong {
    font-weight: 500;
    color: var(--grey-a);
}

section.text .cta {
    display: block;
    margin-top: 2rem;
    max-width: 20rem;
    margin-inline: auto;
}

section.locations {
    background-color: var(--highlight);
    color: var(--light);
}

.locations.panel .content {
    padding: clamp(3rem, 10vw, 9rem) 0 clamp(3rem, 15vw, 9rem);
}

.locations .image {
    border-radius: 0 0 14rem 0;
    overflow: hidden;
}

.locations .image img {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

section.testimonials {
    background-color: var(--light);
    color: var(--dark-a);
    overflow: hidden;
    padding: 0 0 clamp(3rem, 8vw, 6rem);
    position: relative;
}

.testimonials::before, .testimonials::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: clamp(2rem, 12vw, calc((100vw - var(--base-width)) / 2));
    opacity: 0.8;
    z-index: 1;
}

.testimonials::before {
    left: 0;
    background-image: linear-gradient(90deg, var(--light), transparent);
}

.testimonials::after {
    right: 0;
    background-image: linear-gradient(-90deg, var(--light), transparent);
}

.testimonials>.ctnr {
    max-width: 100%;
    margin-inline: auto;
}

.testimonials .flex.center {
    position:relative;
    margin: clamp(3rem, 14vw, 7rem) 0 clamp(2rem, 4vw, 3rem);
}

.testimonials h3 {
    margin-inline: auto;
    font-size: clamp(2rem, 7vmin, 3.5rem);
    text-align: center;
    font-weight: 500;
    width: fit-content;
    padding: 0.4rem 1rem;
    max-width: 70vw;
    position: relative;
    z-index: 4;
    color: var(--highlight);
}

.slider {
    display: block;
    gap: 1rem;
    max-width: var(--base-width);
}

.quotes {
    position: absolute;
    width: clamp(6rem, 80vw, 63rem);
    left: 0;
    right: 0;
    margin-inline: auto;
    z-index: 2;
    opacity: 0.15;
    height: 100%;
}

.quotes::after, .quotes::before {
    content: "";
    position: absolute;
    width: clamp(2rem, 10vw, 6rem);
    height: clamp(2rem, 10vw, 6rem);
    background-image: url(/icons/quote.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.quotes::before {
    left: 0;
    top: 0;
}

.quotes::after {
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
}

.testimonials .box {
    width: clamp(9rem, 95vw, 75rem);
    box-sizing: border-box;
    margin-inline: auto;
    line-height: 1.3;
}

.testimonials .box>.ctnr {
    margin-inline: clamp(2rem, 5vw, 10rem);
    border-radius: 2rem;
    padding: clamp(2rem, 8vmin, 4rem) clamp(2rem, 6vmin, 4rem) 1rem;
    border: 0.1rem solid var(--light-a);
    position: relative;
    box-shadow: 0 1.5rem 2rem -1rem var(--light-d);
    background-color: var(--light-d);
}

.testimonials .box>.ctnr::before {
    bottom: -1.3rem;
    right: -1.3rem;
    width: 11rem;
    height: 5rem;
    border-bottom: 0.4rem solid var(--primary);
    border-right: 0.4rem solid var(--primary);
    border-radius: 0 0 4rem 0;
}

.testimonials .profile {
    display: flex;
    flex-direction: revert;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 2.3rem;
    gap: 1.5rem;
    /* justify-content: center; */
    position: relative;
    left: 0;
    z-index: 3;
}

.testimonials .name {
    font-size: 1em;
    font-weight: 600;
    color: var(--primary-a);
}

.testimonials .description {
    font-size: 0.7em;
    color: var(--grey);
}

.testimonials .profile img {
    width: clamp(7rem, 9vw, 9rem);
    height: clamp(7rem, 9vw, 9rem);
    border-radius: 50%;
    border: 0.3rem solid var(--light-a);
}

.testimonials .profile .flex {
    flex-direction: column;
}

.testimonials .box .content {
    position: relative;
    max-height: clamp(10rem, 55vh, 50rem);
    max-height: clamp(10rem, 55svh, 50rem);
    overflow-y: auto;
    display: block;
    padding-right: clamp(1rem, 2vmin, 3rem);
}

.testimonials .box .content::-webkit-scrollbar {
    width: 0.9rem;
}

.testimonials .box .content::-webkit-scrollbar-thumb {
    background-color: var(--light-a);
    border-radius: 1rem;
}

.testimonials .box .ctnr:hover .content::-webkit-scrollbar-thumb, .testimonials .box .content::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-b);
}

.testimonials .box .gradient {
    position: sticky;
    bottom: -0.2rem;
    width: 100%;
    height: 3rem;
    background-image: linear-gradient(0deg, var(--light-d) 15%, transparent);
}

.testimonials q::before, .testimonials q::after {
    font-size: clamp(7rem, 50vmin, 25rem);
    line-height: 1;
    position: absolute;
    color: var(--light-a);
    z-index: 1;
}

.testimonials q::before {
    left: -5rem;
    transform: translateY(-5rem);
}

.testimonials q::after {
    right: 0;
    transform: translateY(-1rem);
}

.testimonials .heading {
    font-size: clamp(1.8rem, 4.8vmin, 2.4rem);
    margin-bottom: 1rem;
    color: var(--primary-a);
    font-weight: 500;
    line-height: 1.4;
}

.testimonials .heading, .testimonials .description {
    position: relative;
    z-index: 3;
}

.testimonials blockquote {
    margin: unset;
    font-size: clamp(1.5rem, 3.6vmin, 1.7rem);
    color: var(--grey-c);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.5;
}

/* .testimonials .slider img {
    width: clamp(26rem, 80vw, 32rem);
    border-radius: 0.9rem;
} */

.slider .tns-controls {
    display: flex;
    justify-content: center;
}

.slider .tns-controls button {}

/* section.rates {
    padding: clamp(3rem,13vw,7rem) 0 clamp(3rem,13vw,8rem);
    background-image: url('/textures/dot-grid.jpg');
    background-size: 30rem;
}

.rates > .ctnr {
    width: var(--base-width);
    margin-inline: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: center;
}

.rates h3 {
    font-size: clamp(2rem, 10vw, 6rem);
    color: var(--highlight);
}

.rates p {
    font-size: clamp(1.5rem, 3.7vw, 2.2rem);
    max-width: 75rem;
    line-height: 1.5;
    margin-inline: auto;
    font-weight: 500;
}

.rates .cta {
    padding: 1.2rem 1.8rem 1.2rem 1.5rem;
    background-color: var(--light);
    border: 0.2rem solid var(--light-d);
    font-size: clamp(1.5rem, 4vmin, 1.8rem);
    border-radius: 0.3rem;
    margin-top: 1rem;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    gap: 0.6rem;
}

.rates .cta::before {
    content: '';
    display: block;
    border-bottom: 0.4rem solid var(--highlight);
    border-right: 0.4rem solid var(--highlight);
    border-top: 0.4rem solid transparent;
    border-left: 0.4rem solid transparent;
    transform: rotate(-45deg);
    margin-right: 1rem;
}

.rates .cta b {
    color: var(--highlight);
} */

section.find_us {
    background-color: var(--primary-a);
    color: var(--light);
    padding-top: 2rem;
}

.find_us>.ctnr {
    flex-direction: column;
}

.find_us address {
    font-size: clamp(1.3rem, 3.2vmin, 2rem);
    font-style: unset;
}

.find_us .flex.column {
    gap: 1rem;
}

.find_us address strong {
    font-weight: 500;
}

.find_us .map {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find_us .iframe_ctnr {
    margin: 0 0 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find_us .content {}

.redir_warning {
    position: fixed;
    bottom: 3rem;
    left: 1rem;
    right: 1rem;
    width: clamp(10rem, 82vw, 55rem);
    margin-inline: auto;
    background-color: var(--light-a);
    z-index: 4;
    color: var(--dark-a);
    text-align: center;
    padding: 1.3rem 2rem;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    border: 0.3rem solid red;
    box-shadow: 0 1.5rem 1rem -1rem rgb(0 0 0 / 62%);
    line-height: 1.3;
    animation: appear 1.4s ease 1;
    -webkit-animation: appear 1.4s ease 1;
    opacity: 0;
    transform: translateY(5rem);
    -webkit-transform: translateY(5rem);
    -moz-transform: translateY(5rem);
    -ms-transform: translateY(5rem);
    -o-transform: translateY(5rem);
    transition: opacity 0.6s ease, transform 0.6s ease;
    -webkit-transition: opacity 0.6s ease, transform 0.6s ease;
    -moz-transition: opacity 0.6s ease, transform 0.6s ease;
    -ms-transition: opacity 0.6s ease, transform 0.6s ease;
    -o-transition: opacity 0.6s ease, transform 0.6s ease;
}

.redir_warning.show {
    opacity: 1;
    transform: translateY(0rem);
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    -o-transform: translateY(0rem);
}

.redir_warning span {
    color:crimson;
}

.redir_warning button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.4rem;
    height: 1.4rem;
}







@media screen and (min-width: 850px) {
    .intro>.ctnr {
        flex-direction: row;
        width: calc(100% - (100% - var(--base-width)) / 2);
        margin-left: auto;
        gap: 0;
        align-items: center;
    }

    .intro>.ctnr .content {
        margin: clamp(3rem, 9vmin, 9rem) auto clamp(3rem, 9vmin, 9rem) 0;
        width: unset;
        max-width: clamp(40rem, 47vw, 78rem);
    }

    .intro h1 {
        font-size: clamp(3.8rem, calc(5.2vw - 1rem), 7rem);
        max-width: unset;
        line-height: 1.15;
    }

    .intro h2 {
        font-size: clamp(1.9rem, calc(4.8vw - 2.6rem), 2rem);
        max-width: clamp(10rem, 88%, 74rem);
        line-height: 1.6;
    }

    .showcase {
        flex: 1;
        clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
        max-width: 150rem;
    }

    .showcase img {
        max-height: unset;
        display: flex;
    }
    
    .scroll_bt {
        right: calc((100VW - var(--base-width)) / 2);
    }

    .panel .content {
        margin-bottom: unset;
    }

    .panel .image img {
        background-color: rgba(255,255,255,0.2);
    }

    .panel .cta_ctnr {
        position: absolute;
        margin-inline: clamp(4rem, 5vw, 8rem);
        margin-block: 0;
        bottom: calc(clamp(2rem,8vw,13rem) - 5rem);
    }

    .benefits .bullets {
        gap: 2rem;
    }

    .benefits .box {
        flex: 1;
        width: unset;
        min-width: clamp(22rem, 16vw, 30rem);
        max-width: 33rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-block: clamp(1rem, 1.8vw, 3rem);
    }

    .benefits .main.cta {
        position: static;
    }

    .locations .image {
        border-radius: 24rem 0 0 0;
    }

    .testimonials::before, .testimonials::after {
        z-index: 3;
    }

    .testimonials .box {
        max-width: 62vw;
    }

    .find_us .map {
        margin: 4rem 0;
    }

    .find_us .map iframe {
        margin: 0 auto;
    }

    .find_us>.ctnr {
        flex-direction: row;
    }

    .panel.find_us .content {
        margin: unset;
        max-width: clamp(40rem, 33vw, 95rem);
        /* padding: clamp(3rem,10vmin,6rem) 0 clamp(3rem,12vmin,6rem); */
    }

    .panel.services, .panel.sectors {
        width: var(--base-width);
    }

    .panel.services .image img, .panel.sectors .image img {
        border-radius: 0 1.2rem 1.2rem 0;
        -webkit-border-radius: 0 1.2rem 1.2rem 0;
        -moz-border-radius: 0 1.2rem 1.2rem 0;
        -ms-border-radius: 0 1.2rem 1.2rem 0;
        -o-border-radius: 0 1.2rem 1.2rem 0;
    }

    .panel .subsets > div {
        flex: 1;
        min-width: 25rem;
        max-width: 56rem;
    }

    section.find_us {
        padding-top: unset;
    }

    .find_us .iframe_ctnr {
        margin-bottom: unset;
    }

}