@font-face {
    font-family: BrilkSans;
    src: url("/fonts/BRILK-SANS-LIGHT.TTF");
    font-weight: 200;
}

@font-face {
    font-family: BrilkSans;
    src: url("/fonts/BRILK-EXTRABLACK.TTF");
    font-weight: 800;
}

::selection {
    background-color: var(--dark);
    color: var(--light);
}

body {
    color: white;
    font-size: clamp(0.9rem, 3.9vw, 1.4rem);
    background-color: var(--dark);
    font-family: 'BrilkSans', sans-serif;
    letter-spacing: 0.07rem;
    line-height: 1.6;
}

body:not(.lp_body)::-webkit-scrollbar {
    width: 8px;
}

/* Track */
body:not(.lp_body)::-webkit-scrollbar-track {
    background: var(--dark);
}

/* Handle */
body:not(.lp_body)::-webkit-scrollbar-thumb {
    background: white;
}



section.bgimg {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.sec02 .ctnr,
.sec03 .ctnr,
.sec04 .ctnr,
.sec06 .ctnr,
.sec08 .ctnr {
    width: var(--width1);
    margin: 0 auto;
}

.txtshadow {
    text-shadow: 0 0.1rem var(--dark), 0 -0.1rem var(--dark), -0.1rem 0 var(--dark), 0.1rem 0 var(--dark);
    filter: drop-shadow(0 0 0.3rem var(--dark));
}

.bgimg.sec01 {
    height: clamp(40rem, 200vw, 100vh);
    height: clamp(40rem, 200vw, 100lvh);
    background-position: bottom;
    background-image: url(/LPs/identity/bg01.jpg);
    background-image: -webkit-image-set(url(/LPs/identity/bg01.jpg) 1x, url(/LPs/identity/bg01.webp) 1x);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 3rem 3rem 1rem #191919; */
    z-index: 9;
    -webkit-mask-image: linear-gradient(0deg, transparent, white calc(0% + var(--mask-distance)));
    margin-bottom: calc(var(--mask-distance) * -1);
}

.sec01 p {
    font-size: clamp(4rem, 22vw, 23rem);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: clamp(0.5rem, 2vw, 1rem);
    user-select: none;
}

.arrow {
    width: clamp(2rem, 10vw, 3rem);
    height: clamp(6rem, 30vw, 9rem);
    background-image: url(/LPs/identity/arrow.png);
    background-image: -webkit-image-set(url(/LPs/identity/arrow.png) 1x, url(/LPs/identity/arrow.webp) 1x);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    background-position: bottom;
}

.sec01 .arrow {
    right: clamp(2rem, 15vw, 38rem);
    bottom: 6rem;
}

.sec02 .arrow {
    bottom: clamp(1rem, 9vw, 9rem);
    left: calc(10vw - 1rem);
}

.sec03 .arrow {
    right: 9vw;
    bottom: clamp(3rem, 14vw, 12rem);
}

.sec04 .arrow {}

.sec05 .arrow {
    bottom: 0;
}

.sec06 .arrow {
    transform: translateY(50%);
}

.bgimg.sec02 {
    background-image: url(/LPs/identity/bg01-stretched.jpg);
    background-image: -webkit-image-set(url(/LPs/identity/bg01-stretched.jpg) 1x, url(/LPs/identity/bg01-stretched.webp) 1x);
    background-attachment: fixed;
    z-index: 8;
}

.sec02 {
    padding: calc(clamp(5rem, 24vw, 9rem) + var(--mask-distance)) 0 clamp(5rem, 25vw, 8rem) 0;
}

.sec02 span.big {
    font-size: clamp(2.4em, 3vw, 3em);
    margin: clamp(3rem, 10vw, 5rem) auto;
    width: 90%;
    max-width: 38rem;
}

p span.big {
    font-size: 2em;
    display: block;
    line-height: 1.4;
    letter-spacing: 0.1rem;
}

p span.right {
    text-align: right;
    display: block;
    max-width: clamp(17rem, 65vw, 36rem);
    margin: 0 0 0 auto;
}

p span.left {
    text-align: left;
    display: block;
    max-width: 34rem;
}


.bgimg.sec03 {
    background-image: url(/LPs/identity/bg02.jpg);
    background-image: -webkit-image-set(url(/LPs/identity/bg02.jpg) 1x, url(/LPs/identity/bg02.webp) 1x);
    background-position: bottom;
    -webkit-mask-image: linear-gradient(0deg, transparent, white calc(0% + var(--mask-distance)));
    z-index: 8;
}

.sec03 {
    padding: clamp(3rem, 62vw, 13rem) 0;
}

.sec03 span.big {
    font-size: clamp(5em, 28vw, 13em);
    text-transform: uppercase;
    letter-spacing: clamp(0.5rem, 2vw, 4rem);
    text-align: center;
    margin: 1rem 0 6rem;
    mix-blend-mode: difference;
    line-height: 1;
}


.bgimg.sec04 {
    background-image: url(/LPs/identity/bg02-stretched.jpg);
    background-image: -webkit-image-set(url(/LPs/identity/bg02-stretched.jpg) 1x, url(/LPs/identity/bg02-stretched.webp) 1x);
    background-attachment: fixed;
    background-position: top;
    text-align: center;
    margin-top: calc(var(--mask-distance) * -1);
    font-size: 1.1em;
}

.sec04 span.big {}

.sec04 {
    padding: calc(clamp(5rem, 30vw, 14rem) + 4rem) 0 clamp(5rem, 70vw, 30rem) 0;
}


.bgimg.sec05 {
    background-image: url(/LPs/identity/bg03.jpg);
    background-image: -webkit-image-set(url(/LPs/identity/bg03.jpg) 1x, url(/LPs/identity/bg03.webp) 1x);
    background-position: top right;
}

.sec05 {
    padding: clamp(5rem, 63vw, 12rem) 0;
    z-index: 1;
}

.sec05 .ctnr {
    width: var(--width2);
    margin: 0 auto;
    position: relative;
}

.sec05 span.big {
    font-size: clamp(2em, 15vw, 7em);
    line-height: 1;
    text-transform: uppercase;
    margin-top: calc(clamp(7rem, 69vw, 26rem) * -1);
    max-width: 60rem;
    margin-bottom: 3rem;
    letter-spacing: clamp(0.2rem, 2vw, 1rem);
}

.sec05 .left,
.sec05 .right {
    margin-top: 3rem;
}

.sec05 .cta,
.sec03 .cta {
    margin: 2rem 0 0 auto;
    display: table;
}



.bgimg.sec06 {
    background-image: url(/LPs/identity/bg04.jpg);
    background-image: -webkit-image-set(url(/LPs/identity/bg04.jpg) 1x, url(/LPs/identity/bg04.webp) 1x);
    background-attachment: fixed;
    /* -webkit-mask-image: linear-gradient(180deg, transparent, white calc(0% + var(--mask-distance))); */
    /* margin-top: calc(var(--mask-distance) * -1); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec06 {
    height: 130vh;
    height: clamp(130lvh, 100vw, 140lvh);
    display: flex;
}

.sec06 p {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.15em;
    letter-spacing: 0.3rem;
    position: relative;
    top: calc(clamp(30lvh, 50vw, 40lvh) / -2);
}

.sec06 span.big {
    text-transform: uppercase;
    font-size: clamp(2rem, 12vw, 7rem);
    transform: translateY(15%);
    letter-spacing: clamp(0.3rem, 1vw, 1rem);
    line-height: 1;
    margin-bottom: 1.5rem;
}


.sec07 {
    background-color: #EEE;
    color: var(--dark);
    padding: clamp(5rem, 13vw, 6rem) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.sec07 p {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
}

.sec07 span.big {
    font-size: clamp(6.2rem, 16vh, 9rem);
    line-height: 1;
    margin-top: calc((clamp(9rem, 34vh, 17rem) + 5rem) * -1);
    mix-blend-mode: difference;
    color: white;
    text-transform: uppercase;
    max-width: 34rem;
    padding-top: 5rem;
}

.sec07 .ctnr {
    width: var(--width2);
    margin: 0 auto;
}



.bgimg.sec08 {
    background-image: url(/LPs/identity/bg05.jpg);
    background-image: -webkit-image-set(url(/LPs/identity/bg05.jpg) 1x, url(/LPs/identity/bg05.webp) 1x);
    display: flex;
    background-position: top;
}

.sec08 {
    /* padding: clamp(5rem, 33vw, 20rem) 0; */
    /* height: 140vh; */
    padding: 15rem 0 5rem;
}

.sec08 p {
    font-size: 1.2em;
}

.sec08 span.big {
    font-size: clamp(3.7em, 19vw, 5em);
    line-height: 1.1;
    text-transform: uppercase;
    max-width: 50rem;
    letter-spacing: 0.6rem;
    margin: 4rem 0 5rem;
    mix-blend-mode: exclusion;
}


.cta {
    background-color: var(--dark);
    padding: 1rem 1.4rem 0.8rem;
    display: inline-block;
    margin-top: 1rem;
    color: var(--light);
    border-radius: 0.3rem;
    line-height: 1;
    font-size: clamp(1rem, 4.4vw, 1.3rem);
    border: 0.1rem solid var(--dark-b);
    /* box-shadow: 0 1rem 1rem -0.6rem #3338; */
    position: sticky;
    bottom: 1.5rem;
    box-sizing: border-box;
}


footer {
    width: 100%;
    height: 50vh;
    height: 30lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/LPs/identity/footerbg.jpg);
    background-image: -webkit-image-set(url(/LPs/identity/footerbg.jpg) 1x, url(/LPs/identity/footerbg.webp) 1x);
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100% 30lvh;
}

.logo_anchor {
    width: clamp(10rem, 62vw, 20rem);
}



/* .show_contact_sec {
    transform: translateY(-50%) scale(1.6) !important;
} */



p,
h1,
h2,
h3,
h4,
h5 {
    cursor: none;
}







@media screen and (min-width:1200px) {

    /* body, label, input, textarea, body .form_ctnr form button {
        cursor: none;
    } */
    .cursor {
        display: flex;
        width: 4rem;
        height: 4rem;
        border: 0.25rem solid #fff;
        border-radius: 50%;
        position: fixed;
        z-index: 12;
        justify-content: center;
        align-items: center;
        mix-blend-mode: exclusion;
        pointer-events: none;
        box-sizing: border-box;
    }

    .cursor div {
        width: 0.5rem;
        height: 0.5rem;
        background-color: white;
        border-radius: 50%;
        transition: transform 0.1s ease-out;
    }

    .sec07 p {
        flex-direction: row;
        justify-content: space-between;
    }

    .sec07 .left {
        max-width: 40rem;
    }

    .sec08 span.big {
        position: relative;
        left: 20vw;
    }

    .sec01 p {
        mix-blend-mode: overlay;
        text-shadow: 0 2rem 8rem black;
    }

    .sec07 span.big {
        font-size: clamp(6.2rem, 16vw, 14rem);
        margin-top: calc((clamp(9rem, 30vw, 25rem) + 5rem) * -1);
    }
}










@media (min-width:1920px) {
    html {
        font-size: 20px;
    }
}

@media (min-width:2440px) {
    html {
        font-size: 24px;
    }
}

@media (min-width:3000px) {
    html {
        font-size: 32px;
    }
}