body {
    color: white;
    background-color: var(--dark);
}



header {
    padding: 3rem 0;
    width: fit-content;
    margin: 0 auto;
    width: clamp(14rem, 78vw, 24rem);
}

header menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--dark);
    z-index: 9;
    margin: 0;
    padding: 0;
    width: 80%;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--light);
    transform: translateX(-100%);
    padding: 4rem 0 0 2rem;
    box-sizing: border-box;
    font-weight: 600;
    text-transform: uppercase;
    font-size: clamp(0.9rem, 15vw, 1rem);
    border-right: 0.1rem solid var(--dark-a);
}

.hambt {
    background-color: var(--light);
    position: fixed;
    top: 0;
    right: 0;
    width: clamp(2.2rem, 12vw, 4rem);
    height: clamp(2.2rem, 12vw, 4rem);
    border-radius: 0 0 0 0rem;
    z-index: 10;
    border: unset;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    /* box-shadow: 0rem 0rem 2.5rem var(--dark-a); */
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

.hambt div {
    width: 1rem;
    height: 1rem;
    background-color: var(--dark);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 10rem;
}

header menu a, header menu button {
    display: block;
    padding: 0.9rem;
    border-bottom: 1px solid var(--dark-a);
    font-size: clamp(1rem, 2vw, 1rem);
    letter-spacing: 0.1rem;
    box-sizing: border-box;
    width: 100%;
}


.exit_bg {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
}



.globe_div {
    position: relative;
    /* bottom: calc(clamp(16rem, 80vw, 21rem) / 2); */
    margin-bottom: calc(clamp(16rem, 60vw, 21rem) / -4);
    transform: translateY(-50%);
}

.globe01 {
    width: clamp(13rem, 80vw, 21rem);
    height: clamp(13rem, 80vw, 21rem);
    margin: 0 auto calc(clamp(13rem, 80vw, 21rem) / 5);
    display: block;
    overflow: hidden;
}

.globe01 picture {
    position: absolute;
    width: clamp(13rem, 80vw, 21rem);
    margin: 0 auto;
    display: block;
    bottom: 0;
    object-fit: contain;
}

.globe01 .rotating {
    animation: rotate 60s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.brand {
    position: absolute;
    width: clamp(12rem, 85vw, 55rem);
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    /* bottom: 0; */
    /* transform: translateY(180%); */
}

h2,
h3 {
    text-transform: uppercase;
}

.sec1 {
    background-image: url(/home/bg01.jpg);
    background-image: -webkit-image-set(url(/home/bg01.jpg) 1x, url(/home/bg01.webp) 1x);
    background-color: var(--light);
    background-size: cover;
    background-position: center top;
    /* min-height: 45vh; */
    height: clamp(10rem, 55vmax, 50rem);
}

.sec2 {
    background-image: url('/home/bg03.jpg');
    background-image: -webkit-image-set(url(/home/bg03.jpg) 1x, url(/home/bg03.webp) 1x);
    background-size: cover;
    padding: 0 0 3rem 0;
    background-position: center;
    position: relative;
}

.sec2 p {
    font-family: 'Roboto', sans-serif;
    width: var(--width2);
    margin: 1.5rem auto;
    line-height: 1.5;
    font-size: clamp(1rem, 4.5vw, 1.5rem);
    letter-spacing: 0.04rem;
    font-weight: 400;
    color: #DDD;
}

.sec2 p b {
    font-weight: 600;
}

.globe02 {
    margin: 0 auto -4rem;
    display: block;
    width: clamp(16rem, 80vw, 28rem);
}



.sec3 {
    background-color: var(--light);
    background-image: url('/home/bg04.jpg');
    background-image: -webkit-image-set(url(/home/bg04.jpg) 1x, url(/home/bg04.webp) 1x);
    background-attachment: fixed;
    background-position: center;
    color: var(--dark);
    padding: clamp(1rem, 15vw, 6rem) 0;
    background-size: cover;
}

.sec3 h2, .sec4 h2 {
    font-weight: 600;
    width: var(--width2);
    margin: 0 auto 1rem;
    font-size: clamp(1.3rem, 7.5vw, 3rem);
}

.sec3 .txt {
    margin: 0 auto;
    width: var(--width2);
}

.sec3 .txt p {
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: clamp(1rem, 4.5vw, 1.5rem);
}


.sec4 {
    padding: clamp(2rem, 12vw, 6rem) 0 7rem;
}

.car_marketing {
    margin: 0 auto 3rem;
    display: block;
    width: clamp(18rem, 90vw, 62rem);
}

.sec4 .services span {
    font-weight: 300;
    display: block;
    margin: 2rem 0 5rem 0;
    font-family: 'Roboto', sans-serif;
}

.sec4 .services {
    display: flex;
    flex-flow: row wrap;
    width: var(--width2);
    margin: 2rem auto 0;
    font-weight: 800;
    gap: clamp(1rem, 3vmin, 3rem);
    font-size: clamp(1rem, 4.5vw, 1.2rem);
}

.sec4 .services article {
    flex: 1;
    min-width: clamp(14rem, 85vw, 21rem);
    border-radius: 0.5rem;
    padding: 2rem;
    box-sizing: border-box;
    height: fit-content;
    background-color: var(--dark-b);
}

.sec4 .services article h3 {
    font-size: clamp(1.1rem, 6vmin, 1.8rem);
    line-height: 1.2;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
}

.sec4 .services article p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 4.5vw, 1.2rem);
    letter-spacing: 0.05rem;
    line-height: 1.5;
}

.sec4 .contact {
    margin: clamp(3rem, 5vw, 6rem) auto 0rem;
    width: clamp(13rem, 85vw, 50rem);
    font-family: 'Roboto', sans-serif;
    font-size: clamp(1rem, 4.2vw, 1.3rem);
    line-height: 1.5;
}

.sec4 .contact .contact_bt {
    background-color: var(--dark-a);
    padding: 0.6rem 1.2rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
    font-family: 'Tablon', sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 600;
    font-size: 1rem;
    width: fit-content;
}

.brands_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-top: 1.5rem;
}

.brands_list img {
    width: 7rem;
    height: 4rem;
    background-color: var(--dark-a);
}


.form_sec {
    background-color: var(--light);
}



































































































@media (min-width:700px) {

    .sec1 {
        background-attachment: fixed;
    }

    .hambt {
        display: none;
    }

    header {
        width: var(--width2);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
    }

    header menu {
        display: flex;
        flex-flow: row wrap;
        transform: none;
        background: none;
        position: relative;
        padding: 0;
        align-items: center;
        justify-content: flex-end;
        gap: 0.6rem;
        gap: 0;
        border-right: unset;
        color: var(--dark);
    }

    header menu a, header menu button {
        background: transparent;
        border-bottom: none;
        padding: 1.5rem clamp(0.6rem, 1.3vw, 1.2rem);
        transition: background-color 0.6s ease;
        font-weight: 800;
        width: fit-content;
    }

    header menu a:hover, header menu button:hover {
        background-color: var(--light);
        transition: background-color 0.05s ease;
    }

    .sec1 {
        background-size: cover;
        height: clamp(14rem, 52vw, 27rem);
    }

    .globe01,
    .globe01 picture {
        width: clamp(16rem, 60vw, 27rem);
        height: clamp(16rem, 60vw, 27rem);
    }

    .brand {
        /* width: clamp(16rem, 70vw, 31rem); */
    }

    .car_marketing {
        padding: 0 0 clamp(4rem, 9vw, 4rem);
    }
}





















@media (orientation: landscape) and (min-width: 120vh), (min-width: 1000px) {

    header menu {
        gap: 0;
        border-right: unset;
        color: var(--dark);
    }

    .sec1 {
        background-position: center calc(2rem - 8vw);
    }

    .globe_div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        gap: 6vw;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: var(--width2);
        margin: 0 auto;
        align-items: center;
        transform: translateY(-94%);
    }

    .globe01 {
        width: clamp(16rem, calc(50vw - 10rem), 25rem);
        min-width: clamp(16rem, calc(50vw - 10rem), 25rem);
        height: clamp(16rem, calc(50vw - 10rem), 25rem);
        margin: 0;
        display: block;
    }

    .globe01 picture {
        width: clamp(16rem, calc(50vw - 10rem), 26rem);
    }

    .brand {
        position: relative;
        object-fit: contain;
        margin: 0;
        transform: translateY(-0.7vw);
        width: clamp(15rem, calc(60vw - 9rem), 45rem);
        filter: drop-shadow(0 2px var(--dark));
        height: fit-content;
    }

    .sec2 {
        padding: 11rem 0 0 0;
    }

    .sec2 .ctnr {
        width: var(--width2);
        margin: 0 auto;
        position: relative;
        padding-bottom: 6rem;
    }

    .sec2 p {
        margin: 1.5rem 0 1.5rem 0;
        width: clamp(15rem, 50vw, 45rem);
        font-size: clamp(1rem, 1.2vw, 1.5rem);
    }

    .sec4 .services article p {
        font-size: clamp(1rem, 1vw, 1.5rem);
    }

    .globe02 {
        position: absolute;
        bottom: -2rem;
        right: 0;
        margin: 0;
    }






    .sec3 h2, .sec4 h2 {
        font-size: clamp(1.3rem, 2.6vw, 4rem);
    }

    .sec3 .txt p {
        font-size: clamp(1rem, 1.2vw, 1.5rem);
    }

    


}