
.intro {
    position: relative;
}

/* .intro img {
    height: clamp(5rem,38vmin,36rem);
    object-fit: cover;
    width: 100%;
    object-position: center;
} */

.intro .cover {
    width: 100%;
    height: clamp(5rem,115vmin,62rem);
    max-height: 80vh;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-attachment: fixed; */
    background-color: var(--light-d);
    /* box-shadow: inset 0 -16rem 10rem -16rem var(--primary-b); */
    position: relative;
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.intro .cover img {
    position: fixed;
    inset: 0;
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.intro .content {
    width: clamp(9rem, 89vw, 90rem);
    margin-inline: auto;
}

.intro p {
    font-size: clamp(1.5rem,3.6vmin,1.7rem);
    font-weight: 400;
    line-height: 1.5;
    color: var(--grey);
    /* text-align: justify; */
    text-align: center;
}

h2 {
    margin-block: 5rem 1.3rem;
    font-size: 1.6em;
}

h3, h4, h5 {
    margin-block: 3.3rem 1.3rem;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

.intro hr {
    width: clamp(9rem,89vw,80rem);
    margin-inline: auto;
    margin-block: clamp(2rem,6vmin,3rem);
    height: 0.1rem;
    background-color: var(--light-a);
}

/* .intro .back {
    position: absolute;
    left: 0;
    top: 2rem;
    background-color: var(--light-a);
    padding: 1rem 1.4rem 1rem 2rem;
    font-size: clamp(1.4rem, 5vw, 1.6rem);
    font-weight: 500;
    border-radius: 0 0.3rem 0.3rem 0;
    border: 0.2rem solid var(--light);
    border-left: unset;
    box-shadow: 0 1.1rem 1rem -1rem rgb(102 118 135 / 40%);
    transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    color: var(--primary-a);
}

.intro .back:hover {
    background-color: var(--light);
    transition: background-color 0.1s ease;
    -webkit-transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    -ms-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
} */

.content_ctnr {
    width: clamp(9rem, 91vw, 87rem);
    margin-inline: auto;
    margin-block: calc(clamp(10rem, 62vw, 50rem) * -1) clamp(4rem,20vw,12rem);
    background-color: rgb(248 248 255 / 85%);
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
    border-radius: 1.2rem;
    box-sizing: border-box;
    border: 0.1rem solid var(--light-a);
    /* box-shadow: 0 1rem 2rem -1rem var(--light-b); */
    position: relative;
    z-index: 2;
}

.content_ctnr article {
    font-size: clamp(1.5rem,3.9vmin,1.75rem);
    padding: clamp(3rem, 5vmin, 4rem) clamp(2.5rem, 6vmin, 5rem) 0;
}

.content_ctnr .post_content ul, .content_ctnr .post_content ol {
    padding: 0 0 0 4rem;
    margin-block: 1rem 3rem;
    list-style: initial;
}

.content_ctnr .post_content li {
    margin-bottom: 1rem;
    list-style: initial;
    line-height: 1.55;
}

.content_ctnr .post_content {
    margin-bottom: 1rem;
}

.content_ctnr .post_content::marker {
    font-weight: 500;
}

article h1 {
    font-size: clamp(2rem,8vw,5rem);
    border-radius: 0.6rem;
    color: var(--dark-a);
    line-height: 1.2;
    /* margin-inline: auto; */
    margin-bottom: 1rem;
}

.standfirst {
    font-size: 1.25em;
    color: var(--grey-a);
    font-weight: 420;
}

.standfirst + hr {
    margin-block: 2rem;
    height: 0.4rem;
    background-color: var(--primary-d);
    width: 4rem;
    border-radius: 0.1rem;
}

.content_ctnr .post_content p {
    margin-bottom: 1rem;
    line-height: 1.55;
}

.content_ctnr .post_content p strong, .content_ctnr .post_content p em, .content_ctnr .post_content p b {
    font-weight: 500;
}

.content_ctnr .main.cta {
    display: block;
    padding: 1.2rem;
    margin-top: 3rem;
}

.content_ctnr .cta_ctnr {
    margin-block: clamp(3rem, 5vmin, 4rem) 3rem;
    position: sticky;
    bottom: 1.5rem;
}

.content_ctnr a.back {
    display: block;
    padding: 1.2rem 3rem;
    color: var(--primary-a);
    font-size: clamp(1.5rem,4vmin,1.8rem);
    font-weight: 500;
    text-align: center;
    margin-inline: auto;
    background-color: var(--light-d);
    border-radius: 0 0 1.2rem 1.2rem;
    box-sizing: border-box;
}

.content_ctnr > hr {
    width: 100%;
    height: 1.2rem;
    background-color: var(--light-d);
    margin-block: clamp(8rem, 20vw, 10rem);
}

.content_ctnr p a {
    font-weight: 450;
    color: var(--primary-a);
}

/* article a.back::before, .intro a.back::before {
    content: "";
    display: inline-block;
    border-bottom: 0.4rem solid var(--light-b);
    border-right: 0.4rem solid var(--light-b);
    border-top: 0.4rem solid transparent;
    border-left: 0.4rem solid transparent;
    margin-right: 1rem;
    transform: translateY(-0.2rem) rotate(135deg);
    -webkit-transform: translateY(-0.2rem) rotate(135deg);
    -moz-transform: translateY(-0.2rem) rotate(135deg);
    -ms-transform: translateY(-0.2rem) rotate(135deg);
    -o-transform: translateY(-0.2rem) rotate(135deg);
}

article a.back:hover {
    color: var(--grey);
} */

.post_content img {
    margin: clamp(3rem, 7vmin, 4rem) auto;
    border-radius: 0.5rem;
    width: clamp(9rem,89vw,75rem);
    display: block;
}

.recommendations {
    padding-inline: clamp(2.5rem, 6vmin, 5rem);
    margin-bottom: 5rem;
}

.recommendations ul {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 6vw, 2rem);
    /* align-items: flex-start; */
}

.recommendations ul li {
    background-color: var(--light-d);
    border: 0.1rem solid var(--light-d);
    flex: 1;
    min-width: clamp(20rem, 70vw, 30rem);
    overflow: hidden;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.recommendations ul li > .ctnr {
    display: flex;
    gap: clamp(1rem, 4vw, 3rem);
    justify-content: space-between;
}

.recommendations ul li .content {
    padding: clamp(1rem, 5vw, 2.6rem) 0 clamp(1rem, 4vw, 2.6rem) clamp(1rem, 4vw, 3.3rem);
    flex: 1;
    min-width: 15rem;
}

.recommendations ul li .hero {
    width: clamp(8rem, 24vw, 26rem);
    min-height: clamp(8rem, 30vw, 15rem);
}

.recommendations ul li .hero img {
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}

.recommendations li .title {
    font-weight: 600;
    font-size: clamp(1.9rem, 4vw, 2.5rem);
    color: var(--dark-a);
    cursor: pointer;
}

.recommendations .description {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--grey-c);
    line-height: 1.3;
}



@media screen and (min-width:850px) {

}