
:root {
    --blue: #33a1fd;
    --yellow: #fdca40;
    --pink: #ffb7ab;

    --croitor-dark:#39393c;
    
    --base-width:clamp(13rem, 85vw, 88rem);

}

@font-face {
    font-family: Brandford;
    src: url("/fonts/Brandford.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Brooklyn;
    src: url("/fonts/Brooklyn-normal.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Brooklyn;
    src: url("/fonts/Brooklyn-semibold.ttf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Brooklyn;
    src: url("/fonts/Brooklyn-bold.ttf");
    font-weight: 600;
    font-display: swap;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blue);
}


::selection {
    text-shadow: none;
}

body {
    font-family: 'Brandford', sans-serif;
}

header {
    background-color: var(--light);
    height: clamp(4rem, 17vmin, 5rem);
    position: relative;
    z-index: 5;
}

header > .ctnr {
    width:var(--base-width);
    height: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: clamp(7rem, 11vw, 9rem);
}

.intro {
    background-color: var(--blue);
    padding-top: clamp(1.5rem, 10vw, 3rem);
    color: var(--light);
    letter-spacing: 0.1rem;
    position: relative;
    z-index: 1;
    /* overflow: hidden;
    background-image: url(/textures/noise-01.svg);
    background-size: cover;
    background-position: center; */
}

.intro > .ctnr {
    width:var(--base-width);
    margin-inline: auto;
    font-size: clamp(2rem, 9.1vmin, 4rem);
    position: relative;
}

.stroke {
    position: absolute;
    z-index: 0;
}

.intro .stroke.left {
    left: -13%;
    top: -20.5%;
    width: 72vw;
} .intro .stroke.right {
    right: 103%;
    top: 39%;
    width: 16rem;
}

.main.cta {
    position: relative;
    width: fit-content;
    font-size: clamp(1.3rem, 6.6vw, 1.9rem);
    z-index: 1;
    font-family: 'Brandford', sans-serif;
    color:var(--croitor-dark);
    font-weight: 400;
    letter-spacing: 0.05rem;
    padding-inline: 0.6rem;
}

section .main.cta {
    font-size: clamp(1.3rem, 8vw, 2.4rem);
}

.main.cta:hover:before {
    background-color: var(--light);
    transition: background-color 0s ease;
    -webkit-transition: background-color 0s ease;
    -moz-transition: background-color 0s ease;
    -ms-transition: background-color 0s ease;
    -o-transition: background-color 0s ease;
}

.text_block_ctnr.dark .cta:hover:before {
    background-color: var(--yellow);
}

.main.cta::before {
    content: '';
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: var(--yellow);
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color 0.6s ease;
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -ms-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
}

/* .pink, .yellow {
    text-shadow: 0.2rem -0.2rem 0 rgb(57 57 60 / 20%);
} */

.pink {
    color:var(--pink)
}
.yellow {
    color:var(--yellow)
}

h1 .highlight {
    text-shadow: 0.4rem 0.4rem #0078dc, 0.3rem 0.3rem #0078dc, 0.2rem 0.2rem #0078DC, 0.1rem 0.1rem #0078DC;
    position: relative;
    z-index: 2;
}

.intro .medium {
    font-size: clamp(1.37em, 13vw, 1.68em);
    display: block;
    margin-bottom: -1.2%;
}

.big.pink {
    font-size: clamp(1.1em, calc(42vmin - 4rem), 1.7em);
    margin-bottom: -1%;
    display: block;
}

.big.yellow {
    font-size: clamp(1.1em, calc(20vh - 4rem), 1.7em);
    margin-bottom: -1%;
    display: block;
    line-height: 0.9;
}

.intro .small {
    font-size: 0.8em;
    line-height: 1;
    display: block;
    margin-bottom: 0.6rem;
}

h1 .smaller {
    
}

h1 {
    /* margin-bottom: 1rem; */
    line-height: 1;
    /* text-shadow: 0.4rem 0 0 var(--blue), -0.4rem 0 0 var(--blue), 0 0.4rem 0 var(--blue), 0 -0.4rem 0 var(--blue); */
    position: relative;
    z-index: 2;
    font-size: clamp(2.8rem, 14vw, 5.9rem);
    font-weight: 300;
}

h1 .flex {
    flex-flow: row wrap;
}

h1 br {
    content: '';
    display: none;
    /* margin-block: 0.5rem; */
}

h1 .break {

}

.intro h2 {
    text-align: right;
}

.intro .delivery {
    text-align: center;
    display: inline-block;
    /*margin-block: 1rem;
    */background-color: var(--croitor-dark);
    color: var(--yellow);
    line-height: 1;
    padding-inline: 1rem;
    padding-block: 0.7rem 0.3rem;
    font-size: clamp(1.3rem, 6vw, 1.5rem);
    width: clamp(13rem, 85vw, 23rem);
    margin-inline: auto;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    box-shadow: 0.3rem 0.3rem var(--yellow), 0.2rem 0.2rem var(--yellow), 0.1rem 0.1rem var(--yellow);
    transition: background-color 0.4s ease, color 0.4s ease;
    -webkit-transition: background-color 0.4s ease, color 0.4s ease;
    -moz-transition: background-color 0.4s ease, color 0.4s ease;
    -ms-transition: background-color 0.4s ease, color 0.4s ease;
    -o-transition: background-color 0.4s ease, color 0.4s ease;
}

.intro .delivery:hover {
    background-color: var(--yellow);
    color: var(--croitor-dark);
    transition: background-color 0s ease, color 0s ease;
    -webkit-transition: background-color 0s ease, color 0s ease;
    -moz-transition: background-color 0s ease, color 0s ease;
    -ms-transition: background-color 0s ease, color 0s ease;
    -o-transition: background-color 0s ease, color 0s ease;
}

.intro .down_bt {
    width: fit-content;
    display: block;
    margin-inline: auto;
    font-size: 1.8rem;
    position: relative;
    bottom: -1.2rem;
    z-index: 2;
}

.intro .down_bt span {
    display: block;
    transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
}

.intro .down_bt span:hover {
    color:var(--yellow);
    transition: color 0s ease;
    -webkit-transition: color 0s ease;
    -moz-transition: color 0s ease;
    -ms-transition: color 0s ease;
    -o-transition: color 0s ease;
}

.smartphone_video_ctnr {
    position: absolute;
    bottom: 6rem;
    right: calc(((100vw - var(--base-width)) / 2) * -1);
    animation: shake-y 5s ease-in-out infinite alternate;
    -webkit-animation: shake-y 5s ease-in-out infinite alternate;
    display: flex;
    overflow: hidden;
    padding: 7rem 0 0 4rem;
}

@keyframes shake-y {
    0% {
        transform: translateY(0rem);
        -webkit-transform: translateY(0rem);
        -moz-transform: translateY(0rem);
        -ms-transform: translateY(0rem);
        -o-transform: translateY(0rem);
    } 30% {
        transform: translateY(0.2rem);
        -webkit-transform: translateY(0.2rem);
        -moz-transform: translateY(0.2rem);
        -ms-transform: translateY(0.2rem);
        -o-transform: translateY(0.2rem);
} 60% {
        transform: translateY(-0.3rem);
        -webkit-transform: translateY(-0.3rem);
        -moz-transform: translateY(-0.3rem);
        -ms-transform: translateY(-0.3rem);
        -o-transform: translateY(-0.3rem);
} 100% {
        transform: translateY(0rem);
        -webkit-transform: translateY(0rem);
        -moz-transform: translateY(0rem);
        -ms-transform: translateY(0rem);
        -o-transform: translateY(0rem);
    }
}

@keyframes shake-x {
    0% {
        transform: translateX(0rem);
        -webkit-transform: translateX(0rem);
        -moz-transform: translateX(0rem);
        -ms-transform: translateX(0rem);
        -o-transform: translateX(0rem);
    } 30% {
        transform: translateX(0.2rem);
        -webkit-transform: translateX(0.2rem);
        -moz-transform: translateX(0.2rem);
        -ms-transform: translateX(0.2rem);
        -o-transform: translateX(0.2rem);
} 60% {
        transform: translateX(-0.3rem);
        -webkit-transform: translateX(-0.3rem);
        -moz-transform: translateX(-0.3rem);
        -ms-transform: translateX(-0.3rem);
        -o-transform: translateX(-0.3rem);
} 100% {
        transform: translateX(0rem);
        -webkit-transform: translateX(0rem);
        -moz-transform: translateX(0rem);
        -ms-transform: translateX(0rem);
        -o-transform: translateX(0rem);
    }
}

.smartphone_video_ctnr video {
    object-fit: cover;
    box-shadow: -2vmin -2vmin 5vmin -1rem, 2.4vmin 2.4vmin 0 -0.4rem var(--yellow), 4.5vmin 5vmin 0 -0.9rem rgb(253 202 64 / 50%);
    background-color: var(--croitor-dark);
}

.smartphone_video_ctnr .ui, .smartphone_video_ctnr video {
    width: clamp(30%, 22vw, 50%);
    aspect-ratio: 9 / 16;
    transform: rotate(-5deg);
    position: absolute;
    right: clamp(19%, calc(38vw - 10rem), 70%);
    bottom: clamp(23%, calc(38vw - 10rem), 40%);
    border-radius: clamp(0.4rem, 1vmin, 0.7rem);
    -webkit-border-radius: clamp(0.4rem, 1vmin, 0.7rem);
    -moz-border-radius: clamp(0.4rem, 1vmin, 0.7rem);
    -ms-border-radius: clamp(0.4rem, 1vmin, 0.7rem);
    -o-border-radius: clamp(0.4rem, 1vmin, 0.7rem);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}

.smartphone_video_ctnr .ui {
    z-index: 1;
}

.smartphone_video_ctnr .hand {
    width: clamp(9rem, 27vw, 35rem);
    position: relative;
    right: -45%;
    z-index: -1;
    animation: shake-y 4s ease-in-out infinite alternate;
    -webkit-animation: shake-y 4s ease-in-out infinite alternate;
}

.text_block_ctnr {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: relative;
    background-color: var(--dark);
}

.video_bg {
    position: fixed;
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text_block_ctnr .content {
    position: relative;
    width: clamp(13rem, 85vw, 65rem);
    padding: clamp(2.4rem, 11vmin, 4rem) clamp(2rem, 5vw, 5rem) 0;
    margin-block: clamp(10rem, 20vmin, 12rem);
    font-family: 'Brooklyn';
    font-weight: 500;
    box-sizing: border-box;
    z-index: 1;
    line-height:1.6;
}

.text_block_ctnr.light .content {
    background-color: var(--light);
    color: var(--blue);
}

.text_block_ctnr.light .content p {
    font-size: clamp(1rem, 5vmin, 1.7rem);
}
.text_block_ctnr.dark .content {
    background-color: var(--croitor-dark);
    color: var(--light);
    text-align: center;
    padding-bottom: clamp(2.4rem, 14vmin, 4rem);
    font-size: clamp(1rem, 4.8vmin, 1.7rem);
}

.text_block_ctnr .content .sub {
    font-size: 0.75em;
    max-width: 42rem;
    margin-inline: auto;
    font-weight: 600;
}

.text_block_ctnr .stroke {
    z-index: 1;
    position: absolute;
}

.text_block_ctnr.light .stroke {
    width: clamp(13rem, 85vw, 65rem);
    margin: auto;
    inset: 0;
}

.text_block_ctnr.dark .stroke {
    right: -46vw;
    bottom: 6rem;
}

.text_block_ctnr .cta {
    margin-inline: auto;
    display: block;
    margin-top: 4vmin;
    transform: translateY(49%);
    -webkit-transform: translateY(49%);
    -moz-transform: translateY(49%);
    -ms-transform: translateY(49%);
    -o-transform: translateY(49%);
}

.text_block_ctnr.dark .cta {
    color:var(--light);
    font-weight: 300;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
    margin-block: 2rem;
} .text_block_ctnr.dark .cta::before {
    background-color: var(--blue);
}

.text_block_ctnr h2 {
    font-weight: 700;
}

.text_block_ctnr.dark h2 {
    color: var(--pink);
    font-size: clamp(1.9rem, 8vmin, 2.3rem);
    line-height: 1.3;
    margin-bottom: 1rem;
}

.text_block_ctnr .content b, .text_block_ctnr .content strong {
    font-weight: 800;
}

.reasons {
    background-color: var(--yellow);
    padding-top: clamp(1.5rem, 10vw, 4rem);
    /* overflow: hidden; */
    position: relative;
}

.reasons > .ctnr {
    width:var(--base-width);
    margin-inline: auto;
    position: relative;
}

.reasons .stroke {
    left: -50%;
    width: 100vw;
    top: 0;
}

.reasons .content {
    position: relative;
}

.reasons h2 {
    color: var(--blue);
    font-size: clamp(3rem, 15vmin, 6rem);
    text-align: center;
}

.reasons ul {
    padding: unset;
    list-style: none;
    font-family: 'Brooklyn', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    position: relative;
}

.reasons .content>.ctnr {
    position: relative;
}

.reasons .content>.ctnr video {
    position: absolute;
    max-width: 100%;
    z-index: 0;
    height: clamp(11rem, 62vw, 28rem);
    clip-path: inset(1px 1px);
    background-color: rgb(255 255 255 / 20%);
    aspect-ratio: 9 / 16;
}

.reasons .content>.ctnr video:first-of-type {
    left: calc(((100vw - var(--base-width)) / 2) * -1);
    top: calc((100vw - var(--base-width)) / 2);
}

.reasons .content>.ctnr video:last-of-type {
    right: calc(((100vw - var(--base-width)) / 2) * -1);
    bottom: calc((100vw - var(--base-width)) / 2);
}

.reasons li {
    padding: clamp(1rem, 5vw, 2rem);
    width: clamp(10rem, 65vw, 42rem);
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.reasons li:nth-of-type(1) {
    background-color: var(--blue);
    color:var(--light);
    align-self: flex-start;
}

.reasons li:nth-of-type(2) {
    background-color: var(--pink);
    color:var(--croitor-dark);
    align-self: center;
}

.reasons li:nth-of-type(2) p {
    font-weight: 600;
}

.reasons li:nth-of-type(3) {
    background-color: var(--croitor-dark);
    color:var(--light);
    align-self: flex-end;
}

.reasons li:nth-child(4) {
    background-color: var(--light);
    color:var(--blue);
    align-self: center;
}

.reasons li h3 {
    font-weight: 600;
    font-size: clamp(1rem, 5vw, 2.1rem);
    margin-bottom: 0.4rem;
}

.reasons li p {
    font-weight: 500;
    font-size: clamp(0.9rem, 3.5vw, 1.3rem);
    line-height: 1.4;
    margin-bottom: 0.2rem;
}

.reasons .content > p {
    font-family: 'Brooklyn', sans-serif;
    text-align: center;
    max-width: 73rem;
    margin-inline: auto;
    font-size: clamp(0.9rem, 4.4vw, 1.4rem);
    line-height: 1.6;
    font-weight: 500;
    margin-block: clamp(3rem, 13vw, 4rem) clamp(2rem, 5vw, 3rem);
}

.reasons .ctnr > p b, .reasons .ctnr > p strong {

}

.reasons .cta {
    display: block;
    margin: clamp(1rem,3vw, 2rem) auto 0;
    transform: translateY(49%);
    -webkit-transform: translateY(49%);
    -moz-transform: translateY(49%);
    -ms-transform: translateY(49%);
    -o-transform: translateY(49%);
}

.reasons .cta::before {
    background-color: var(--light);
}

footer {
    background-color: var(--croitor-dark);
    color:var(--light);
    font-family: 'Brooklyn';
    padding-block: clamp(1.5rem, 15vw, 4rem);
    font-size: 1.2rem;
}

footer > .ctnr {
    width:var(--base-width);
    margin-inline: auto;
    display: flex;
    flex-flow: row wrap;
    gap:3rem;
    justify-content: center;
    align-items: center;
}

footer .logo {
    
}

footer .logo, footer .social, footer .contact {
    width: clamp(10rem, 64vw, 15rem);
}

footer .social {
    display: flex;
    flex-direction: row;
    gap:1rem;
    justify-content: center;
}

footer .social a {
    width: 2rem;
    height: 2rem;
    background-color: var(--dark-a);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-sizing: border-box;
    background-size: 1rem;
    transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
}

footer .social a:hover {
    background-color: var(--croitor-dark);
    transition: background-color 0s ease;
    -webkit-transition: background-color 0s ease;
    -moz-transition: background-color 0s ease;
    -ms-transition: background-color 0s ease;
    -o-transition: background-color 0s ease;
}

footer .contact {
    display: flex;
    flex-direction: column;
    gap:0.6rem;
    text-align: center;
}

footer .contact a {

}

footer .contact a:hover {
    text-decoration: underline;
}

dialog {
    font-size: 2rem;
    width: clamp(10rem, 85vw, 30rem);
    box-sizing: border-box;
    box-shadow: 0.4rem 0.4rem #0078dc, 0.3rem 0.3rem #0078dc, 0.2rem 0.2rem #0078DC, 0.1rem 0.1rem #0078DC, 1rem 1.4rem 2rem #ffffff33;
    border: 0;
    background-color: var(--blue);
    padding: 2rem 1.6rem 0 2rem;
    overflow: initial;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap:1.3rem;
    max-height: 75vh;
    overflow-y: auto;
    padding-bottom: 2rem;
    padding-right: 0.4rem;
}

dialog form p {

}

dialog form .flex {

}

dialog label {
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    letter-spacing: 0.06rem;
}

dialog input {
    
}

dialog textarea {
    min-height: 5rem;
    height:5rem;
    max-height: 20rem;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

dialog input, dialog textarea {
    font-family: 'Brooklyn', sans-serif;
    font-weight: 500;
    padding: 0.5rem;
    border: 0;
    font-size: 0.9rem;
    background-color: var(--light);
    box-sizing: border-box;
    box-shadow: 0.4rem 0.4rem #0078dc, 0.3rem 0.3rem #0078dc, 0.2rem 0.2rem #0078DC, 0.1rem 0.1rem #0078DC;
}

dialog button[type="submit"] {
    width: 100%;
    text-align: center;
    background-color: var(--yellow);
    padding-block: 0.6rem 0.1rem;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 0.1rem;
    font-size: clamp(1.6rem, 7vw, 2rem);
    border: 0.2rem solid var(--light);
    box-shadow: 0.4rem 0.4rem #0078dc, 0.3rem 0.3rem #0078dc, 0.2rem 0.2rem #0078DC;
}

dialog button[type="submit"]:hover {
    background-color: var(--light);
    border-color: var(--yellow);
}

dialog button[type="submit"].submited {
    font-size: 1.6rem;
}

dialog button[value="cancel"] {
    width: 2.2rem;
    position: absolute;
    top: -0.4rem;
    right: 0.4rem;
    background-color: var(--light);
    padding: 0.3rem;
    box-sizing: border-box;
    box-shadow: 0.4rem 0.4rem #0078dc, 0.3rem 0.3rem #0078dc, 0.2rem 0.2rem #0078DC;
}















@media screen and (min-width:700px) {

    .intro {
        padding-top: clamp(3rem, calc(35vh - 15rem), 11rem);
    }

    .intro > .ctnr {
        font-size: clamp(2rem, 5vw, 3.1rem);
    }

    .intro .stroke.left {
        left: 0;
        top: unset;
        bottom: clamp(-7rem,19vw - 26rem,-5rem);
        width: clamp(11rem,calc(50vw - 30rem),18rem);
    } .intro .stroke.right {
        top: clamp(-21rem, calc(50vw - 60rem), -15rem);
        right: 0;
        left: unset;
        width: clamp(4rem, 27vw, 19.5rem);
    }

    .intro .big {
        font-size: clamp(1.1em, 10vw, 1.68em);
        margin-bottom: -1%;
    }

    h1 .small {
        font-size: 1em;
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
        display: inline;
        /* line-height: 1; */
    }

    h1 .smaller {
        font-size: 0.7em;
    }

    h1 .flex {
        gap:0.7rem;
    }

    h1 .break {
        display: block;
    }

    h1 .detach {
        margin-left: clamp(0rem, calc(50vw - 28rem), 19rem);
        display: inline-block;
        /* line-height: 0.6; */
    }

    h1 br {
        display: block;
    }

    .intro .delivery {
        bottom: 1.2rem;
        width: fit-content;
        padding-inline: 2vw;
        font-size: clamp(0.9rem, 1.7vw, 1.8rem);
        margin-left: -1rem;
    }

    .phone_overflow_ctnr {
        right: -20%;
    }

    .smartphone_video_ctnr {
        right: clamp(-10rem, calc(((100vw - var(--base-width)) / 2 - 0.2rem) * -1), 30rem);
        background-position-x: 0;
        max-width: 30vw;
        overflow: initial;
        padding: unset;
        bottom:-1px;
        animation: shake-x 5s ease-in-out infinite alternate;
        -webkit-animation: shake-x 5s ease-in-out infinite alternate;
}

    .smartphone_video_ctnr .ui, .smartphone_video_ctnr video {
        /* right: clamp(1rem, 68%, 23rem);
        bottom: clamp(1rem, 38%, 26vh); */
    }

    .smartphone_video_ctnr .hand {
        right: 0;
        animation: shake-x 4s ease-in-out infinite alternate;
        -webkit-animation: shake-x 4s ease-in-out infinite alternate;
}

    .text_block_ctnr.light .stroke {
        left: -12%;
        width: 28rem;
        right: unset;
        top: -18%;
    }

    .text_block_ctnr.dark .stroke {
        right: 10rem;
        bottom: -4rem;
    }

    .reasons h2 {
        text-align: left;
        margin-bottom: 1rem;
    }

    .reasons ul {
        gap:unset;
    }

    .reasons .content>.ctnr video:first-of-type {
        left: 14%;
        top: 10%;
    }
    
    .reasons .content>.ctnr video:last-of-type {
        right: 14%;
        bottom: 10%;
    }
    

    .reasons li:not(:first-of-type, :last-of-type) {
        margin-block: -1rem;
    }

    .reasons .stroke {
        left: unset;
        right: 0;
        width: 22rem;
        top: -8rem;
    }

    footer > .ctnr {
        justify-content: space-between;
    }

    footer .contact {
        text-align: left;
    }
}