
h2::after {
    content: "";
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 1rem;
}

#indoor h2::after {
    background-image: url(/icons/indoor.svg);
}

#external h2::after {
    background-image: url(/icons/outdoor.svg);
}

.division {
    scroll-margin: calc(clamp(1rem,16vmin,7.5rem) + 5rem);
    width: var(--mobile-width);
    margin-inline: auto;
    margin-top: clamp(4rem, 5vw, 8rem);
}

.division > .flex {
    display: flex;
    flex-direction: column;
    gap: clamp(4rem, 5vw, 6rem);
}

.panel {
    border: 0.1rem solid var(--light-a);
    position: relative;
    scroll-margin-top: 20rem;
}

.panel > .ctnr {
    flex-direction: column;
}

.panel .content {
    width: 85%;
    padding: clamp(3rem,8vmin,8rem) 0 clamp(2rem,5vmin,8rem);
}
 
.panel .content .description {
    font-size: clamp(1.5rem,3.8vmin,1.7rem);
    color: var(--grey);
    line-height: 1.4;
    margin-bottom: 1rem;
}

.panel h3 {
    font-size: clamp(2rem,8.5vw,4.8rem);
    /* text-shadow: -0.6rem 0.6rem rgb(148 197 221 / 20%); */
    font-weight: 600;
    line-height: 1.1;
    transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    color:var(--grey-b)
}

.panel h3:hover {
    color: var(--primary-a);
    transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;
    -moz-transition: color 0.1s ease;
    -ms-transition: color 0.1s ease;
    -o-transition: color 0.1s ease;
}

.panel h3 a {
    display: block;
}

.division h2 + p {
    font-size: 1.5rem;
    color: var(--grey);
    font-weight: 400;
    line-height: 1.4;
    margin: 0.4rem 0 1.6rem;
}

.division .cta {
    font-weight: 600;
    letter-spacing: 0;
    font-size: clamp(1.3rem,5vmin,2rem);
    transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    width: fit-content;
    padding: 0.6rem 1rem 0.6rem 0.5rem;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    background-color: var(--light);
    border-radius: 40rem;
    align-items: center;
    margin-bottom: -4rem;
    z-index: 2;
    margin-left: auto;
    box-sizing: border-box;
    border: 0.2rem solid var(--light-a);
}

.division .cta:hover {
    background-color: var(--light-a);
    transition: background-color 0.1s ease;
    -webkit-transition: background-color 0.1s ease;
    -moz-transition: background-color 0.1s ease;
    -ms-transition: background-color 0.1s ease;
    -o-transition: background-color 0.1s ease;
}

.panel .quote {
    font-size: clamp(1.4rem,4vw,1.8rem);
    color: var(--grey-a);
    font-weight: 600;
    text-align: right;
    padding: clamp(0.9rem,2.5vw,1.4rem) 1.4rem;
    border-radius: 0.4rem;
    position: absolute;
    left: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
    text-align: center;
    border-top: 0.1rem solid var(--light-a);
    background-color: rgb(248 248 255 / 75%);
    backdrop-filter: blur(0.3rem);
}

.panel .image:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
    transition: filter 0.2s ease;
    -webkit-transition: filter 0.2s ease;
    -moz-transition: filter 0.2s ease;
    -ms-transition: filter 0.2s ease;
    -o-transition: filter 0.2s ease;
}

.panel .image {
    filter: brightness(1);
    -webkit-filter: brightness(1);
    transition: filter 0.5s ease;
    -webkit-transition: filter 0.5s ease;
    -moz-transition: filter 0.5s ease;
    -ms-transition: filter 0.5s ease;
    -o-transition: filter 0.5s ease;
}

.panel .image img {
    border-radius: 0 0 1.2rem 1.2rem;
    -webkit-border-radius: 0 0 1.2rem 1.2rem;
    -moz-border-radius: 0 0 1.2rem 1.2rem;
    -ms-border-radius: 0 0 1.2rem 1.2rem;
    -o-border-radius: 0 0 1.2rem 1.2rem;
}

.heading_ctnr {
    padding: clamp(4rem,10vw,5rem) 0;
    background-color: var(--light-a);
}

.heading_ctnr h1 {
    font-size: clamp(2rem,10vw,5.5rem);
    text-align: center;
    margin-bottom: 1rem;
    color: var(--primary-a);
    /* max-width: 105rem; */
    margin-inline: auto;
}

.heading_ctnr p {
    display: block;
    text-align: center;
    margin-inline: auto;
    width: clamp(9rem, 85vw, 125rem);
    font-size: clamp(1.5rem,3.8vmin,1.9rem);
    line-height: 1.5;
    font-weight: 500;
    color: var(--grey-b);
}

.heading_ctnr p b, .heading_ctnr p strong {
    font-weight: 600;
    color: var(--dark-a);
}

.lowercase {
    text-transform: lowercase;
}

@media screen and (min-width:850px) {
    .panel > .ctnr {
        flex-direction: row;
    }

    .division .cta {
        margin-left: unset;
    }

    .panel .content {
        max-width: clamp(40rem,30vw,95rem);
        margin-inline: 4vw 6vw;
        padding-bottom: clamp(3rem,28vmin,15rem);
    }
    
    .panel .quote {
        max-width: calc(clamp(40rem,30vw,95rem) + 10vw);
        box-sizing: border-box;
        border-radius: unset;
        background-color: transparent;
        backdrop-filter: unset;
        bottom: 0;
        right: 0;
        left: 0;
        transition: background-color 0.3s ease;
        border-top: 0.1rem solid var(--light-a);
    }

    .panel .quote:hover {
        background-color: var(--light-a);
        transition: background-color 0.1s ease;
        -webkit-transition: background-color 0.1s ease;
        -moz-transition: background-color 0.1s ease;
        -ms-transition: background-color 0.1s ease;
        -o-transition: background-color 0.1s ease;
    }

    .panel .image img {
        height: 100%;
        border-radius: 0 1.2rem 1.2rem 0;
        -webkit-border-radius: 0 1.2rem 1.2rem 0;
        -moz-border-radius: 0 1.2rem 1.2rem 0;
        -ms-border-radius: 0 1.2rem 1.2rem 0;
        -o-border-radius: 0 1.2rem 1.2rem 0;
    }
}