---
import BaseLayout from "../../layouts/BaseLayout.astro";

import '../../styles/subpages.css'

import ContactSection from "../../components/ContactSection.astro";

import { SITE_DESCRIPTION, SITE_KEYWORDS, CONTACT_TITLE, CONTACT_DESCRIPTION, CONTACT_KEYWORDS } from "../../consts";
---

<BaseLayout title={CONTACT_TITLE} description={CONTACT_DESCRIPTION ? CONTACT_DESCRIPTION : SITE_DESCRIPTION} keywords={CONTACT_KEYWORDS ? CONTACT_KEYWORDS : SITE_KEYWORDS}>
    <main>
        <ContactSection />
    </main>
</BaseLayout>