---
import '../../styles/subpages.css'

import Header from "../../components/Header.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import ContactSection from "../../components/ContactSection.astro";

import { CONTACT_TITLE, CONTACT_DESCRIPTION, CONTACT_KEYWORDS } from "../../consts";
---

<html lang="en">
    <head>
        <BaseHead title={CONTACT_TITLE} description={CONTACT_DESCRIPTION} keywords={CONTACT_KEYWORDS} />
    </head>

    <body>
        <Header />

        <main>
            <ContactSection />
        </main>

        <Footer />
    </body>
</html>