---
    import Layout from '../../layouts/Layout.astro'

    import '../../styles/main.css'
    import '../../styles/form-page.css'
    import '../../styles/global.css'
---

<Layout title='Customer Onboarding - OQVA Digital'>
    <script>
        import '../../scripts/form-page-submit.js'
    </script>
    <section class="intro_sec">
        <div class="container">
            <div>
                <img class="logo" src="/logo/logo-w.svg" alt="logo OQVA" draggable="false" oncontextmenu="return false">

                <div class="txt">
                    <p>Hey!</p>
    
                    <p>To get started we’d love to understand more about your business and more importantly *you.*</p>

                    <p>It’ll really help us figure out how to best show what you do to the world in an authentic way—generating new clients for you in the process.</p>
                </div>

                <a href="#form">Let's start</a>
            </div>
        </div>
        <div class="graphic01"></div>
    </section>

    <section class="form_section">

        <div class="graphic02"></div>
        <div class="graphic03"></div>
        <div class="graphic04"></div>
        <div class="graphic05"></div>

        <form name="customer-onboarding-form" method="POST" data-netlify="true" id="form">

            <div class="primary_inputs">
                <div class="row_inputs">
                    <p>
                        <label>
                            <input value="" type="text" name="first-name" id="first-name-id" required/>
    
                            <span class="over_label">First name</span>
                        </label>
                    </p>
    
                    <p>
                        <label>
                            <input value="" type="text" name="surname" required/>
    
                            <span class="over_label">Surname</span>
                        </label>
                    </p>
                </div>

                <p>
                    <label>
                        <input value="" type="text" name="company-name" required/>

                        <span class="over_label">Company</span>
                    </label>
                </p>

                <div class="row_inputs">
                    <p>
                        <label>
                            <input value="" type="email" name="contact-email" required/>

                            <span class="over_label">E-mail</span>
                        </label>
                    </p>

                    <p>
                        <label>
                            <input value="" type="tel" name="contact-phone" required/>

                            <span class="over_label">Phone no.</span>
                        </label>
                    </p>
                </div>

                <script>
                    const primaryInputs = document.querySelectorAll('.primary_inputs input')

                    for(let i=0;i<primaryInputs.length;i++) {
                        primaryInputs[i].addEventListener('input', function(event) {
                            event.target.setAttribute('value', event.target.value)
                        })
                    }
                </script>
            </div>

            <p class="divider_info">These four questions help us understand where you stand in terms of your experience with the digital world:</p>

            <div class="input_boxes_ctnr">
                <p>
                    <label>
                        <span><b>A.</b> What does the term "brand" mean to you?</span>
                        
                        <textarea name="A-what-does-brand-mean-to-you" spellcheck="false" required></textarea>
                    </label>
                </p>
                
                <p>
                    <label>
                        <span><b>B.</b> What do you think of when you hear "marketing" discussed by people?</span> 
                        
                        <textarea name="B-when-you-hear-marketing-discussed-by-people" spellcheck="false" required></textarea>
                    </label>
                </p>

                <p>
                    <label>
                        <span><b>C.</b> What does a more successful version of your business look like?</span>
                        
                        <textarea name="C-what-does-a-successful-business-look-like" spellcheck="false" required></textarea>
                    </label>
                </p>
                
                <p>
                    <label>
                        <span><b>D.</b> Why do you do what you do?</span> 
                        
                        <textarea name="D-why-do-you-do-what-you-do" spellcheck="false" required></textarea>
                    </label>
                </p>
                

            <span class="divider_info">These questions are more about your business, and where you’d like to go:</span>

                <p>
                    <label>
                        <span><b>1.</b> Tell us the story of your business and what inspired you to start it.</span> 
                        
                        <textarea name="01-the-story-of-your-business-and-inspiration" spellcheck="false" required></textarea>
                    </label>
                </p>
                
                <p>
                    <label>
                        <span><b>2.</b> Who are your customers, and what do you think they like about your business?</span> 
                        
                        <textarea name="02-who-are-your-customers" spellcheck="false" required></textarea>
                    </label>
                </p>
                
                <p>
                    <label>
                        <span><b>3.</b> What makes your business unique, and how do you think stand out from competitors?</span> 
                        
                        <textarea name="03-what-makes-your-business-unique" spellcheck="false" required></textarea>
                    </label>
                </p>
                
                <p>
                    <label>
                        <span><b>4.</b> How do you communicate with your customers, how do they know you exist?</span> 
                        
                        <textarea name="04-how-do-you-communicate-with-your-customers" spellcheck="false" required></textarea>
                    </label>
                </p>
                
                <p>
                    <label>
                        <span><b>5.</b> How do you know if your self-promotion is working, and what are some things you look for to measure success?</span> 
                        
                        <textarea name="5-how-do-you-measure-success" spellcheck="false" required></textarea>
                    </label>
                </p>
                
                <p>
                    <label>
                        <span><b>6.</b> How would you describe your reputation, and what do you want to be known for?</span> 
                        
                        <textarea name="06-describe-your-reputation" spellcheck="false" required></textarea>
                    </label>
                </p>
                
                <p>
                    <label>
                        <span><b>7.</b> What kind of content do you have available to share with your customers, and what do you plan to create in the future?</span> 
                        
                        <textarea name="07-content-to-share-and-plans-to-create" spellcheck="false" required></textarea>
                    </label>
                </p>
                
                <p>
                    <label>
                        <span><b>8.</b> What are some challenges you face when it comes to promoting your business and creating content, and how do you think we can help?</span> 
                        
                        <textarea name="08-challenges-you-face" spellcheck="false" required></textarea>
                    </label>
                </p>
                
                <p>
                    <label>
                        <span><b>9.</b> What is the timeline for the changes you want to see in your business?</span> 
                        
                        <textarea name="09-what-is-the-timeline" spellcheck="false" required></textarea>
                    </label>
                </p>
                
                <p>
                    <label>
                        <span><b>10.</b> How much does it cost you to get a customer through the door?</span> 
                        
                        <textarea name="10-cost-to-get-costumers" spellcheck="false" required></textarea>
                    </label>
                </p>
            </div>

            <p>
              <button type="submit">Submit</button>
            </p>
          </form>
    </section>
        
    <footer>
      <p>Thanks so much, feel free to get in touch to clarify any of the questions you have yourself — we’re happy to work through this together!</p>

      <a href="https://oqva.digital" target="_blank">OQVA.DIGITAL</a>

      <a href="mailto:contact@oqva.digital">contact@oqva.digital</a>
    </footer>
</Layout>