---
    import Layout from '../../../layouts/Layout.astro'

    import '../../../styles/main.css'
---
<Layout title='North Oxfordshire Conservative Association'>
    <section class="light">
        <header>
            <a href="/">
                <img class="logo" src="/logo/logo.png" alt="OQVA">
            </a>
        </header>

        <div class="txt ctnr">
            <h2>1. How much Content is too much Content?</h2>

            <p>Did you know that over 330,000 hours of video are uploaded to YouTube every minute?</p>

            <p>That's an astronomical amount of content to compete with. With so much noise out there, a comprehensive content strategy isn't just important – it's essential. It's the key to standing out from the competition and connecting with your target audience on a deeper level.</p>

            <p>At OQVA.digital, we know how crucial it is to have a cohesive strategy when creating content. We understand that making a video isn't just about pointing a camera and hitting record. It's about crafting a message that resonates with your target audience, telling a story that inspires them, and delivering it in a way that grabs their attention and leaves a lasting impression.</p>

            <p>We've seen time and time again that a disjointed content strategy simply doesn't work; it leaves you feeling like you've wasted your time and resources. With our help, you'll be able to create standout content that makes a real impact, instead of wasting time and money on videos that just blend in with the crowd.</p>

            <a class="read_more" href="#read-more">Read more <div></div></a>
        </div>

        <div class="asset a2"></div>
    </section>

    <section class="dark" id="read-more">
        <div class="txt ctnr">
            <h2>2. The Teenager with a Camera</h2>

            <p>It's no secret that anyone with a smartphone can make a video these days. But that's not the problem. The real challenge that we see our clients constantly facing is developing an effective foundation to build content from.</p>

            <p>Technical specialists (or teenagers with cameras) may sell you on the idea of video, but that doesn't mean they know how to create content that truly connects with your audience. They may have the equipment to produce a high-quality video, but without the creative vision to bring your brand to life, that video will be nothing more than a quick job for them, and wasted effort for you.</p>

            <p><b>Technical proficiency isn't enough.</b></p>

            <p>We take a holistic approach to content creation, starting with a deep understanding of your brand, your target audience, and your goals.</p>
        </div>

        <div class="asset a3" ></div>
    </section>

    <section class="light">
        <div class="txt ctnr">
            <h2>3. What we do</h2>

            <p>Our process starts with a deep dive into research and a creative consultation to discover the core of your message and identify your target audience.</p>

            <p>From there, we move on to pre-production, where we create effective scripts with a strategy to multiply the amount content possible. Our aim is to create a steady stream of attention-grabbing content that truly resonates with your target audience across multiple platforms.</p>

            <p>After developing a solid strategy, we start producing the content required to execute it using the right tools for each job. There’s rarely a reason to have a 25 person film crew for a TikTok video, that resource may be better spent on producing numerous articles and images supporting the video on different platforms.</p>

            <p>Finally, we move into post-production, where we deliver on our idea of Content As A Service; a library of elements and assets that will allow for exponential reach of your target audience. Our goal is to provide you with a comprehensive strategy that keeps the standout content coming, day in and day out.</p>
        </div>

        <div class="asset a4"></div>
    </section>

    <section class="dark">
        <div class="txt ctnr">
            <h2>4. The North Oxfordshire Conservative Association</h2>

            <p><b>Enough about us, let’s get personal.</b></p>

            <p>We know that it's not always easy to admit when things aren't going well. The truth is, the "Conservative" brand image may have taken a bit of a beating lately, so much so that the word "Tory" has become something of an insult.</p>

            <p>But here's the good news: the metaphorical pendulum of "cool" is swinging back to traditional values, hard. And that's the future we see for the North Oxfordshire Conservative Association. We want to help you truly take advantage of that swing by being an example of the essence of traditional, conservative values.</p>

            <p>We'll work with you to create a standout content that connects with your target audience of first-time voters, telling the story of the North Oxfordshire Conservative Association and highlighting the fundamental, core values which most young people yearn for;</p>

            <ul>
                <li><p>Individual freedoms and right to social justice are respected and upheld</p></li>
                <li><p>Right to free enterprise and industry is protected and encouraged</p></li>
                <li><p>Dignified institutions and traditions are safeguarded and carefully maintained.</p></li>
            </ul>

            <p>By telling your story in a way that connects with your target audience, we'll help restore your brand image and position you as the example to work towards.</p>
        </div>

        <div class="asset a1"></div>
    </section>

    <section class="light">
        <div class="txt ctnr flex">
            <div>
                <h2>5. The Importance of a Comprehensive Content Strategy</h2>

                <p>Unfortunately, making just five videos won't be enough to restore the North Oxfordshire Conservative Association's brand image or achieve their goals. The truth is, developing a great brand image is a continuous effort that requires a consistent stream of high-quality content including, but not limited to just video.</p>

                <p>At OQVA.digital, we understand that one of the biggest challenges facing organisations today is the need for a comprehensive content strategy that covers all bases. With our help, you'll be able to deliver a steady stream of attention-grabbing content that truly resonates with your target audience.</p>

                <p>The truth is, a lackluster content strategy just won't cut it in today's hyper-competitive digital world. If you want to rise above the noise and stand out from the competition, you need a content strategy that truly connects with your target audience on a deep, emotional level.</p>

                <p>And that's exactly what we're here to help you achieve.</p>
            </div>

            <div class="asset a5"></div>
        </div>
    </section>

    <section class="dark">
        <div class="txt ctnr">
            <h2>6. Why us and not the teenager?</h2>

            <p>When the North Oxfordshire Conservative Association reached out to us to produce five videos, we understood that budget constraints were a real concern. But the truth is, we're offering more than just five pieces of content, even if we only ever make five videos.</p>

            <p>At OQVA.digital, we're focused on providing Content As A Service. We don't just make videos, we create libraries of elements and assets that allow for exponential reach of your target audience.</p>

            <p>With our help, you'll be able to keep the standout content coming, day in and day out.</p>

            <p>We understand that budget constraints are a real concern, and we're willing to help tailor a package that will work within them.</p>

            <p>Our goal is to help you create a consistent stream of attention-grabbing content that strengthens your brand image and truly resonates with those who are most important for you to reach.</p>
        </div>
    </section>

    <section class="light">
        <div class="txt ctnr">
            <h2>7. Next Steps</h2>

            <p>We're excited to take the North Oxfordshire Conservative Association's brand image to the next level with a series of five standout videos that showcase your core values and mission. But our goal is more than just making those five videos. We're focused on building a long-term working relationship that allows you to truly connect with your tribe.</p>

            <p>With our Content As A Service approach, we'll help you create a comprehensive content strategy that delivers a steady stream of attention-grabbing content that strengthens your brand image and resonates with your target audience.</p>

            <p>Starting with the initial five videos, we hope keep the standout content coming for as long as you have a message to communicate.</p>

            <p>So what are the next steps? Let's start by scheduling a creative consultation, where we can get a better understanding of your brand, your target audience, and your goals. From there, we'll work with you to create a foundation for your content that truly sets you apart.</p>
        </div>

        <div class="asset a6"></div>
        <div class="asset a7"></div>
    </section>

    <footer>
        <a href="../index.html">
            <img class="logo" src="/logo/logo.png" alt="OQVA">
        </a>
    </footer>
</Layout>

<style>

    body {
        width: 100%;
        font-family: 'Tablon', sans-serif;
    }
    
    section {
        width: 100%;
        padding: clamp(4rem, 6vw, 5rem) 0;
        position: relative;
    }
    
    section.light {
        background-color: var(--light);
        background-image: url(/home/bg04-lighter.jpg);
        background-image: -webkit-image-set(url(/home/bg04-lighter.jpg) 1x, url(/home/bg04-lighter.webp) 1x);
        /* background-attachment: fixed; */
        background-position: center;
        color: #222;
    }
    
    section.dark {
        background-image: url(/home/bg03.jpg);
        background-image: -webkit-image-set(url(/home/bg03.jpg) 1x, url(/home/bg03.webp) 1x);
        background-size: cover;
        background-position: center;
        color: #FFF;
        background-attachment: fixed;
    }
    
    header {
        padding: 0 0 3rem;
    }
    
    .txt.ctnr {
        width: clamp(12rem, 85vw, 58rem);
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }
    
    .txt.ctnr p {
        /* text-align: justify; */
        margin-top: 0.9rem;
        font-family: 'BrilkSans', sans-serif;
        font-size: clamp(1.1rem, 4.5vw, 1.22rem);
        line-height: 1.55;
        letter-spacing: 0.03rem;
        text-align: justify;
    }
    
    .txt.ctnr h2 {
        margin-bottom: 1rem;
        font-size: clamp(1.5rem, 8vw, 2.2rem);
        font-weight: 900;
    }
    
    section.light p {
        color: #444;
        font-weight: 400;
    }
    
    section.dark p {
        font-weight: 400;
        color: #AAA;
    }



    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: clamp(14rem, 72vw, 24rem);
    }

    footer a {
        filter: invert(1);
    }

    .asset {
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        display: block;
        z-index: 1;
    }

    .asset.a1 {
        width: 100%;
        background-image: url(/LPs/noca/01.png);
        background-image: -webkit-image-set(url(/LPs/noca/01.png) 1x, url(/LPs/noca/01.webp) 1x);
        background-position: bottom right;
        margin-bottom: calc(clamp(4rem, 6vw, 5rem) * -1);
        height: clamp(20rem, 38vw, 34rem);
    }

    .asset.a2 {
        width: clamp(1rem, 100vw, 56rem);
        height: clamp(1rem, 70vw, 25rem);
        margin: calc(clamp(4rem, 6vw, 15rem) * -1) 0 calc(clamp(4rem, 6vw, 5rem) * -1) auto;
        background-image: url(/LPs/noca/04.png);
        background-image: -webkit-image-set(url(/LPs/noca/04.png) 1x, url(/LPs/noca/04.webp) 1x);
        background-position: clamp(5rem, 12vw, 11rem) 5rem;
        background-size: cover;
    }

    .asset.a3 {
        width: clamp(1rem, 55vw, 44rem);
        height: clamp(1rem, 38vw, 25rem);
        margin: calc(clamp(6rem, 13vw, 13rem) * -1) 0 0rem auto;
        background-image: url(/LPs/noca/05.png);
        background-image: -webkit-image-set(url(/LPs/noca/05.png) 1x, url(/LPs/noca/05.webp) 1x);
        background-size: contain;
        transform: translateY(clamp(4rem, 25vw, 12rem));
    }

    .asset.a4 {
        height: clamp(1rem, 60vw, 31rem);
        margin: 0 auto calc(clamp(4rem, 6vw, 15rem) * -1) 0;
        background-image: url(/LPs/noca/06.png);
        background-image: -webkit-image-set(url(/LPs/noca/06.png) 1x, url(/LPs/noca/06.webp) 1x);
        background-size: cover;
        background-position: right top;
        width: clamp(10rem, 80vw, 26rem);
    }

    .asset.a5 {
        height: clamp(22rem, 94vw, 42rem);
        margin: 0 0 calc(clamp(4rem, 6vw, 15rem) * -1.3) auto;
        background-image: url(/LPs/noca/10.png);
        background-image: -webkit-image-set(url(/LPs/noca/10.png) 1x, url(/LPs/noca/10.webp) 1x);
        background-size: contain;
        background-position: left top;
        width: clamp(10rem, 63vw, 62rem);
    }

    .asset.a6 {
        height: clamp(14rem, 42vw, 35rem);
        margin: 0 0 calc(clamp(4rem, 6vw, 15rem) * -2) auto;
        background-image: url(/LPs/noca/09.png);
        background-image: -webkit-image-set(url(/LPs/noca/09.png) 1x, url(/LPs/noca/09.webp) 1x);
        background-size: contain;
        background-position: left top;
        width: clamp(6rem, 68vw, 39rem);
    }

    .asset.a7 {
        height: clamp(12rem, 44vw, 14rem);
        margin: 0 0 calc(clamp(4rem, 6vw, 15rem) * -1) auto;
        background-image: url(/LPs/noca/02.png);
        background-image: -webkit-image-set(url(/LPs/noca/02.png) 1x, url(/LPs/noca/02.webp) 1x);
        background-size: cover;
        background-position: left top;
        width: clamp(5rem, 18vw, 55rem);
        position: absolute;
        top: -5rem;
        right: 0;
    }

    .read_more {
        font-family: 'BrilkSans', sans-serif;
        font-weight: 800;
        font-size: clamp(0.9rem, 4.2vw, 1.1rem);
        letter-spacing: 0.2rem;
        margin-top: 1.2rem;
        display: inline-flex;
        background-color: var(--dark);
        color: var(--light);
        padding: 0.7rem 0.9rem 0.4rem;
        text-transform: uppercase;
        line-height: 1;
        gap: 0.7rem;
        border-radius: 0.2rem;
    }

    .read_more div {
        transform: rotate(45deg);
        border-right: 0.2rem solid var(--light);
        border-bottom: 0.2rem solid var(--light);
        width: 0.4rem;
        height: 0.4rem;
    }

    

    @media (orientation: landscape) and (min-width: 120vh), (min-width: 1000px) {
        .asset.a1 {
            background-position: right 12rem;
            margin-top: -12rem;
        }

        .asset.a4 {
            width: clamp(10rem, 19vw, 26rem);
            height: clamp(2rem, calc(70vw - 44rem), 40rem);
            position: absolute;
            bottom: 0;
            margin: unset;
        }

        .asset.a5 {}

        .txt.ctnr.flex {
            display: flex;
            gap: 4rem;
        }

        .asset.a7 {
            width: 10rem;
            left: 4vw;
            right: unset;
            top: -6vw;
            background-size: contain;
            height: clamp(8rem, 13vw, 14rem);
        }

        .asset.a6 {
            margin-bottom: -20vw;
            margin-top: calc(10rem - 16vw);
            height: clamp(14rem, 34vw, 35rem);
        }
    }

</style>