---
import Layout from "../layouts/HomeLayout.astro";
// import Stripe from "../components/Stripe.astro";
import Header from "../components/Header.astro";
---

<Layout title="The Clean Network - Commercial & Office Cleaning Services">
	<Header />
	<main>
		<section class="intro">
			<div class="ctnr">
				<div class="content">
					<h1>Commercial and Office Cleaning Services</h1>

					<h2>
						The proof is in our numbers. We clean over 500 offices
						each day with our office cleaning services. 95% of our
						clients choose to stay with us at the end of their
						contract.
					</h2>

					<div class="bt_ctnr flex">
						<div class="ctas flex">
							<a href="#" class="services">Know our Services</a>
							<a href="#" class="quote">Get a Quote</a>
						</div>

						<div class="flex column">
							<a href="#"><span>London:</span> 020 3411 0275</a>
							<a href="#"><span>Birmingham:</span> 0121 3927529</a
							>
						</div>
					</div>
				</div>

				<div class="showcase">
					<img src="/images/office01.jpg" alt="Office photo" />
				</div>
			</div>

			<div class="text_block">
				<div class="ctnr">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Nisi blanditiis quasi cum culpa, odit ipsam aliquid
						quibusdam temporibus! Cupiditate voluptatum maiores
						explicabo hic officia libero. Quam alias dolorem nostrum
						reprehenderit.
					</p>
				</div>
			</div>
		</section>

		<section class="clients">
			<div class="ctnr">
				<h3>Our clients include...</h3>

				<div class="content">
					<img src="client-logos/apptio.png" alt="Apptio logo" />
					<img src="client-logos/outreach.png" alt="Outreach logo" />
					<img
						src="client-logos/the-salvation-army.png"
						alt="The Salvation Army logo"
					/>
					<img
						src="client-logos/spire-healthcare.png"
						alt="Spire Healthcare logo"
					/>
					<img src="client-logos/xero.png" alt="Xero logo" />
				</div>
			</div>
		</section>

		<section class="services"></section>
	</main>
</Layout>

<style>
	main {
	}

	.intro {
		background-image: url("/images/office-bg01.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}

	.intro > .ctnr {
		display: flex;
		flex-direction: column;
		gap: clamp(4rem, 8vw, 7rem);
	}

	.intro > .ctnr .content {
		width: var(--mobile-width);
		margin: clamp(3rem, 8vw, 6rem) auto 0;
		display: flex;
		flex-direction: column;
		gap: clamp(1rem, 3vw, 2.5rem);
	}

	.intro h1 {
		font-size: clamp(1rem, 9.5vmin, 6.2rem);
		font-weight: 700;
		line-height: 1.2;
	}

	.intro h2 {
		font-size: clamp(1rem, 3.9vmin, 2.2rem);
		font-weight: 600;
		letter-spacing: 0;
		line-height: 1.5;
	}

	.intro .bt_ctnr {
		flex-flow: row wrap;
		gap: 1.4rem;
		align-items: center;
	}

	.intro .ctas {
		gap: 1.4rem;
		color: var(--light);
		font-weight: 500;
		font-size: clamp(1.3rem, 3.6vmin, 1.5rem);
		line-height: 1;
	}

	.ctas a {
		border-radius: 0.5rem;
		padding: 1.3rem 1.9rem;
		border: 0.2rem solid var(--light);
	}

	.intro .bt_ctnr .flex.column {
		gap: 0.6rem;
		font-weight: 600;
		font-size: clamp(1.2rem, 3.5vmin, 1.4rem);
	}

	.intro .bt_ctnr .flex.column span {
		color: var(--primary-a);
		font-weight: 600;
	}

	.ctas .services {
		background-color: var(--primary-a);
	}

	.ctas .quote {
		background-color: var(--highlight);
	}

	.showcase {
	}

	.showcase img {
		height: clamp(30rem, 50vw, 62rem);
		width: 100%;
		object-fit: cover;
		object-position: center;
		display: flex;
	}

	.intro .text_block {
		background-color: var(--highlight);
		padding: clamp(3rem, 10vmin, 6rem) 0;
		color: var(--light);
		font-size: clamp(1.5rem, 4vmin, 2.2rem);
	}

	.intro .text_block > .ctnr {
		width: var(--mobile-width);
		margin-inline: auto;
	}

	.intro .text_block p {
		text-align: center;
		max-width: 90rem;
		margin-inline: auto;
		line-height: 1.6;
	}

	section.clients {
	}

	.clients > .ctnr {
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: clamp(2rem, 3vw, 3rem);
		align-items: center;
		padding: clamp(4rem, 5vw, 6rem) 0 0;
	}

	.clients h3 {
		font-size: clamp(2rem, 6vw, 2.8rem);
		font-weight: 500;
		color: var(--primary-a);
	}

	.clients .content {
		display: flex;
		flex-direction: row;
		gap: clamp(2rem, 9vw, 4rem);
		overflow: auto;
		padding: 0 2rem clamp(3rem, 5vw, 6rem);
	}

	section.services {
		width: 100%;
		min-height: 60rem;
		background-color: var(--primary-a);
	}

	@media screen and (min-width: 900px) {
		.intro > .ctnr {
			flex-direction: row;
			width: calc(100% - (100% - var(--mobile-width)) / 2);
			margin-left: auto;
			gap: 2rem;
		}

		.intro h1 {
			font-size: clamp(5rem, calc(5.5vw - 2.6rem), 7rem);
		}

		.intro h2 {
			font-size: clamp(1.8rem, 1.8vw, 2.2rem);
			max-width: 65rem;
		}

		.intro > .ctnr .content {
			margin: clamp(3rem, 7vw, 12rem) auto;
			width: unset;
			max-width: clamp(40rem, 50vw, 85rem);
		}

		.showcase {
			flex: 1;
		}

		.showcase img {
			height: 100%;
			max-height: 80vh;
			display: flex;
		}
	}
</style>
