---
import '../styles/main.css'
import '../styles/contact-form.css'

import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout>
    <script>
        import '../scripts/nav_menu.js'
    </script>

    <section class="sec1">

        <header>
            <picture class="logo" loading="lazy">
                <source srcset="/logo/logo.webp" type="image/webp" width="224" height="70">
                <source srcset="/logo/logo.png" type="image/png" width="224" height="70">
                <img src="/logo/logo.png" alt="Globe" draggable="false" width="224" height="70">
            </picture>

            <button class="hambt" aria-label="Open menu button">
                <div></div>
            </button>

            <div class="exit_bg"></div>
    
            <menu>
                <a href="/">HOME</a>
                <button class="contact_bt" type="button" aria-label="Contact button">CONTACT</button>
                <a href="/portfolio/">PORTFOLIO</a>
            </menu>
        </header>
    </section>


    <section class="sec2">
        <div class="ctnr">
            <div class="globe_div">
                <div class="globe01">
                    <picture class="rotating" loading="lazy">
                        <source srcset="/home/globe01_words.webp" type="image/webp" width="331" height="331">
                        <source srcset="/home/globe01_words.png" type="image/png" width="331" height="331">
                        <img src="/home/globe01_words.png" alt="Globe" draggable="false" width="331" height="331">
                    </picture>

                    <picture loading="lazy">
                        <source srcset="/home/globe01.webp" type="image/webp" width="331" height="331">
                        <source srcset="/home/globe01.png" type="image/png" width="331" height="331">
                        <img src="/home/globe01.png" alt="Globe" draggable="false" width="331" height="331">
                    </picture>
                </div>
                <!-- <img class="brand" src="/home/brand.png" alt="BRAND" draggable="false"> -->

                <picture class="brand" loading="lazy">
                    <source srcset="/home/brand.webp" type="image/webp" width="352" height="58">
                    <source srcset="/home/brand.png" type="image/png" width="352" height="58">
                    <img src="/home/brand.png" alt="BRAND" draggable="false" width="352" height="58">
                </picture>
            </div>

            <h1>We're a <b>boutique digital agency</b> that believes in weaving meaning into everything we create; we dive into the depth of your brand to <b>empower individuals with tools for their own identity journey</b>.</h1>

            <p><b>Our philosophy?</b> Each organization's purpose is to enable its audience to discover, express, and celebrate their unique selves.</p>

            <p>Your brand isn't just your product, service, or logo — it's a story, a shared language, a tribe. We help you tell that story and foster that tribe. Let's create something meaningful together.</p>

            <!-- <h1>We believe that the key to a <b>successful content strategy</b> is simple: make it <b>personal</b>, make it <b>unique</b>, and make it <b>entertaining</b>.</h1>

            <p>We don't just make videos, <b>we craft stories that inspire</b>. We don't just build websites, we create digital experiences that captivate. And we don't just manage social media, we <b>create communities that engage</b>.</p>

            <p><b>Our mission is to help you stand out from the noise and make a real impact with your content.</b> Whether you're a large business looking to win the content game, an entrepreneur looking for digital services, or an operator looking to scale your existing business, we're here to help you find the brand that exist in what you already do.</p> -->

            <p><b>So, what are you waiting for? <button type="button" aria-label="Contact button" class="contact_bt">Let's create an unforgettable brand.</button></b></p>

            <!-- <h1><b>We believe</b> the sole differentiating factor in a digital world is <strong>brand</strong>.</h1>

            <p>OQVA is a full house communication agency with the sole objective to help you and your business discover and amplify the brand already present within the culture of what you do.</p>

            <p>Our fundamental drive is to populate the world with original, inspiring, and culturally significant ideas. </p> -->

            <picture class="globe02" loading="lazy">
                <source srcset="/home/globe02-mobile.webp" type="image/webp" width="331" height="380" media="(max-width:600px)">
                <source srcset="/home/globe02-desktop.webp" type="image/webp" width="448" height="514" media="(min-width:600px)">

                <source srcset="/home/globe02-mobile.png" type="image/png" width="331" height="380" media="(max-width:600px)">
                <source srcset="/home/globe02-desktop.png" type="image/png" width="448" height="514" media="(min-width:600px)">

                <img src="/home/globe02.png" alt="Globe 2" draggable="false" width="331" height="380">
            </picture>
        </div>
    </section>

    <section class="sec3">
        <div class="ctnr">
            <h2>We believe that <b>diverse culture</b> is a requirement for innovation and a <b>better world</b>.</h2>

            <div class="txt">
                <p>At OQVA, we’re not your typical digital agency, we embrace a unique philosophy: every organization exists to provide the individual tools to build their own identity. We design experiences that resonate on a personal level, triggering emotions and sparking conversations. From cutting-edge websites to engaging digital content, our creations are born from a deep understanding of your audience’s deepest desires and aspirations.</p>
    
                <p>With us, you’re getting more than a service — you’re entering a partnership. Together, we’ll build a brand that goes beyond selling, to tell a story, spark a conversation, and foster a community.</p>
            </div>
        </div>
    </section>

    <section class="sec4">

        <picture class="car_marketing" loading="lazy">
            <source srcset="/home/car-mobile.webp" type="image/webp" width="373" height="230" media="(max-width:600px)">
            <source srcset="/home/car-desktop.webp" type="image/webp" width="990" height="611" media="(min-width:600px)">
            <source srcset="/home/car-mobile.png" type="image/png" width="373" height="230" media="(max-width:600px)">
            <source srcset="/home/car-desktop.png" type="image/png" width="990" height="611" media="(min-width:600px)">
            <img src="/home/car.png" alt="car composition" draggable="false" width="373" height="230">
        </picture>

        <h2>We specialise in crafting digital experiences that empower and resonate. Our services include:</h2>

        <div class="services">
            <article>
                <h3>Brand Strategy</h3>
                <p>We delve into the soul of your brand to build strategies that empower your audience, fostering a sense of belonging and collective aspiration.</p>
            </article>
            
            <article>
                <h3>Website Design & Development</h3>
                <p>More than creating visually stunning websites, we design digital platforms that are immersive, interactive, and intimately connected to your brand’s essence.</p>
            </article>
            
            <article>
                <h3>Digital Content Creation</h3>
                <p>Our content isn’t just about conveying information — it's about sparking connections, conversations, and community.</p>
            </article>
        </div>

        <div class="contact">
            <p>Ready to create something meaningful? We’re excited to meet you. Let’s explore the potential of your brand together, uncovering the core essence that will resonate with your audience. Reach out today, and let’s start crafting your unique story.</p>

            <button class="contact_bt" type="button" aria-label="Contact button">Contact us</button>
        </div>

        <!-- <h3 class="services">We provide a full range of services, including:
        </h3> -->

        <!-- <span>creative/cultural positioning - narrative crafting - PR - organic - paid marketing - high end content creation - full stack digital - community management - web3 (tokenisation & NFTs)</span> -->
    
        <!-- <span>Content strategy development · Creative consultation · Research and audience analysis · Brand image and messaging consulting ·  Pre-production planning and script writing · Video production · Post-production and delivery of Content As A Service · Library of elements and assets for exponential reach · Social media content creation and management · Website and digital asset creation · Content optimisation and analytics · Ongoing content creation and management.</span> -->
    </section>

    <section class="form_sec">

    </section>

    <footer>
        Made by 
        <picture loading="lazy">
            <source srcset="/logo/logo.webp" type="image/webp" width="96" height="30">
            <source srcset="/logo/logo.png" type="image/png" width="96" height="30">
            <img src="/logo/logo.png" alt="Logo" draggable="false" width="96" height="30">
        </picture>
    </footer>

    <ContactForm/>
</Layout>


<style>
	body {
		font-family: 'Tablon', sans-serif;
		overflow-x: hidden;
	}

	body .logo {
		margin: 0 auto;
		display: block;
		width: clamp(12rem, 60vw, 14rem);
		object-fit: contain;
	}

	h1 {
		text-transform: uppercase;
		font-weight: 600;
		width: var(--width2);
		margin: 0 auto;
		font-size: clamp(1.1rem, 5.7vmin, 2.4rem);
		letter-spacing: 0.1rem;
	}

	footer {
		background-color: var(--light);
		color: var(--dark);
		font-weight: 600;
		display: flex;
		justify-content: center;
		gap: 0.9rem;
		padding: 1rem 0;
		align-items: center;
		letter-spacing: 3px;
	}

	footer picture {
		width: 6rem;
	}



	@media (min-width:700px) {

		.logo {
			margin: 0;
		}

		h1 {
			margin: 0;
			max-width: 50rem;
		}

		footer {
			padding: 0.5rem 0;
		}
	}

</style>