---


---

<div class="blog_stripe">
    <div class="ctnr">
        <h3><sup>The Clean Network's</sup> Blog</h3>
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <b>Velit et distinctio eius, est repellat similique iste, sint maiores illum magnam in!</b> Ut nemo deserunt magnam dignissimos. Laborum quos ipsum illum?</p>
    
        <a href="/blog/" class="main cta">Check our Blog</a>
    </div>
</div>

<style>
    .blog_stripe {
        background-color: var(--light-a);
        text-align: center;
        padding-block: clamp(5rem, 4vw, 6rem);
        border-block: 1.4rem solid var(--primary-e);
        display: none;
    }

    .blog_stripe > .ctnr {
        width: clamp(9rem, 82vw, var(--max-width));
        margin-inline: auto;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog_stripe h3 {
        font-size: clamp(3rem,30vw,15rem);
        color: var(--primary-e);
        line-height: 1;
    }

    .blog_stripe h3 sup {
        display: block;
        font-size: 0.16em;
        color: var(--primary-d);
        font-weight: 500;
    }

    .blog_stripe p {
        font-size: clamp(1.5rem, 4vw, 1.8rem);
        max-width: 90rem;
        margin-block: 3rem 2.4rem;
        line-height: 1.6;
        font-weight: 400;
        color: var(--grey-b);
    }

    .blog_stripe p b, .blog_stripe p strong {
        font-weight: 500;
        color: var(--primary-e);
    }

    .blog_stripe a {
        background-color: var(--primary-e);
        border-color: var(--primary-e);
    }
</style>