---
import { LONDON_PHONE_NO, LONDON_PHONE_NO_HREF } from "../consts";
---
					

<div class="contact_box">
    <a href="mailto:office@cleannetwork.co.uk" class="email">
        <span class="icon"></span>
        office@cleannetwork.co.uk
    </a>
    
    <a href={`tel:${LONDON_PHONE_NO_HREF}`} class="tel">
        <span class="icon"></span>
        London: {LONDON_PHONE_NO}
    </a>
    
    <!-- <a href="tel:+44-0121-3927529" class="tel">
        <span class="icon"></span>
        Birmingham: 0121 3927529
    </a> -->

    <!-- <hr>

    <div class="social">
        <a href="#" class="icon instagram" title="Instagram"></a>

        <a href="#" class="icon facebook" title="Facebook"></a>

        <a href="#" class="icon linkedin" title="LinkedIn"></a>
    </div> -->
</div>

<style>
    .contact_box {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: clamp(1rem,4vmin,1.7rem);
        line-height: 1.5;
    }
    
    .contact_box a {
        display: flex;
        gap:1rem;
        align-items: center;
        width: fit-content;
        transition: opacity 0.4s ease;
    }

    .contact_box a:hover {
        opacity: 0.6;
        transition: opacity 0s ease;
    }
    
    .contact_box a .icon {
        width: 1.6rem;
        height: 1.6rem;
    }
    
    .contact_box hr {
        margin: 1.5rem 0;
        width: 2rem;
        height: 0.1rem;
        background-color: rgb(248 248 255 / 20%);
    }
    
    .contact_box .email .icon {
        background-image: url('/icons/mail.svg');
    }
    
    .contact_box .tel .icon {
        background-image: url('/icons/tel.svg');
    }
    
    .contact_box .social {
        display: flex;
        gap:1.5rem;
    }
</style>