---
    import '../styles/forms.css'
    const { contactPage } = Astro.props;
---

<section class="contact default_bg" id="contact">
    <div class="ctnr reveal">
        <!-- <form name="contact" method="POST" data-netlify="true">
            {contactPage != "true" ? (
                <span class="title">Get in touch</span>
            ) : (
                <h1 class="title">Get in touch</h1>
            )}

            <div class="flex">
                <p>
                    <label>First name: <input class="squares_bg" type="text" name="name" required/></label>
                </p>

                <p>
                    <label>Last name: <input class="squares_bg" type="text" name="name" required/></label>
                </p>
            </div>

            <p>
                <label>Email: <input class="squares_bg" type="email" name="email" required/></label>
            </p>

            <p>
                <label>Message: <textarea class="squares_bg" name="message" required></textarea></label>
            </p>

            <p>
                <button type="submit" aria-label="Submit contact form">Request a quote</button>
						
                <noscript>You need to enable JavaScript on your browser to submit emails.</noscript>
            </p>
            </form> -->

            <iframe src="https://forms.monday.com/forms/embed/2b8278e5846d1e40576e7f26f8886cc2?r=euc1" width="650" height="500" style="border: 0; box-shadow: 5px 5px 56px 0px rgba(0,0,0,0.25);"></iframe>
    </div>

    <!-- <script>
        import "../scripts/form.js";
    </script> -->
</section>