---


import { TEL, TEL_HREF, EMAIL } from '../consts'
---

<section class="content_panel cta">
    <div class="content">
        <p>To discuss your office cleaning service, contact us on <a href={`tel:${TEL_HREF}`}>{TEL}</a> or <a href=`mailto:${EMAIL}`>{EMAIL}</a> or click below for a free quote.</p>

        <a href="/contact/" class="cta">Get quote</a>
    </div>
</section>