---
    import '../styles/faq.css'

    import { Schema } from "astro-seo-schema"

    import { type CollectionEntry, getCollection } from "astro:content";
    // type Props = CollectionEntry<"faq">["data"];

    const faq = (await getCollection('faq')).sort((a, b) => {
        // Check if both items have an 'order' property
        if (a.data.order !== undefined && b.data.order !== undefined) {
            return a.data.order - b.data.order; // Sort by 'order' if both have it
        } else if (a.data.order !== undefined) {
            return -1; // 'a' has 'order', but 'b' doesn't, so 'a' comes first
        } else if (b.data.order !== undefined) {
            return 1; // 'b' has 'order', but 'a' doesn't, so 'b' comes first
        } else {
            // Both 'a' and 'b' don't have 'order', fallback to sorting by 'title'
            return a.data.title.localeCompare(b.data.title);
        }
    });

    export interface FAQProps {
        expanded: string;
        max: string;
    }


    const { expanded, max } = Astro.props;
---


<ul class="faq_list">
    {
        faq.slice(0, max).map((questions) => (
            <>
            <li class={expanded == "true" ? "expanded reveal" : "reveal"}>
                <div class="question squares_bg" role="button">
                    <p set:html={questions.data.title}></p>

                    <div class="icon">
                        <div class="minus"></div>
                        <div class="plus"></div>
                    </div>
                </div>

                <div class="answer">
                    <p set:html={questions.data.answer}></p>
                </div>
            </li>
            </>
        ))
    }
</ul>

<script is:inline>
    const FAQs = document.querySelectorAll('.question')
    const answers = document.querySelectorAll('.answer')
    
    // initialize hiding
    setTimeout(() => {
        for(let i = 0; i < FAQs.length; i++) {
            if(FAQs[i].parentElement.classList.contains('expanded')) {
                answers[i].style.maxHeight = answers[i].scrollHeight + 'px'
            } else {
                answers[i].style.maxHeight = 0
            }
        }
    }, 300);

    for(let i = 0; i < FAQs.length; i++) {
        FAQs[i].addEventListener('click', function() {
            if(this.parentElement.classList.contains('expanded')) {
                this.parentElement.classList.remove('expanded')

                answers[i].style.maxHeight = 0
            } else {
                this.parentElement.classList.add('expanded')

                answers[i].style.maxHeight = answers[i].scrollHeight + 'px'
            }
        })
    }
</script>


<Schema
    item={{
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
            {
          "@type": "Question",
          "name": "What is included in the office cleaning service?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "Our cleaners adhere to a prioritised checklist established during the booking process."
          }
        }, {
          "@type": "Question",
          "name": "How are office cleaners vetted?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "Our vetting process includes ID and reference checks, followed by two interviews to ensure we collaborate with reliable individuals."
          }
        }, {
          "@type": "Question",
          "name": "What about cleaning materials and products?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "We can provide materials and equipment to you at an extra monthly charge. Or of course you can provide."
          }
        }, {
          "@type": "Question",
          "name": "Can I have the same office cleaner consistently?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "Yes, we arrange a regular cleaner for your site for consistency."
          }
        }, {
          "@type": "Question",
          "name": "What if the cleaner damages something?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "We strive to compensate you in the event of damage."
          }
        }, {
          "@type": "Question",
          "name": "Can I request a different cleaner?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "Certainly, we can arrange a change upon your request"
          }
        }, {
          "@type": "Question",
          "name": "What if the cleaner is unavailable?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "We'll inform you and send a replacement."
          }
        }, {
          "@type": "Question",
          "name": "What if I'm dissatisfied with the cleaning service?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "We'll arrange a visit from a Quality Control Manager for assessment and provide a replacement cleaner if necessary."
          }
        }, {
          "@type": "Question",
          "name": "How do I pay for the service?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "Payment options include bank transfer, standing order, direct debit (weekly or fortnightly), or credit card."
          }
        }, {
          "@type": "Question",
          "name": "How long does office cleaning take?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "Duration depends on factors like size, frequency, and condition. Contact us for a free cleaning quote with required timings for your site."
          }
        }
    ]
    }}
/>