---
import ContactBox from "./ContactBox.astro";

import { FOOTER_DESCRIPTION, STREET, POSTAL_CODE, TEL } from "../consts";
---

<footer>
    <div class="ctnr">
        <div class="content">
            <a href="/" class="logo_anchor">
                <!-- <img src="/tcn-logo-default.svg" alt="The Clean Network logo" /> -->
                <picture>
                    <!-- <source media="(min-width:650px)" srcset="/tcn-logo-360.png"> -->
                    <source media="(min-width:850px)" srcset="/logo/tcn-logo-720.webp">
                    <source media="(min-width:300px)" srcset="/logo/tcn-logo-360.webp">
                    <img src="/logo/tcn-logo-360.png" alt="The Clean Network logo" width="207" height="78">
                </picture>
            </a>
            
            <p set:html={FOOTER_DESCRIPTION}></p>

            <p class="legal">Copyright © 2023 The Clean Network </p>
        </div>

        <nav>
            <a href="/"><span></span>Home</a>
            <a href="/services/"><span></span>Services</a>
            <a href="/sectors/"><span></span>Sectors</a>
            <a href="/locations/"><span></span>Location</a>
            <a href="/about/"><span></span>About</a>
            <a href="/FAQ/"><span></span>FAQ</a>
            <a href="/contact/"><span></span>Contact</a>
            <a href="/privacy-policy/"><span></span>Privacy Policy</a>
        </nav>

        <div>
            <ContactBox />

            <hr>

            <div class="nap_data">
                <p>The Clean Network</p>
                <p set:html={STREET}></p>
                <p>London {POSTAL_CODE}</p>
                <p>United Kingdom</p>
                <p set:html={TEL}></p>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: var(--dark);
        color: var(--light);
        padding: clamp(4rem, 13vw, 8rem) 0;
        font-size: clamp(1rem,3.9vmin,1.7rem);
        line-height: 1.5;
    }

    footer > .ctnr {
        width: var(--base-width);
        margin-inline: auto;
        display: flex;
        flex-flow: row wrap;
        gap: clamp(3rem,10vw,18rem);
    }

    footer .content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex: 1;
    }

    footer .logo_anchor {
        width: clamp(10rem, 50vw, 25rem);
        display: block;
    }

    footer .logo_anchor img {
        object-fit: contain;
    }

    footer .content p {
        max-width: 38rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
        letter-spacing: 0.05rem;
    }

    footer .legal {
        font-style: italic;
        color: var(--light-b);
        font-weight: 400;
    }

    footer nav {
        display: flex;
        flex-flow: row wrap;
        gap: 1.2rem 2rem;
        align-content: start;
        max-width: 35vmax;
    }

    footer nav a {
        display: flex;
        align-items: center;
        gap:1rem;
        font-weight: 300;
        letter-spacing: 0.06rem;
    }

    footer nav a span {
        display: block;
        border-bottom: 0.5rem solid var(--grey);
        border-right: 0.5rem solid var(--grey);
        border-top: 0.5rem solid transparent;
        border-left: 0.5rem solid transparent;
        transform: rotate(-45deg);
        transition: border 0.4s ease;
    }

    footer nav a:hover span {
        border-bottom: 0.5rem solid var(--highlight);
        border-right: 0.5rem solid var(--highlight);
        transition: border 0s ease;
    }

    .nap_data {
        opacity: 0.6;
        font-weight: 300;
        font-size: 0.9em;
        letter-spacing: 0.1rem;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }

    hr {
        width: 2rem;
        margin: 2rem 0;
        height: 0.2rem;
        background-color: rgb(248 248 255 / 10%);
    }

    
	@media screen and (min-width: 850px) {

        footer nav {
            flex-direction: column;
        }

        footer .content {
            max-width: 40vw;
        }

        footer .legal {
            margin-top: 2rem;
        }

    }
</style>
