---
    import '../styles/our-policies.css'
---

<section class="our_policies">
    <div class="ctnr">
        <div class="flex">
            <div class="text">
                <h3>Our Policies</h3>
    
                <p>As a prominent provider of daily office contract cleaning services, we are dedicated to continually enhancing our Quality Management system. Our commitment is to deliver exceptional office cleaning services, aiming to achieve maximum customer retention and attract new business.</p>
    
                <h4>Our Objectives:</h4>
    
                <ul>
                    <li><p>Understand and fulfill our customers' requirements and expectations, with continuous monitoring of service delivery.</p></li>
    
                    <li><p>React and adapt to client requirements for maintaining and achieving quality standards.</p></li>
    
                    <li><p>Provide the right environment and resources for our staff to deliver quality service and employ the right people for the job.</p></li>
    
                    <li><p>Regularly review, monitor, and measure our service to identify opportunities for continual improvement.</p></li>
    
                    <li><p>We believe that the 'can do' attitude of our staff is the foundation of the quality service we provide. Regular team reviews ensure flexibility in maintaining service quality and effectiveness of our Quality Policy.</p></li>
                </ul>
    
                <p>We believe that the 'can do' attitude of our staff is the foundation of the quality service we provide. Regular team reviews ensure flexibility in maintaining service quality and effectiveness of our Quality Policy.</p>
            </div>

            <div class="environmental_policy">
                <h4>Environmental Policy:</h4>

                <p>At The Clean Network, we recognize the importance of respecting and caring for the environment. We strive to leave a positive legacy for future generations.</p>
                <div class="bullets">
                    <div class="ctnr reveal squares_bg">
                        <p>Regularly review and assess suppliers to ensure the use of environmentally friendly products.</p>
                    </div>
                    
                    <div class="ctnr reveal squares_bg">
                        <p>Commitment to comply with the ISO14001 standard.</p>
                    </div>
                    
                    <div class="ctnr reveal squares_bg">
                        <p>Utilize environmentally conscious suppliers, with a focus on trigger sprays over aerosol cleaning agents.</p>
                    </div>
                    
                    <div class="ctnr reveal squares_bg">
                        <p>Purchase cleaning chemicals in larger batches to minimize packaging waste.
                        </p>
                    </div>
                    
                    <div class="ctnr reveal squares_bg">
                        <p>Encourage clients to recycle paper and glass, providing waste disposal options for recycling on-site.</p>
                    </div>
                    
                    <div class="ctnr reveal squares_bg">
                        <p>Implement recycling procedures at our own office.</p>
                    </div>
                    
                    <div class="ctnr reveal squares_bg">
                        <p>Source recommended paper products from SCA Sweden, a company dedicated to environmental protection.</p>
                    </div>
                    
                    <div class="ctnr reveal squares_bg">
                        <p>Achieve a 97% client base within a 30-mile radius to reduce vehicle pollution impact.</p>
                    </div>
                    
                    <div class="ctnr reveal squares_bg">
                        <p>Focus on training and monitoring daily cleaning operatives to minimize environmental impact.</p>
                    </div>
                </div>
                
                <p>By working together as a team with a shared goal, we can contribute to environmental protection and continually seek opportunities for improvement.</p>
            </div>
        </div>
    </div>
</section>