---

    import '../styles/our-people.css'

    import Money from '../components/svg/Money.astro'
    import Training from '../components/svg/Training.astro'
    import Worker from '../components/svg/Worker.astro'
    import Diversity from '../components/svg/Diversity.astro'

---

<section class="our_people">
    <div class="ctnr">
        <div class="flex">
            <div class="text">
                <h3>Our People</h3>

                <p>Our belief is grounded in having a <b>team of experienced individuals</b> who are treated with fairness and receive equitable compensation and therefore in turn <b>exhibit commitment, loyalty, and professionalism</b>.</p>
            
                <p>This philosophy is at the core of delivering the high-quality service that defines our reputation, and <b>we are enthusiastic about collaborating with clients who embrace these shared values</b>.</p>
            
                <p>A substantial number of our team members have been integral to our organization for over five years. Among them, many have evolved into new roles and assumed additional responsibilities within the company. Proudly, some have ventured beyond our organization to pursue exciting opportunities, a testament to our commitment to <b>investing in their growth and progress</b>.</p>
            </div>

            <div class="bullets">
                <div class="ctnr reveal squares_bg">
                    <p class="heading"><Money/>Advocates for the Living Wage</p>

                    <p>At <strong>The Clean Network</strong>, we believe in the transformative power of work to <b>uplift living standards</b>. Drawing on our experience, we understand that fair treatment and equitable compensation breed commitment, loyalty, and professionalism. As a testament to our values, <b>we proudly stand as a registered Living Wage environmental cleaning company.</b></p>
                </div>
                
                <div class="ctnr reveal squares_bg">
                    <p class="heading"><Training/>Training</p>

                    <p>Training is essential for the career development of our colleagues and the quality of our sustainable cleaning services. <b>In 2022, The Clean Network staff completed 1,005 hours of training</b> to help grow their careers and develop their skillsets.</p>
                </div>
                
                <div class="ctnr reveal squares_bg">
                    <p class="heading"><Worker/>Apprenticeship scheme</p>

                    <p><b>Our apprenticeship scheme offers a route into employment for enthusiastic young people.</b> Through the scheme we provide valuable experience on the job, with our apprentices becoming valued members of The Clean Network family.</p>
                </div>
                
                <div class="ctnr reveal squares_bg">
                    <p class="heading"><Diversity/>Diversity Focus</p>

                    <p>Diversity are central to our company culture as sustainable cleaners, as evidenced by a workforce that hails from <b>30 different countries</b> and <b>speaks 18 different languages</b>. We ensure all our staff are afforded equal respect and opportunity.</p>
                </div>
            </div>
        </div>
    </div>
</section>