---

const { intro, job, price, minimumHours } = Astro.props;

---

<div class="service_cta">
    <p>
        <span set:html={intro}></span>
        {price ? (
            <span>
                Our <strong>{job.toLowerCase()}</strong> start from a minimum of {minimumHours} <b>hours per week</b> from <b>just £{price} per hour</b>.
            </span>
        ) : null} 
        <strong>Get in touch with us today for a free quote.</strong>
    </p>
</div>