---
    import '../styles/social-impact.css'
---

<section class="social_impact">
    <div class="ctnr squares_bg">
        <div class="text">
            <h3>Our Social Impact</h3>
    
            <p>At <b>The Clean Network</b>, we advocate that businesses bear a responsibility to preserve natural resources for future generations. <b>We believe that businesses can serve as a force for good, aligning environmental and social agendas.</b></p>
    
            <p><b>How do we contribute to this and serve as a positive influence ourselves?</b></p>
        </div>

        <div class="bullets reveal">
            <div class="ctnr">
                <p class="heading">Ethical Procurement Practices</p>

                <p>We exercise utmost care in sourcing our supplies, <b>prioritizing recycled products</b> whenever feasible. This decision not only benefits the environment but also supports Londoners in end-of-life palliative care, <b>aligning with our commitment to ethical and socially responsible practices.</b></p>
            </div>

            <div class="ctnr">
                <p class="heading">Conscious Sourcing Practices</p>

                <p>The Clean Network is committed to <b>minimizing our ecological footprint</b> by emphasizing recycling and renewable resources in our sourcing. Our paper products are either sourced from sustainable forests <b>certified by the Forest Stewardship Council</b> or <b>consist of 100% recycled material.</b></p>
            </div>

            <div class="ctnr">
                <p class="heading">Chemical-Free Cleaning for Sustainability</p>

                <p><b>In our cleaning services, we steer clear of harmful chemicals.</b> Instead, we opt for powerful enzyme and plant-based cleaning products that not only ensure effective cleaning but also <b>safeguard the environment and the well-being of those who come in contact with them.</b></p>
            </div>

            <div class="ctnr">
                <p class="heading">Responsible End-of-Life Processes</p>

                <p>Recognizing the significance of responsible waste management, <b>The Clean Network takes accountability for the end-of-life processes of all our cleaning and office machines</b>, particularly in the context of the rapidly growing waste stream of electrical and electronic equipment.</p>
            </div>

            <div class="ctnr">
                <p class="heading">Eco-Friendly Commuting with the Cycle Scheme</p>

                <p>In our ongoing efforts to promote sustainable commuting, <b>we are currently piloting a Cycle Scheme program.</b> This initiative aims to make commuting to work easier, more cost-effective, and environmentally friendly for our staff.</p>
            </div>
        </div>
    </div>
</section>