---
const { title, description, keywords, metaTitle, metaDescription, metaKeywords } = Astro.props;

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import OQVABadge from "../components/OQVABadge.astro";

import "../styles/subpages.css";

import { SITE_TITLE, SITE_DESCRIPTION, SITE_KEYWORDS } from "../consts";

import CookieConsentBanner from "../components/CookieConsentBanner.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead
        title={metaTitle ? metaTitle : SITE_TITLE}
        description={metaDescription ? metaDescription : SITE_DESCRIPTION}
        keywords={keywords ? keywords : SITE_KEYWORDS} />
    </head>
    <body>
        <Header />
        <slot />
        <Footer />

        <CookieConsentBanner></CookieConsentBanner>
        <OQVABadge></OQVABadge>
    </body>
</html>