---
const { title, description, keywords, endContactSection } = Astro.props;

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ContactSection from "../components/ContactSection.astro";

import OQVABadge from "../components/OQVABadge.astro";

import { SITE_TITLE, SITE_DESCRIPTION, SITE_KEYWORDS } from "../consts";

import CookieConsentBanner from "../components/CookieConsentBanner.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead
        title={title ? title : SITE_TITLE}
        description={description ? description : SITE_DESCRIPTION}
        keywords={keywords ? keywords : SITE_KEYWORDS} />
    </head>
    <body>
        <Header />
        <slot />

        {endContactSection != "false" ? (
            <ContactSection/>
        ) : null}

        <Footer />

        <CookieConsentBanner></CookieConsentBanner>
        <OQVABadge/>
    </body>
</html>