---
const { title, description, keywords } = Astro.props;

import "../styles/global.css";

import BaseHead from "../components/BaseHead.astro";

import CookieConsentBanner from "../components/CookieConsentBanner.astro";

import OQVABadge from "../components/OQVABadge.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} keywords={keywords} />
	</head>
	<body>
		<slot />
		
        <CookieConsentBanner></CookieConsentBanner>
        <OQVABadge/>
	</body>
</html>
