---
const { title, description, keywords } = Astro.props;

import "../styles/global.css";

import BaseHead from "../components/BaseHead.astro";

import { Schema } from "astro-seo-schema"

const currentURL = new URL(Astro.request.url)
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} keywords={keywords} />
	</head>
	<body>
		<slot />
		<Schema
			item={{
				"@context": "https://schema.org",
				"@type": "LocalBusiness",
				"name": "The Clean Network",
				"image": "/og/social-image.jpg",
				"@id": currentURL,
				"url": currentURL,
				"telephone": [
					"+4402034110275",
					"+4401213927529"
				],
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "6-8 Knights Court",
					"addressLocality": "London",
					"postalCode": "EC1M 4NH",
					"addressCountry": "UK"
				}  
			}}
		/>
	</body>
</html>
