---
import Layout from '../../layouts/Layout.astro';

import '../../styles/portfolio.css'
import '../../styles/zoom.css'
---

<Layout title="OQVA Website Portfolio">

    <script>
        import '../../scripts/portfolio.js';
        import '../../scripts/zoom-vanilla.min.js'
    </script>

    <!-- <script src="../../scripts/lazyload.js"></script> -->

    <a class="back corner" href="../index.html"></a>

    <a href="https://github.com/OQVA-Digital" class="github" target="_blank" title="OQVA's GitHub">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="none"><g clip-path="url(#akarIconsGithubFill0)"><path fill="currentColor" fill-rule="evenodd" d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385c.6.105.825-.255.825-.57c0-.285-.015-1.23-.015-2.235c-3.015.555-3.795-.735-4.035-1.41c-.135-.345-.72-1.41-1.23-1.695c-.42-.225-1.02-.78-.015-.795c.945-.015 1.62.87 1.845 1.23c1.08 1.815 2.805 1.305 3.495.99c.105-.78.42-1.305.765-1.605c-2.67-.3-5.46-1.335-5.46-5.925c0-1.305.465-2.385 1.23-3.225c-.12-.3-.54-1.53.12-3.18c0 0 1.005-.315 3.3 1.23c.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23c.66 1.65.24 2.88.12 3.18c.765.84 1.23 1.905 1.23 3.225c0 4.605-2.805 5.625-5.475 5.925c.435.375.81 1.095.81 2.22c0 1.605-.015 2.895-.015 3.3c0 .315.225.69.825.57A12.02 12.02 0 0 0 24 12c0-6.63-5.37-12-12-12Z" clip-rule="evenodd"/></g><defs><clipPath id="akarIconsGithubFill0"><path fill="#fff" d="M0 0h24v24H0z"/></clipPath></defs></g></svg>
    </a>

    <header>
        <a href="/" class="logo">
            <img src="/logo/logo-w.svg" alt="OQVA Digital Logo">
        </a>

        <div class="txt">
            <h1>Portfolio</h1>

            <p>Your website is a huge part of your brand, make it bespoke.</p>
        </div>
    </header>

    <main>
        <section class="job kokokotsu">
            <div class="ctnr">
                <a href="https://kokokotsu.co" target="_blank"  title="Visit website" class="showroom">
                    <video class="desktop lazy" autoplay playsinline loop muted poster="/portfolio/kokokotsu/kokokotsu_desktop.jpg">
                        <source data-src="/portfolio/kokokotsu/desktop_screenrecord.mp4">
                    </video>
                    <video class="mobile right lazy" autoplay playsinline muted poster="/portfolio/kokokotsu/kokokotsu_mobile.jpg">
                        <source data-src="/portfolio/kokokotsu/mobile_screenrecord.mp4">
                    </video>
                </a>
    
                <div class="content">
                    <h2>Kokokotsu</h2>
    
                    <h3>Japan in a pan.</h3>

                    <p>"Inspired by everything Japan, the foundation of Kokokotsu is the contrast and simplicity you get from the somewhat hidden and inexplicably delicious pan fried gyoza; soft and crunchy at the same time."</p>
                    
                    <div class="bt_ctnr">
                        <button type="button" class="toggle" aria-label="Open case study button">Creative Case Study</button>

                        <a href="https://kokokotsu.co" target="_blank" class="external">Visit website</a>
                    </div>

                    <div class="social">
                        <div class="carousel">
                            <img data-src="/portfolio/kokokotsu/03.jpg" class="lazy" data-action="zoom" alt="Post image" width="128" height="128">

                            <video class="lazy" data-action="zoom" autoplay muted loop playsinline width="70" height="124">
                                <source data-src="/portfolio/kokokotsu/reel01.mp4">
                            </video>

                            <img data-src="/portfolio/kokokotsu/01.jpg" class="lazy" data-action="zoom" alt="Post image" width="128" height="128">
                            <img data-src="/portfolio/kokokotsu/04.jpg" class="lazy" data-action="zoom" alt="Post image" width="128" height="128">
                            <img data-src="/portfolio/kokokotsu/05.jpg" class="lazy" data-action="zoom" alt="Post image" width="128" height="128">

                            <video class="lazy" data-action="zoom" autoplay muted loop playsinline width="70" height="124">
                                <source  data-src="/portfolio/kokokotsu/reel02.mp4">
                            </video>

                            <img data-src="/portfolio/kokokotsu/06.jpg" class="lazy" data-action="zoom" alt="Post image" width="128" height="128">
                            <img data-src="/portfolio/kokokotsu/02.jpg" class="lazy" data-action="zoom" alt="Post image" width="128" height="128">
                            <img data-src="/portfolio/kokokotsu/07.jpg" class="lazy" data-action="zoom" alt="Post image" width="128" height="128">
                        </div>

                        <p class="title">Showcase - click to expand</p>
                    </div>
                    
                    <div class="networks">
                        <a href="https://www.instagram.com/kokokotsu.co/" class="icon bg instagram" target="_blank"></a>
                        
                        <a href="https://www.tiktok.com/@kokokotsu.co" class="icon bg tiktok" target="_blank"></a>
                    </div>

                    <div class="case_study">
                        <button class="close" aria-label="Close case study button"></button>

                        <div class="shadow"></div>

                        <div class="ctnr">
                            <h4>Business Problem:</h4>
    
                            <p>A small cocktail bar is seeking to diversify its offering by introducing a food component. The requirements are straightforward but challenging: the food should be quick to prepare, sharable, unique, and act as a distinctive feature to attract customers and stand out from the competition. Oh... and they have a cupboard of 4' by 3' for a "kitchen..."</p>
    
                            <hr>

                            <h4>Brand-Centric Solution:</h4>
    
                            <p>Enter "Kokokotsu" – a concept that weaves together contemporary appeal with Japanese nostalgia. This solution focuses on serving Gyoza, a popular Japanese dish, but with a modern twist that appeals to the bar's clientele.</p>

                            <p>Rather than leaning on common and often overused Japanese cultural symbols such as red Torii gates or flowery Yukatas, Kokokotsu plunges into the colourful and vibrant aesthetics of turn-of-the-millennium Japan. Bright neon lights, references to anime and Japanese gaming culture, and hints of JDM (Japanese Domestic Market) create an environment that exudes the feeling of being in an eclectic part of Tokyo.</p>

                            <p>This approach allows for the creation of various anchors that fans of this vibrant culture can attach themselves to. The nostalgia of the late 20th/early 21st century Japan, coupled with the subcultural appeals of anime, gaming, and JDM, provide a fertile ground for brand identity and differentiation.</p>

                            <hr>

                            <h4>Room to Scale:</h4>

                            <img data-src="/portfolio/kokokotsu/concept_01.jpg" alt="Conceptual art" class="left lazy" loading="lazy">

                            <p>Inspired by Japan's penchant for minimalism and simplicity, the Kokokotsu concept can readily scale into mobile food vending, allowing the brand to reach a wider audience beyond the confines of the bar. The entire operation can fit into a Kei van, the compact and efficient vehicle ubiquitous in Japan.</p>

                            <p>These vans are designed to be heavily influenced by JDM culture, featuring custom mods and paint jobs. This mobile extension of the brand retains its strong cultural ties while providing an opportunity for more individuals to connect with and experience the brand.</p>

                            <hr>

                            <h4>Identity First:</h4>

                            <p>By strategically utilising cultural anchors and effectively embodying them in the business solution, Kokokotsu presents a brand that goes beyond just food provision. It promises an experience steeped in nostalgia, subculture appreciation, and uniqueness - attributes that could elevate the cocktail bar and carve a distinctive niche in the market. This approach can serve as a template for other brands seeking to leverage cultural elements to enhance their offerings and overall brand experience.</p>
                        </div>

                        <div class="shadow"></div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="job becher_gare">
            <div class="ctnr">
                <a href="https://oqva-digital.github.io/Becher-Gare/" target="_blank" title="Visit website" class="showroom">
                    <video class="desktop lazy" autoplay playsinline muted loop poster="/portfolio/becher-gare/becher_gare_desktop.jpg">
                        <source data-src="/portfolio/becher-gare/desktop_screenrecord.mp4">
                    </video>
                    <video class="mobile left lazy" autoplay playsinline muted loop poster="/portfolio/becher-gare/becher_gare_mobile.jpg">
                        <source data-src="/portfolio/becher-gare/mobile_screenrecord.mp4">
                    </video>
                </a>
    
                <div class="content">
                    <h2>Becher Gare</h2>
    
                    <h3>French Cuisine in the heart of Luxembourg</h3>

                    <p>"Discover the ultimate destination for classic car enthusiasts and food lovers in the heart of Europe: Becher Gare.</p>

                    <p>At Becher Gare, our menu showcases the best of French and Luxembourgian cuisine, with a focus on fresh, seasonal ingredients. From traditional favorites like escargots and coq au vin, foie gras to vegan options, our menu has something for everyone."</p>
                    
                    <div class="bt_ctnr">
                        <button type="button" class="toggle" aria-label="Open case study button">Creative Case Study</button>
                        
                        <a href="https://oqva-digital.github.io/Becher-Gare/" target="_blank" class="external">Visit website</a>
                    </div>

                    <div class="social">
                        <div class="carousel">
                            <video class="lazy" data-action="zoom" autoplay muted loop playsinline>
                                <source data-src="/portfolio/becher-gare/ad01.mp4">
                            </video>
                        </div>

                        <p class="title">Showcase - click to expand</p>
                    </div>

                    <div class="case_study">
                        <button class="close" aria-label="Close case study button"></button>

                        <div class="shadow"></div>

                        <div class="ctnr">
                            <h4>Business Problem:</h4>
    
                            <p><strong>BECHER GARE</strong>, a high-end restaurant and café located in the disused train station of Bech, Luxembourg, is working to rebound from the impacts of the Covid-19 pandemic. The aim is to rebrand and position itself as an enticing destination for affluent customers from the neighboring European Union strongholds of Brussels and Frankfurt.</p>
    
                            <hr>

                            <h4>Brand-Centric Solution:</h4>
    
                            <p>We propose a rebranding approach that repositions <strong>BECHER GARE</strong> as more than just a restaurant. Instead, it becomes a journey, an experience that blends the timeless appeal of classic cars, the undeniable beauty of the Luxembourg countryside, and the artistry of fine dining.</p>

                            <p><strong>BECHER GARE</strong> is transformed into a crossroads of adventure and elegance, offering guests a fusion of French culinary traditions and authentic Luxembourgian flavors, thus inviting them to embark on a unique gastronomic journey. The brand becomes a haven for classic car enthusiasts and culinary adventurers alike, as it marries its affinity for vintage vehicles with its commitment to exceptional cuisine.</p>

                            <p>The strategy, in essence, evolves <strong>BECHER GARE</strong> into a gastronomic destination where every dish tells a story – a narrative crafted from locally sourced ingredients that pay tribute to the region's rich culinary heritage. From traditional favorites to innovative culinary creations, the menu becomes a canvas for the talent and passion of the establishment's chef, Frédéric.</p>

                            <hr>

                            <h4>Room to Scale:</h4>

                            <p>In addition to the immediate rebranding benefits, this concept provides ample room for expansion. The restaurant could host classic car events, create bespoke road trip packages that weave through the picturesque landscapes of Luxembourg, and even offer luxury catering services at the destination of the road trips.</p>

                            <p>Further down the line, collaborations with classic car collectors, local farms, and vineyards could be explored, all strengthening the brand's ties to its unique blend of luxury, adventure, and culinary excellence. Each of these avenues allows for increased brand visibility, engagement, and ultimately, a unique dining experience that stands out in the competitive EU culinary scene.</p>

                            <hr>

                            <p>By adopting this rebranding strategy, <strong>BECHER GARE</strong> transcends its traditional restaurant identity. Instead, it becomes an immersive experience that draws on the romantic allure of classic cars, the culinary sophistication of its offerings, and the unique charm of its Luxembourg setting.</p>
                        </div>

                        <div class="shadow"></div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="job croitor">
            <div class="ctnr">
                <a href="https://croitor.co.uk/" target="_blank" title="Visit website" class="showroom">
                    <video class="desktop lazy" autoplay playsinline muted loop poster="/portfolio/croitor/croitor_desktop.jpg">
                        <source data-src="/portfolio/croitor/desktop_screenrecord.mp4">
                    </video>

                    <video class="mobile left lazy" autoplay playsinline muted loop poster="/portfolio/croitor/croitor_mobile.jpg">
                        <source data-src="/portfolio/croitor/mobile_screenrecord.mp4">
                    </video>
                </a>
    
                <div class="content">
                    <h2>Andrei Croitor</h2>
    
                    <h3>Author of Identity Tools: The Power of Conscious Contrast</h3>

                    <p>"Discover the framework to build clear customer avatars and boost your brand's success.</p>

                    <p>My philosophy is rooted in the concept that identity tools are the cornerstone of successful branding. By providing individuals with the tools to build their identity, you empower them to become true brand advocates."</p>
                    
                    <div class="bt_ctnr">
                        <button type="button" class="toggle" aria-label="Open case study button">Creative Case Study</button>
                        
                        <a href="https://croitor.co.uk/" target="_blank" class="external">Visit website</a>
                    </div>

                    <div class="case_study">
                        <button class="close" aria-label="Close case study button"></button>

                        <div class="shadow"></div>

                        <div class="ctnr">
                            <h4>Business Problem:</h4>
    
                            <p>Andrei Croitor is charged with the complex task of ensuring our agency's brand and work distinctively resonates in the competitive branding landscape. Fusing a unique philosophy and innovative approach, Andrei must be the brand archetype that epitomises his expertise and vision while aligning with OQVA's intrinsic values. His mission is to reaffirm our commitment to enabling businesses to shape and articulate their unique identities.</p>
    
                            <hr>

                            <h4>Brand-Centric Solution:</h4>
    
                            <p>We've worked to help Andrei craft a brand persona that resonates with our core ethos: facilitating individuals and businesses to shape their own identities. As the progenitor of the Conscious Contrast methodology and the founder of OQVA.digital, Andrei personifies originality and authenticity, traits we aim to infuse into every brand we touch.</p>

                            <p>His impending book, "Identity Tools: The Power of Conscious Contrast", encapsulates this approach. It's a testament to Andrei's storytelling prowess, blending experiences and feelings to inspire conscious thought and shape identities. The cornerstone of his brand is not a product or service but consciousness itself, fostering an environment conducive to growth, creativity, and enlightenment.</p>

                            <hr>

                            <h4>Room to Scale:</h4>

                            <p>Andrei's persona has significant room for growth and expansion. By hosting and participating in events that hold significance for his community, and fostering shared experiences, Andrei can amplify his brand's reach and resonance. These aren't just transactions, they're about the cultivation of experiences, growth, and a sense of belonging.</p>

                            <p>The antithesis of Andrei's brand, a firm stand against stagnation and mediocrity, solidifies its identity and nurtures loyalty among his tribe. This common ground further strengthens his brand narrative, reinforcing our mission to help businesses evolve, create, and leave a unique imprint on the world.</p>

                            <hr>

                            <p>We're not just shaping Andrei's brand, but nurturing a philosophy that champions authenticity, originality, and conscious thought. Andrei's persona, like every brand we touch, isn't just an entity; it's a journey towards growth, a beacon of our collective ethos, and a testament to the power of distinctive identity.</p>
                        </div>

                        <div class="shadow"></div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="job christinas">
            <div class="ctnr">
                <a href="https://christinas-cleaners.co.uk/" target="_blank" title="Visit website" class="showroom">
                    <video class="desktop lazy" autoplay playsinline muted loop poster="/portfolio/christinas-cleaners/christinas_cleaners_desktop.jpg">
                        <source data-src="/portfolio/christinas-cleaners/desktop_screenrecord.mp4">
                    </video>

                    <video class="mobile left lazy" autoplay playsinline muted loop poster="/portfolio/christinas-cleaners/christinas_cleaners_mobile.jpg">
                        <source data-src="/portfolio/christinas-cleaners/mobile_screenrecord.mp4">
                    </video>
                </a>
    
                <div class="content">
                    <h2>Christina's Cleaners</h2>
    
                    <h3>Empowering Ukrainian Refugees</h3>

                    <p>"At Christina's Cleaners, we understand that every home is unique and has different cleaning needs. That's why we offer tailored domestic cleaning services to suit your schedule and requirements.</p>

                    <p>Whether you're looking for regular weekly cleaning, need an emergency clean on the same day, or require a comprehensive end-of-tenancy clean, our highly-skilled, dedicated team is ready to deliver exceptional results."</p>
                    
                    <div class="bt_ctnr">
                        <button type="button" class="toggle" aria-label="Open case study button">Creative Case Study</button>

                        <a href="https://christinas-cleaners.co.uk/" target="_blank" class="external">Visit website</a>
                    </div>

                    <div class="social">
                        <div class="carousel">
                            <img data-src="/portfolio/christinas-cleaners/feed01.jpg" class="lazy" data-action="zoom" alt="Post image" width="128" height="128">
                            <img data-src="/portfolio/christinas-cleaners/feed02.jpg" class="lazy" data-action="zoom" alt="Post image" width="128" height="128">
                        </div>

                        <p class="title">Showcase - click to expand</p>
                    </div>
                    
                    <div class="networks">
                        <a href="https://www.instagram.com/christinas_cleaners/" class="icon bg instagram" target="_blank"></a>
                        <a href="https://www.facebook.com/ChristinasCleaners.co.uk/" class="icon bg facebook" target="_blank"></a>
                    </div>

                    <div class="case_study">
                        <button class="close" aria-label="Close case study button"></button>

                        <div class="shadow"></div>

                        <div class="ctnr">
                            <h4>Business Problem:</h4>
    
                            <p>When Christina, a resilient refugee of the Russo-Ukrainian war, reached out to us, she had a vision. A vision to leverage the untapped potential of her refugee community and provide them with opportunities that weren't dependent on English fluency. Her challenge was rooted in trust, as the cleaning market in the UK is saturated with faceless gig platforms and sprawling corporations. She sought to weave her unique brand story into a narrative that would resonate with customers on a personal level.</p>
    
                            <hr>

                            <h4>Brand-Centric Solution:</h4>
    
                            <p>We saw the heart of Christina's vision and the potential to turn it into a compelling brand story. We helped shape <b>Christina's Cleaners</b>, a socially responsible domestic and commercial cleaning company that's so much more than a spotless service. This business stands as a testament to resilience and the relentless pursuit of a better life, offering a platform for Ukrainian female refugees to rebuild their lives.</p>

                            <p>Our aim was to enable customers to see that choosing <b>Christina's Cleaners</b> was about more than just acquiring a professional and reliable cleaning service. It was also about playing an active role in the integration of Ukrainian refugees into the UK. This unique selling proposition helps <b>Christina's Cleaners</b> stand out from the crowd, merging the needs of customers with a powerful social mission.</p>

                            <hr>

                            <h4>Room to Scale:</h4>

                            <p>Having successfully helped <b>Christina's Cleaners</b> establish a strong brand narrative and community-focused ethos, we see considerable potential for growth and impact. This business could expand its services across the UK, explore collaborations with local businesses, and even offer vocational training opportunities for refugees.</p>

                            <p>Furthermore, by leading corporate responsibility initiatives and incorporating sustainable cleaning practices, <b>Christina's Cleaners</b> could further solidify its reputation as a socially conscious brand. We see the potential for <b>Christina's Cleaners</b> to not just clean spaces, but to change lives and redefine the meaning of a cleaning service in the minds of its customers.</p>

                            <hr>

                            <p><b>Christina's Cleaners</b> found its voice, merging business and social impact to create a brand that's both meaningful and successful. We helped Christina go beyond cleanliness to communicate a story of empowerment, resilience, and the building of bridges between communities so choosing <b>Christina's Cleaners</b> means choosing to be part of a journey towards a cleaner, more inclusive world.</p>
                        </div>

                        <div class="shadow"></div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="job bean_delivered">
            <div class="ctnr">
                <a href="https://bean-delivered.co.uk/" target="_blank" title="Visit website" class="showroom">
                    <video class="desktop lazy" autoplay playsinline muted loop poster="/portfolio/bean-delivered/bean_delivered_coffee_desktop.jpg">
                        <source data-src="/portfolio/bean-delivered/desktop_screenrecord.mp4">
                    </video>
                    <video class="mobile left lazy" autoplay playsinline muted loop poster="/portfolio/bean-delivered/bean_delivered_coffee_mobile.jpg">
                        <source data-src="/portfolio/bean-delivered/mobile_screenrecord.mp4">
                    </video>
                </a>
    
                <div class="content">
                    <h2>Bean Delivered Coffee</h2>
    
                    <h3>Barista made coffee & fresh pastries delivered to you.</h3>

                    <p>"We drink coffee every day, we think you do too. So let's make it simpler for everyone involved... Bean Delivered is a barista made coffee and fresh pastry subscription service.</p>

                    <p>No more queuing, no more delays, no more running through the rain with your collar over your head hoping your life is actually a budget rom-com with a happy ending. We're here to bring the delicious pastries and invigorating coffee to you on your schedule."</p>
                    
                    <div class="bt_ctnr">
                        <button type="button" class="toggle" aria-label="Open case study button">Creative Case Study</button>

                        <a href="https://bean-delivered.co.uk/" target="_blank" class="external">Visit website</a>
                    </div>

                    <div class="social">
                        <div class="carousel">
                            <video class="lazy" data-action="zoom" autoplay muted loop playsinline>
                                <source data-src="/portfolio/bean-delivered/feed01.mp4">
                            </video>
                            <img data-src="/portfolio/bean-delivered/feed04.jpg" class="lazy" data-action="zoom" alt="Post image" width="128" height="128">
                            <img data-src="/portfolio/bean-delivered/feed01.jpg" class="lazy" data-action="zoom" alt="Post image" width="128" height="128">
                            <img data-src="/portfolio/bean-delivered/feed02.jpg" class="lazy" data-action="zoom" alt="Post image" width="128" height="128">
                            <img data-src="/portfolio/bean-delivered/feed03.jpg" class="lazy" data-action="zoom" alt="Post image" width="128" height="128">
                        </div>

                        <p class="title">Showcase - click to expand</p>
                    </div>
                    
                    <div class="networks">
                        <a href="https://www.instagram.com/beandelivered/?hl=en" class="icon bg instagram" target="_blank"></a>
                    </div>

                    <div class="case_study">
                        <button class="close" aria-label="Close case study button"></button>

                        <div class="shadow"></div>

                        <div class="ctnr">
                            <h4>Business Problem:</h4>
    
                            <p>Bean Delivered, a utilitarian coffee shop tucked away in an industrial unit, is looking to stand out in their homogeneous market town. With a vision to expand their business through a delivery service, they are on the quest for a distinctive brand identity that resonates with the townsfolk and makes a memorable mark.</p>
    
                            <hr>

                            <h4>Brand-Centric Solution:</h4>
    
                            <p>We sought to breathe life into Bean Delivered by infusing its brand with the spirit of nostalgia. Meet Pablo, the face of Bean Delivered - a charming, retro character harkening back to the mid-'70s, the era of the first espresso in the UK. By rooting the brand in this historical context, Bean Delivered evokes a sense of familiarity while standing out in the modern day.</p>

                            <p>Through Pablo, Bean Delivered doesn't just deliver coffee; it delivers an experience steeped in nostalgia. Each cup invites customers on a journey back to the time when coffee was not just a beverage, but a revolution, a novelty that transformed the UK's culinary landscape.</p>

                            <hr>

                            <h4>Room to Scale:</h4>

                            <img data-src="/portfolio/bean-delivered/pablo_01.jpg" alt="Pablo" class="left lazy" loading="lazy">

                            <p>Pablo's character opens up a world of possibilities for scaling Bean Delivered's brand. This persona could be used to animate the brand across different platforms, from social media to print marketing, fostering a strong, consistent, and instantly recognizable identity.</p>

                            <p>Moreover, the theme of nostalgia can be expanded upon. The brand could host '70s-themed events, introduce vintage merchandise, or even partner with other local businesses to create a unified, town-wide retro experience. </p>

                            <hr>

                            <p>Through Pablo, Bean Delivered is not just a coffee shop or a delivery service; it's a trip down memory lane, a nostalgic adventure that appeals to the town's sense of community and history.</p>
                        </div>

                        <div class="shadow"></div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="job tjvodka">
            <div class="ctnr">
                <a href="https://tjvodka.co.uk/" target="_blank" title="Visit website" class="showroom">
                    <img class="desktop lazy" data-src="/portfolio/tj-vodka/tj_vodka_desktop.jpg">
                    <img class="mobile right lazy" data-src="/portfolio/tj-vodka/tj_vodka_mobile.jpg">
                </a>
    
                <div class="content">
                    <h2>TJ Vodka</h2>
    
                    <h3>Smoother than your average.</h3>

                    <p>"TJ Vodka is a premium vodka crafted with precision and care, resulting in a taste that is undeniably smooth and refined.</p>

                    <p>Our mission is simple: to provide a perfect ingredient for crafting delicious cocktails. TJ Vodka is perfect for those seeking the ultimate in taste and experience."</p>
                    
                    <div class="bt_ctnr">
                        <div class="website_only"><hr>website + content<hr></div>

                        <a href="https://tjvodka.co.uk/" target="_blank" class="external">Visit website</a>
                    </div>

                    <div class="social">
                        <div class="carousel">
                            <img data-src="/portfolio/tj-vodka/01.jpg" class="lazy" data-action="zoom" alt="Post image" width="128" height="128">

                            <video class="lazy" data-action="zoom" autoplay muted loop playsinline>
                                <source data-src="/portfolio/tj-vodka/reel01.mp4">
                            </video>

                            <video class="lazy" data-action="zoom" autoplay muted loop playsinline>
                                <source data-src="/portfolio/tj-vodka/reel02.mp4">
                            </video>

                            <video class="lazy" data-action="zoom" autoplay muted loop playsinline>
                                <source data-src="/portfolio/tj-vodka/reel03.mp4">
                            </video>
                        </div>

                        <p class="title">Showcase - click to expand</p>
                    </div>
                    
                    <div class="networks">
                        <a href="https://www.instagram.com/tj.vodka/" class="icon bg instagram" target="_blank"></a>
                        
                        <a href="https://www.facebook.com/tj.vodka/" class="icon bg facebook" target="_blank"></a>
                        
                        <a href="https://www.tiktok.com/@tj.vodka" class="icon bg tiktok" target="_blank"></a>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- <section class="job energy_save_solutions">
            <div class="ctnr">
                <a href="https://oqva-digital.github.io/Energy-Save-Solutions-LP/" target="_blank" title="Visit website" class="showroom">
                    <video class="desktop lazy" autoplay playsinline muted loop poster="/portfolio/energy-save-solutions/energy_save_solutions_desktop.jpg"></video>
                    <video class="mobile right lazy" autoplay playsinline muted loop poster="/portfolio/energy-save-solutions/energy_save_solutions_mobile.jpg"></video>
                </a>
    
                <div class="content">
                    <h2>Energy Save Solutions</h2>
    
                    <h3>Renewable Energy</h3>

                    <p>"With 30 years experience in the solar industry, we install and upgrade systems that are as efficient, as they are cost effective."</p>
                    
                    <div class="bt_ctnr">
                        <div class="website_only"><hr>Website only<hr></div>

                        <a href="https://oqva-digital.github.io/Energy-Save-Solutions-LP/" target="_blank" class="external">Visit website</a>
                    </div>
                </div>
            </div>
        </section> -->
        
        <section class="job loveslice">
            <div class="ctnr">
                <a href="https://oqva-digital.github.io/LoveSlice/" target="_blank" title="Visit website" class="showroom">
                    <video class="desktop lazy" autoplay playsinline muted loop poster="/portfolio/loveslice/loveslice_desktop.jpg">
                        <source data-src="/portfolio/loveslice/desktop_screenrecord.mp4">
                    </video>

                    <video class="mobile left lazy" autoplay playsinline muted loop poster="/portfolio/loveslice/loveslice_mobile.jpg">
                        <source data-src="/portfolio/loveslice/mobile_screenrecord.mp4">
                    </video>
                </a>
    
                <div class="content">
                    <h2>LoveSlice</h2>
    
                    <h3>One love in every slice</h3>

                    <p>"At LoveSlice, we're all about celebrating the things that make us unique. We're like a pizza party that invites everyone to bring their own flavour to the table. We believe in embracing cultural diversity, and what better way to do that than through the universal language of pizza?"</p>

                    <div class="bt_ctnr">
                        <button type="button" class="toggle" aria-label="Open case study button">Creative Case Study</button>

                        <a href="https://oqva-digital.github.io/LoveSlice/" target="_blank" class="external">Visit website</a>
                    </div>

                    <div class="case_study">
                        <button class="close" aria-label="Close case study button"></button>

                        <div class="shadow"></div>

                        <div class="ctnr">
                            <h4>Business Problem:</h4>
    
                            <p><strong>LoveSlice</strong>, an innovative pizza concept, is trying to carve a unique place for itself in a market inundated with generic pizza offerings. The challenge lies in redefining <strong>LoveSlice</strong>’s identity, turning it into a culinary adventure that captivates customers looking for a dining experience that goes beyond the traditional.</p>
    
                            <hr>

                            <h4>Brand-Centric Solution:</h4>
    
                            <p>We propose transforming <strong>LoveSlice</strong> from just another pizza brand to a vibrant platform that celebrates culinary diversity. At <strong>LoveSlice</strong>, pizza becomes a canvas for global flavors, transforming the familiar into an extraordinary dining experience that bridges the gap between comfort food and culinary exploration.</p>

                            <p><strong>LoveSlice</strong> moves away from the mundane, offering its customers a chance to experience a world of diverse flavors. Every slice becomes a narrative of culinary fusion, from the aromatic grandeur of Indian spices to the tangy zest of Mexican cuisine. Our varied menu ensures that <strong>LoveSlice</strong> caters to a wide range of tastes and preferences.</p>

                            <hr>

                            <h4>Room to Scale:</h4>

                            <p>This brand positioning not only allows <strong>LoveSlice</strong> to differentiate itself in a crowded market but also offers significant potential for future growth. The brand could explore hosting themed nights, featuring cuisine from different parts of the world. This can be paired with cultural experiences such as music or art from the featured region to create a more immersive dining event.</p>

                            <p>Additionally, <strong>LoveSlice</strong> could partner with local producers, celebrating their ingredients within their pizza creations, thus fortifying the connection between local produce and global flavours. This synergy could also open avenues for collaborative product development or special limited-time offerings, bringing in an element of novelty and anticipation for customers.</p>

                            <hr>

                            <p>Embracing this brand-centric solution, <strong>LoveSlice</strong> doesn’t just sell pizza; it becomes a culinary journey that transcends geographical boundaries. It invites its patrons to explore the world through the familiar medium of pizza, allowing them to taste diverse global flavours, make connections, and create lasting memories.</p>
                        </div>

                        <div class="shadow"></div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- <section class="job bycr">
            <div class="ctnr">
                <a href="https://booksyoucouldread.com/" target="_blank" title="Visit website" class="showroom">
                    <video class="desktop lazy" autoplay playsinline muted loop poster="/portfolio/books-you-could-read/books_you_could_read_desktop.jpg"></video>
                    <video class="mobile right lazy" autoplay playsinline muted loop poster="/portfolio/books-you-could-read/books_you_could_read_mobile.jpg"></video>
                </a>
    
                <div class="content">
                    <h2>Books You Could Read</h2>
    
                    <h3>Your friendly guide to the literary world.</h3>

                    <p>"We're here to make literature less intimidating and more accessible. Dive into our discussions that break down classic and contemporary works, demystify literary themes, and bring books to life."</p>
                    
                    <div class="bt_ctnr">
                        <button type="button" class="toggle" aria-label="Open case study button">Creative Case Study</button>

                        <a href="https://booksyoucouldread.com/" target="_blank" class="external">Visit website</a>
                    </div>

                    <div class="case_study">
                        <button class="close" aria-label="Close case study button"></button>

                        <div class="shadow"></div>

                        <div class="ctnr">
                            <h4>Business Problem:</h4>
    
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident blanditiis, ipsam reprehenderit fugiat voluptas voluptate aliquam magnam corrupti sapiente quasi placeat. Nihil ipsa quas minima? Temporibus soluta sapiente et dolorem?</p>
    
                            <hr>

                            <h4>Brand-Centric Solution:</h4>
                            
                            <p>Facere impedit ea necessitatibus saepe amet delectus, quod iure consequatur et, qui tempore. Fugit minima soluta, sint repellat eum vel mollitia. Sapiente.</p>
                        </div>

                        <div class="shadow"></div>
                    </div>
                </div>
            </div>
        </section> -->
    </main>
</body>

<script>
    // Define a reusable lazy loading function
    function lazyLoad(element) {
        if (element.tagName === "VIDEO") {
            console.log(element)
            for (var source in element.children) {
                var videoSource = element.children[source];
                if (typeof videoSource.tagName === "string" && videoSource.tagName === "SOURCE") {
                    videoSource.src = videoSource.dataset.src;
                }
            }
            element.load();
        } else if (element.tagName === "IMG") {
            console.log(element)
            element.src = element.dataset.src;
        }
        element.classList.remove("lazy");
        observer.unobserve(element);
    }

    // Get all elements with the "lazy" class (videos and images)
    var lazyElements = [].slice.call(document.querySelectorAll(".lazy"));

    // Create an Intersection Observer
    var observer = new IntersectionObserver(function(entries, observer) {
        entries.forEach(function(entry) {
            if (entry.isIntersecting) {
                lazyLoad(entry.target);
            }
        });
    });

    // Observe all lazy elements
    lazyElements.forEach(function(element) {
        observer.observe(element);
    });

</script>

</Layout>