---
import FAQ from '../../components/FAQ.astro'
import ContactSection from '../../components/ContactSection.astro'

import BaseLayout from '../../layouts/BaseLayout.astro';

import '../../styles/subpages.css'

import { SITE_TITLE, SITE_DESCRIPTION, SITE_KEYWORDS} from "../../consts";
---


<BaseLayout title="Frequently Asked Questions · Clean Network" description={SITE_DESCRIPTION}  keywords={SITE_KEYWORDS}>
    <main class="faq_main">
        <div class="heading_ctnr squares_bg">
            <div class="content reveal">
                <h1>Frequently Asked Questions</h1>
            </div>
        </div>

        <div class="ctnr">
            <FAQ expanded="true" max="-1"/>
        </div>

        <ContactSection/>
    </main>
</BaseLayout>